amqp
asttokens
async-timeout
Babel
backcall
billiard
bleach
boto
boto3
botocore
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
decorator
defusedxml
Deprecated
dj-database-url
Django==3.1.4
#django-allauth==0.44.0
django-ckeditor
django-countries
django-crispy-forms
django-filter
django-js-asset
django-model-utils
django-phonenumber-field
django-ranged-response
django-recaptcha
django-social-share
django-storages
django-summernote
django-webpush
django-widget-tweaks
djangorestframework
#executing
#gunicorn
#http-ece==1.1.0
#install
#idna==2.9
#ipython
#jedi
#jmespath
#jsonfield
#kombu
matplotlib-inline
oauthlib
packaging
parso
paypalrestsdk
pdfkit
pexpect
phonenumbers
pickleshare
Pillow
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
py-vapid
pycparser
Pygments
PyJWT
pyOpenSSL
pyparsing
python-dateutil
python-decouple
python3-openid
pytz
pywebpush
requests
requests-oauthlib
s3transfer
six
sqlparse
stack-data
swapper
timezones
traitlets
typing_extensions
urllib3
vine
wcwidth
webencodings
wrapt
