{% extends 'registration/reg_base.html' %}
{% block title1 %}{% block title2 %}Login now to start your application study medicine{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %}Login and Start your medical school application now. Apply for medical schools in the UK, US, Canada, Australia, Europe and Ireland{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}https://applyformedicine.com/accounts/login/{% endblock %}{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load socialaccount %}
{% block content %}


<section class="header_area log-area bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="header-inner-wrapper">
                    <h3 data-animate="fadeInUp" data-animate-delay="5" class="login-heading">Login Page is for existing accounts holders only.
                        <br>
                        <p>If you donot have account, please sign-up using link above</p>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<form id="login-form-1" method="post">
    {% csrf_token %}
    <section class="header_area ">
        <div class="container">
            <div class="row login-detail">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="">
                        <div class="login-left-side">
                            <img src="{% static 'assets/img/login/login-img.png' %}" class="img-fluid" alt="login" title="login" width="376" height="286" loading="lazy">
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex align-items-center">
                    <div class="login-right-side" id="login-form">
                        <div class='alert alert-danger' role='alert' id='error-password' style="display:none;">Incorrect Password</div>
                        <div class="text-center mb-4" 
                            style="padding: 10px 0;box-shadow: 1px 7px 16px 4px rgb(37 59 128 / 9%); border-radius: 10px;">
                            <a href="#" class="google" data-toggle="modal"
                               data-target="#google-signup-modal">
                             <img src="{% static 'images/google-icon.png' %}" class="img-fluid" alt="google-icon" title="google-icon" width="20" height="20" loading="lazy">
                             Login with Google
                            </a>
                        </div>

                        <h6 class="text-center">OR</h6>

                        <div class="register-email mb-3">
                            Login using your existing email only*
                        </div>
                        <div class="input-group">
                            <input id="username" name="username" type="text" class="form-control border-right-0"
                                   placeholder="Username or Email" required>
                            <span class="input-group-append bg-white border-left-0">
                               <span class="input-group-text bg-transparent">
                                    <i data-feather="user"></i>
                               </span>
                           </span>
                        </div>
                        <div class="input-group">
                            <input id="password" name="password" type="password" class="form-control border-right-0"
                                   placeholder="Password" required>
                            <span class="input-group-append">
                                <span class="input-group-text bg-transparent">
                                        <i data-feather="eye" class="eye-open toggle-password"></i>
                                </span>
                           </span>
                        </div>

                        <div class='alert alert-danger' role='alert' id='error-password' style="display:none;">Incorrect Password</div>
                        <a href="{% url 'password_reset' %}" class="text-right"><span>Forgot Password?</span></a>

                        <div class="login-btn mt-2">
                            <button type="button" id="form-button" value="" class="theme-btn">Login</button>
                            <p>Don't have an account yet?<span><a
                                    href="{% url 'administration:registration' %}"> Sign Up</a></span></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</form>


<!-- Google Modal -->
<div class="modal fade" id="google-signup-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <h3 class="modal-title">Confirm Google Signup or Login</h3>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox2" required>
                    <label class="form-check-label" for="exampleCheck3">
                        By continuing Your registration You agree to our
                        <a href="{% url 'administration:terms_and_conditions' %}"
                        class="font-weight-bold" target="_blank">Terms & Conditions</a> and
                        <a href="{% url 'administration:privacy_notice' %}" class="font-weight-bold"
                           target="_blank">Privacy Policy</a> and you are over the
                        age of 15.</label>
                </div>
            </div>
            <div class="modal-footer">
                {% comment %}
                    <a href="{% provider_login_url 'google' %}" id="google_signup" class="theme-btn not-active">
                        Continue
                    </a>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>

 
{% endblock %}
{% block js %}
<script>

$(document).ready(function (){
    console.log("Login javascript triggered....");

    $("input").keypress(function(event) {
        if (event.which == 13) {
            event.preventDefault();
            $("#form-button").click();
        }
    });

    $("#form-button").click(function(){
        let username = $('input[name="username"]').val();
        let password = $('input[name="password"]').val();
        console.log("Username - ", username);
        console.log("password - ", password);
        
        if($('input[name="password"]').val() == '' || $('input[name="username"]').val() == ''){
            $("#error-password").show(500);
            $("#error-password").html('Please fill in all fields');
            return false;
        }
        $('#login-form-1').submit();
    });

    // Show password
    $("body").on('click', '.toggle-password', function() {
        $(this).toggleClass("eye eye-off");
        var input = $("input[name='password']");
        if (input.attr("type") === "password") {
            input.attr("type", "text");
            $(this).attr("class", "feather feather-eye-off eye-close toggle-password");
        } else {
            input.attr("type", "password");
            $(this).attr("class", "feather feather-eye eye-open toggle-password");
        }
    });

    // Google signup checkbox
    $("#checkbox2").change(function () {
        $('#google_signup').toggleClass('not-active');
});

});

</script>
{% endblock %}