{% extends 'registration/reg_base.html' %}
{% block title%}Create Password{% endblock %}
{% block content %}
<h1>Create New Password</h1>
<h1>test</h1>
{% if validlink %}
<form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">

        {{form.as_p}}

    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>

</form>
{% else %}
<strong style="color:red;">Invalid Token</strong>
<p><a href="{% url 'password_reset' %}">Request new password reset token</a></p>
{% endif %}
{% endblock %}