{% extends 'registration/reg_base.html' %}
{% block title1 %}{% block title2 %}Apply For Medicine | Forgotten password{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}https://applyformedicine.com/accounts/password_reset/{% endblock %}{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
    <div class="form-group">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" style="margin-top:10px; text-align:center;">{{ message }}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <section class="header_area log-area bg-1">
        <div class="container">
           <div class="row">
                 <div class="col-md-12">
                    <div class="site-breadcrub">
                       <p> <a href="#"></a><span class=""></span><span>Forgotten password </span></p>
                    </div>
                  </div>
                 <div class="col-xl-12 col-md-12">
                    <div class="header-inner-wrapper">
                       <h1 data-animate="fadeInUp" data-animate-delay="5" class="login-heading">Forgotten your password?</h1>
                    </div>
                 </div>
              </div>
           </div>
     </section>
     <section class="header_area ">
        <div class="container">
         <div class="row login-detail">
                 <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="">
                    <div class="login-left-side">
                        <img src="{% static 'assets/img/login/login-img.png' %}" class="img-fluid" alt="login" title="login" width="376" height="286" loading="lazy">
                    </div>
                 </div>

                 </div>
                 <div class="col-lg-6 col-md-12 col-sm-12 d-flex align-items-center">
                     <form action="" method="POST" class="w-100">
                         {% csrf_token %}
                    <div class="login-right-side">
<!--                       <h3>Forgotten your password?</h3>-->
                        <div class="input-group">
                            <input name="email" type="email" class="form-control border-right-0"
                                   placeholder="Your email" required>
                            <span class="input-group-append bg-white border-left-0">
                               <span class="input-group-text bg-transparent">
                                <i data-feather="mail"></i>
                               </span>
                           </span>
                        </div>
<!--                      <div class="input-group">-->
<!--                          {% render_field form.email placeholder=form.email.label class='form-control' %}-->
<!--                          <span class="input-group-append bg-white border-left-0">-->
<!--                          <span class="input-group-text bg-transparent">-->
<!--                          <i data-feather="mail"></i>-->
<!--                          </span>-->
<!--                          </span>-->
<!--                       </div>-->
                       <div class="login-btn forgot-btn">
                          <button type="submit" value="Login" class="theme-btn">Reset password</button>
                          <p>Not Signed-up yet?<span><a href="{% url 'administration:registration' %}"> Register</a></span></p>
                          <p class="back-to-login"><span>Already have an account?</span><a href="{% url 'login' %}"> Login</a></p>
                       </div>
                    </div>
                    </form>
                 </div>
              </div>
           </div>
     </section>


{% endblock %}