{% extends 'registration/reg_base.html' %}
{% block title1 %}{% block title2 %}Apply For Medicine | Password Reset{% endblock %}{% endblock %}
{% load static %}
{% block content %}

<div class="container" style="margin:20px auto; ">
        <div class="row col-sm-12 col-lg-12 col-md-12" style="text-align:center;">
            <div class="link-sent" style="margin: auto;">
<!--              <img src="{% static 'images/mail-sent.png' %}" alt="Sent" class="img-fluid">-->
              <h3>Password Changed Successfully</h3>
                <p class="back-to-login"><span></span><a href="{% url 'login' %}">Login</a></p>

            </div>
        </div>
</div>

{% endblock %}