{% extends 'registration/reg_base.html' %}
{% block title1 %}{% block title2 %}ApplyPal | Password Reset{% endblock %}{% endblock %}
{% load static %}
{% block css %}
<style>
  .link-sent {
    padding: 25px;
    background-color: #F5F8FF;
    margin: 50px;
    text-align: center;
    width: 50%;
    margin: 100px auto;
  }

  .link-sent h3 {
    margin: 20px 0px;
    color: #141E42;
  }

  .link-sent p {
    color: #777;
  }
</style>
{% endblock %}
{% block content %}

<div class="container" style="margin:20px auto">
  <div class="row col-sm-12 col-lg-12 col-md-12">
    <div class="">
      <div class="link-sent">
        <!-- <img src="{% static 'images/mail-sent.png' %}" alt="Sent" class="img-fluid"> -->
        <br>
        <h3>Link Sent</h3>
        <br>
        <p>We’ve emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly. </p>
        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with and check your spam folder.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}