{% load static %}
<footer class="footer-wrapper gen-footer">
<!--      <div class="container">-->
<!--         <div class="footer-widget-wrapper">-->
<!--            <div class="row">-->
<!--               <div class="col-md-4 col-xl-4">-->
<!--                  <div class="footer-img footer-widget d-md-flex justify-content-md-center"> <img-->
<!--                        src="{% static 'website/img/footer/tag-logo.svg' %}" alt="tag-logo" title="tag-logo" width="172" height="82" loading="lazy">-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-md-4 col-xl-4">-->
<!--                  <div class="footer-widget">-->
<!--                     <div class="widget-title">-->
<!--                        <h4>Study Medicine</h4>-->
<!--                     </div>-->
<!--                     <div class="row">-->
<!--                         <ul class="list-icon list-icon-check col-md-12 col-lg-6 col-xl-6">-->
<!--                             <li> <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a> </li>-->
<!--                             <li> <a href="{% url 'administration:study_medicine_in_ireland' %}">Medical Schools in Ireland</a> </li>-->
<!--                             <li> <a href="{% url 'administration:study_medicine_in_europe' %}">Medical Schools in Europe</a> </li>-->
<!--                             <li> <a href="{% url 'administration:study_medicine_in_the_usa' %}">Study Medicine in the USA</a> </li>-->
<!--                         </ul>-->
<!--                         <ul class="list-icon list-icon-check col-md-12 col-lg-6 col-xl-6">-->
<!--                             <li> <a href="{% url 'administration:study_medicine_in_canada' %}">Study Medicine in Canada</a> </li>-->
<!--                             <li> <a href="{% url 'administration:study_medicine_in_australia' %}">Study Medicine in Australia</a> </li>-->
<!--                             <li> <a href="{% url 'administration:study_medicine_in_the_caribbean' %}">Study Medicine in the Caribbean</a> </li>-->
<!--                         </ul>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-md-4 col-xl-4">-->
<!--                  <div class="footer-widget">-->
<!--                     <div class="widget-title">-->
<!--                        <h4>About Us</h4>-->
<!--                     </div>-->
<!--                     <div class="row">-->
<!--                        <ul class="list-icon list-icon-check col-md-12 col-lg-6 col-xl-6">-->
<!--                           <li> <a href="{% url 'administration:terms_and_conditions' %}" target="_blank">Terms & Conditions</a> </li>-->
<!--                           <li> <a href="{% url 'administration:privacy_notice' %}" target="_blank">Privacy Notice</a> </li>-->
<!--                           <li> <a href="{% url 'administration:cookies_policy' %}" target="_blank">Cookie Policy</a> </li>-->
<!--                           <li> <a href="{% url 'administration:safeguarding_policy' %}" target="_blank">Safeguarding Policy</a> </li>-->
<!--                           <li> <a href="{% url 'administration:online_safety' %}" target="_blank">Online Safety</a> </li>-->
<!--                           <li> <a href="{% url 'administration:codes_of_conduct' %}" target="_blank">Codes of Conduct</a> </li>-->
<!--                           <li> <a href="https://applyforuniversity.com" target="_blank">Apply for University</a> </li>-->
<!--                           <li> <a href="https://applyforinternships.com" target="_blank">Apply for Internships</a> </li>-->
<!--                        </ul>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--      </div>-->
      <div class="copyright">
         <div class="col-md-12 col-xl-12">
              <div class="footer-widget">
                 <ul class="address-list">
                    <li>
                       <ul class="footer-social">
                          <li><a href="#" target="blank"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
                          <li><a href="#" target="blank"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
                          <li><a href="#" target="blank"><i class="fab fa-youtube"></i></a></li>
                          <li class="tiktok-icon"><a href="#" target="blank">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#141e42">
                                  <path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"></path>
                              </svg></a></li>
                          <li><a href="#" target="blank"><i class="fab fa-whatsapp"></i></a></li>
                       </ul>
                    </li>
                 </ul>
              </div>
         </div>
         <div class="container">
            <p class="text-center">Powered by <a href="https://theapplygroup.com/" target="_blank"><img src="{% static 'website/img/content-img/Tag.png' %}" class="afm-font-500">  </p>
         </div>
      </div>
   </footer>
