{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medical Course at Medical University Sofia{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %}Find medical students to assist with your application to study medicine in Bulgaria.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/medical-schools-in-europe/studying-medicine-at-medical-university-sofia/
{% endblock %}{% endblock %}
{% block content %}

<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine_in_europe' %}">Medical Schools In
                                Europe</a>
                            <span> >
                            </span>Medical University Sofia
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Medical University Sofia</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical University in Bulgaria</p>
                    </div>
                </div>
                <!-- <div class="col-xl-6 col-md-6">
<div class="right-icon-img-area">
<img src="{% static 'website/img/content-img/studying-medicine-at-university-of-cambridge.png' %}" class="img-fluid" alt="Why be an ambassador, when you can mentor?">
</div>
</div> -->
            </div>
        </div>
    </section>
    <section class="afm-content-area pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Studying medicine at Medical University Sofia</h2>
                        <p>
                            <strong>Studying Medicine in the Land of Roses. Doesn’t that sound nice?</strong>
                        </p>
                        <p>Bulgaria, the land of roses, gives you this opportunity! The Medical University Sofia
                            issituated in the capital of Bulgaria, close to the city centre, presenting students
                            theoption of being close to the cultural hub of Sofia. The campus is huge, witha few
                            hospitals and university buildings on it. The dentistry building is close too. Thecampus can
                            be entered from various entrances, each of them close to different forms ofpublic transport.
                            Be it Bus, Tram or Metro,everything will take you there.</p>
                        <p>Despite being in Bulgaria, the language of study is English. The medical degree is 6years
                            long, the first two being the preclinical years, the third year a bridge to theclinical
                            years and the next 3 years are the clinical years. Applying to this universitycan be a bit
                            tricky and confusing due to the language-barrier (Bulgarian is the officiallanguage here).
                            But there are various organizations available that will take theapplication process off your
                            hands, along with thetranslation of documents and provision of accommodation.</p>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>
                            <span class="font-weight-600">Year 1: </span>In the first year the students are easedinto
                            the process of studying anatomy. I personally loved the step-wise slow exposure tothe
                            different levels of studying anatomy. Westarted with being taught basic terminology. Once we
                            had that in, we were exposed tobones and then moved on to study muscles and nerves in the
                            anatomy lab. Cytology taughtus the proper usage of a microscope to study cells.We had
                            Biology too, which included Parasitology. That subject left its mark! Other thanthat we
                            studied Chemistry, Physics and Latin. Since we would need to know Bulgarian tolive in
                            Bulgaria, Bulgarian was a subject too.
                        </p>
                        <p>
                            <span class="font-weight-600">Year 2: </span> Anatomy and Bulgarian were continued insecond
                            year. Cytology turned into Histology, with more focus on tissues and organs. Allseminars had
                            a heavy focus on practical parts,with biochemistry regularly asking students to create
                            presentations to explain thetopics and biophysics and physiology conducting all experiments
                            in their labs.
                        </p>
                        <p>
                            <span class="font-weight-600">Year 3: </span> 3rd year introduces students to theclinics for
                            the first time, through the subject Internal medicine. Students learn thebasics of the
                            physical exam and the importance of historytaking. Pharmacology is a heavy focus, along with
                            Pathophysiology. The studies from nowon are more clinics-based and more revolving around the
                            human body. Microbiology andpathology are introduced too.
                        </p>
                        <p>After 3rd year, the learning system changes. Exams are not conducted just at thesemester-ends
                            anymore and subjects are not studied throughout the whole semester. From4th year on students
                            go through a cycle-system; one speciality is studied for 30 daysand then followed by an
                            exam.</p>
                        <p>
                            <span class="font-weight-600">Year 4 & 5: </span> Students find themselves in theclinics,
                            accompanying doctors and visiting patients. They can read through reports,witness medical
                            procedures and learn to develop treatmentplans. Various specialities are covered in this
                            way.
                        </p>
                        <p>
                            <span class="font-weight-600">Year 6: </span> The final year follows the cycle-systemtoo,
                            for a short time though. After that state exams are conducted. Once the state examsare done,
                            It’s time for <b>GRADUATION !</b>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pb-2 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <h3>Get mentored by medical student at Medical University Sofia</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <ul class="grade-li">
                            <li>Before coming into the medicine you need be sure that it is the right path for
                                you.Concepts will be taught to you by the professors and doctors, but Self-study will
                                bewhat you’ll be doing the most. There is no way pastthat. You’ll be spending a lot of
                                time preparing your notes.</li>
                            <li>Since you’ll be studying in Bulgaria, a country where English is not the
                                primarylanguage, you will have to learn Bulgarian</li>
                            <li>Manchester is unique as they no longer use personal statements in the
                                applicationprocess, opting instead to ask applicants to complete a non-academic form.
                                This formdiscusses topics such as motivation for medicine, hobbiesand interest, team
                                working, and experience in a role of care. It is crucial to havesomeform of volunteering
                                experience or work experience completed as the universityplaceslots of emphasis on this
                                aspect of the application.It is also important to not just copy and paste your personal
                                statement into thisformand create structured and insightful answers that show what you
                                have learned fromyourexperiences.</li>
                        </ul>
                    </article>
                </div>
                <div class="col-md-8">
                    <ul class="grade-li">
                        <li>If you are not from Bulgaria and decide to study here, you will be away from home mostof the
                            time. You won’t just be a 2-hour drive, but a whole 2-hour flight away from yourhometown. Be
                            ready to be homesick once in a while.</li>
                    </ul>
                    <p class="mb-5">
                        <em> -by <strong>Navneet, </strong>
                            <a href="{% url 'administration:study_medicine_in_europe' %}"
                                class="afm-link">studying medicine in Europe</a> at MUS</em>
                    </p>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/medical-student-at-medical-university-sofia.jpeg'%}"
                            class="img-fluid rounded-circle" alt="medical-student-at-medical-university-sofia" title="medical-student-at-medical-university-sofia" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}