{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine at the Medical University of Silesia, Poland{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %}Contact medical students to assist with your application to study medicine in Poland.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/medical-schools-in-europe/studying-medicine-at-the-medical-university-of-silesia/
{% endblock %}{% endblock %}
{% block content %}

<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">International Foundation Group</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study
                                Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine_in_europe' %}">Medical Schools In
                                Europe</a>
                            <span> >
                            </span>Medical University of Silesia
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">The Medical University of Silesia,Katowice,
                            Poland</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in Poland</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="afm-content-area pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at the Medical University of Silesia, Katowice, Poland</h2>
                        <p>The Medical University of Silesia (SUM) is located in Katowice, an emerging metropolitancity
                            in the southern region of Poland. The university has been running its English Division
                            programme since 1996 and educates international students through the graduateentry led
                            4-year American MD structure. Studying in Poland provides the opportunity tosave on living
                            costs whilst also allowing you to travel and explore Poland. As thedegree is recognised by
                            the GMC, you will be eligible for applying to the UK Foundation Programme should you wish to
                            do so.</p>
                    </article>
                    <h3>Pre-Clinical Years - 1 & 2</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>
                            <span class="font-weight-600">Year 1: </span> First year medical students experience avaried
                            and diverse timetable with each week comprising of lectures, seminars and smallgroup-work
                            teaching to help tackle their learning from every perspective. Students havethe opportunity
                            to learn anatomy, physiology, histology and biochemistry in great depthas dissection rooms
                            and teaching labs have extensive opening hours. There areintroductory clinical classes
                            whereby students are exposed to patients and are able toappreciate the basics of clinical
                            management. Polish classes are also provided tostudents to enable them to learn the basics
                            of the language and aid them in settlinginto the country. The first year allows students to
                            become accustomed with Poland andthe foundations of medicine, whilst keeping them on their
                            toes with frequentassessments.
                        </p>
                        <p>
                            <span class="font-weight-600">Year 2: </span> Year two strengthens student’sunderstanding of
                            pre-clinical medical sciences whilst aiding the transition to clinicalsciences. Modules such
                            as Pathology, Pharmacology and Pathophysiology allow students toapply their knowledge from
                            basic sciences to understanding key clinical concepts and ingreat depth. More time is spent
                            in hospital in the second year as students begin tograsp key clinical skills during their
                            Physical Examination and Clinical Analysismodules. By the end of the second year, should
                            students wish to sit the USMLE exam forhospital rotations in the US they can then apply for
                            this.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <h3>Clinical Years – 3, 4 & 5</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>Rotations, or placements, can be carried out in Poland or with an international hospitalwhich
                            is officially affiliated with the university, including several hospitals in theUS.</p>
                        <p>
                            <span class="font-weight-600">Year 3: </span> From third year onwards students areexposed to
                            full clinical placement 5 days a week. Placements are carried out in internalmedicine,
                            surgery, paediatrics and obstetrics and gynaecology covering the vast array ofspecialties.
                            Each module is concluded by an examination allowing students to beperiodically tested. The
                            focus of theoretical learning switches from primarilylecture-based to self-directed
                            learning. Although there are lectures almost everyday,the amount of learning students are
                            expected to do on their own does increase from thesecond year.
                        </p>
                        <p>
                            <span class="font-weight-600">Year 4: </span> The final year builds upon the knowledgeand
                            skill base acquired from third year as students gain experience in psychiatry,family
                            practice, paediatrics and electives. Students who remained in Poland have theoption to carry
                            out electives in any other hospital - of which many students decide tocarry out in the UK.
                            It is at this point, for students transitioning back to the UK,undergo the application
                            process for the UK Foundation programme and begin to sit examssuch as the SJT.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pb-2 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <h3>Advice for Applicants | Get mentored by medical students at the Medical University ofSilesia,
                        Katowice, Poland</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>The entrance exam - an oral examination with set discussion topics from biology,chemistry and
                            physics as well as a discussion of the students’ motives. Presentingoneself as determined
                            but also friendly and empathetic will enable you to succeed in theexamination.</p>
                        <p>Polish medical universities - before applying, be sure to compare with otheruniversities to
                            make an informed decision as to which university best suits you. It canbe fair to assume
                            that universities have a one-size-fits-all approach, however be sureto research student
                            satisfaction rates and to visit the universities if possible to bestdecide which programmes,
                            campuses and cities are akin to your preferences, budget andstyle of learning.</p>
                        <div class="row">
                            <div class="col-md-8 col-xl-8">
                                <p>
                                <h3>The degree programme is 6 years in its entirety, with the following structure: </h3>
                                </p>
                                <ul class="grade-li">
                                    <li>Pre-Med (Years 1 and 2) - this is typically taught at an undergraduate level
                                    </li>
                                    <li>Med - Pre-clinical (Years 1-2) -entrance into the third year is granted
                                        forgraduates, this is typically the recommended route of entry for
                                        thisuniversity</li>
                                    <li>Med - clinical (Years 3-4) - rotations or placements can be carried out inPoland
                                        or with any hospital affiliated with the university</li>
                                </ul>
                                <p class="mb-5">
                                    <em> -by <strong>Faraaz, </strong>
                                        <a href="{% url 'administration:study_medicine_in_europe' %}"
                                            class="afm-link">studying medicine in Europe</a> at MUS in Katowice,
                                        Poland</em>
                                </p>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="afm-student-img">
                                    <img src="{% static 'website/img/content-img/medical-student-at-the-medical-university-of-silesia.jpg' %}"
                                        class="img-fluid rounded-circle" alt="medical-student-at-the-medical-university-of-silesia" title="medical-student-at-the-medical-university-of-silesia" width="290" height="290" loading="lazy">
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:contact_us' %}" class="theme-btn">Join
                                Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</main> {% endblock %}