{% load static %}
<div class="az-footer pt-3">
    <div class="d-flex justify-content-center">
        <ul class="list-icon list-icon-check col-md-12 col-lg-10 col-xl-7 d-flex justify-content-between">
            <li> <a href="{% url 'administration:terms_and_conditions' %}" target="_blank">Terms & Conditions</a> </li>
            <li> <a href="{% url 'administration:privacy_notice' %}" target="_blank">Privacy Notice</a> </li>
            <li> <a href="{% url 'administration:cookies_policy' %}" target="_blank">Cookie Policy</a> </li>
            <li> <a href="{% url 'administration:safeguarding_policy' %}" target="_blank">Safeguarding Policy</a> </li>
            <li> <a href="{% url 'administration:online_safety' %}" target="_blank">Online Safety</a> </li>
            <li> <a href="{% url 'administration:codes_of_conduct' %}" target="_blank">Codes of Conduct</a> </li>
        </ul>
    </div>
    <div class="container">
      <span>&copy; 2020 - 2022 Copyright The Apply Group Ltd. All Rights Reserved.</span>
    </div><!-- container -->
</div><!-- az-footer -->