{% load static %}
{% load notifications_tags %}
{% load administration_extras %}
<div class="afm-header">
  <div class="ribbon"><span>Beta</span></div>
  <div class="container">
    <div class="afm-header-left">
        <a href="/" class="afm-logo"><span></span>
          <img src="{% static 'assets/img/logo/logo.png' %}" alt="IFG-logo">
        </a>
      <a href="#" id="azMenuShow" class="afm-header-menu-icon d-none d-lg-none d-xl-none d-lg-none"><span></span></a>
    </div><!-- afm-header-left -->
    
    <div class="afm-header-menu">
      <div class="afm-header-menu-header">
        <a href="#" class="afm-logo"><span></span> AFM</a>
        <a href="#" class="close">&times;</a>
      </div><!-- afm-header-menu-header -->
      
      <ul class="nav">
        {% if user.user_type == 3 or user.user_type == 5 or user.user_type == 12 %}
        {% else %}
        <li class="nav-item ">
          <a href="{% url 'administration:dashboard' %}"><i data-feather="grid"></i></a>
          <a href="{% url 'administration:dashboard' %}" class="nav-link"> Dashboard</a>
        </li>
        {% endif %}
        
        {% if user.user_type == 2 %}
        <li class="nav-item show">
          <a href="{% url 'administration:institute_mentors_twfl' %}" class="nav-link">Alumni at {{user.institute.institute_name}}</a>
        </li>
        <li class="nav-item show">
          <a href="{% url 'administration:how_it_work_twfl' %}"><i data-feather="user"></i></a>
          <a href="{% url 'administration:how_it_work_twfl' %}" class="nav-link">How it Works</a>
        </li>
        <li class="nav-item show">
          <a href="{% url 'logout' %}"><i data-feather="log-out"></i></a>
          <a href="{% url 'logout' %}" class="nav-link"> Sign Out</a>
        </li>
        <li class="nav-item">
          <a href="#"><button class="btn btn-rounded btn-indigo">ApplyPool <span class="register-mark"> &#174; </span></button></a>
        </li>
        {% endif %}
        
        {% if user.user_type == 3 or user.user_type == 5 %}
        <li class="nav-item">
          <a href="{% url 'administration:new_search_alumni' %}"><i data-feather="search"></i></a>
          <a href="{% url 'administration:new_search_alumni' %}" class="nav-link">Search Alumni</a>
        </li>
        {% endif %}
        
        {% comment %}
        {% if user.user_type == 3 or user.user_type == 4 or user.user_type == 5 %}
        <li class="nav-item">
          <a href="{% url 'bookings:appointment' %}"><i data-feather="bookmark"></i></a>
          <a href="{% url 'bookings:appointment' %}" class="nav-link">Appointments</a>
        </li>
        {% endif %}
        {% endcomment %}

        {% comment %}
        {% if user.user_type == 3 %}
        <li class="nav-item">
          <a href="{% url 'application:application_consent_twfl' user.application.all.first.slug %}"><i data-feather="clipboard"></i></a>
          <a href="{% url 'application:application_consent_twfl' user.application.all.first.slug %}" class="nav-link">Build your CV</a>
        </li>
        {% endif %}
        {% endcomment %}
        
        {% if user.user_type == 4 %}
<!--        <li class="nav-item">-->
<!--          <a href="{% url 'blogs:blogs_list' %}"><i data-feather="clipboard"></i></a>-->
<!--          <a href="{% url 'blogs:blogs_list' %}" class="nav-link">My Blogs</a>-->
<!--        </li>-->
        {% if user.slug == special_mentor_slug %}
        <li class="nav-item">
          <a href="{% url 'administration:search_students_twfl' %}"><i data-feather="search"></i></a>
          <a href="{% url 'administration:search_students_twfl' %}" class="nav-link">Search Students</a>
        </li>
        {% endif %}
<!--        <li class="nav-item show">-->
<!--          <a href="{% url 'administration:upload_public_information_twfl' %}" ><i data-feather="edit"></i></a>-->
<!--            <a href="{% url 'administration:upload_public_information_twfl' %}" class="nav-link">Edit My Profile</a>-->
<!--        </li>-->
        {% endif %}

        <!-- Conversations -->
        {% if user.user_type == 0 or user.user_type == 1 %}
        <li class="nav-item">
          <a href="{% url 'messaging:conversations' %}" class="new new-msg"><i data-feather="pocket"></i>
          </a>
          <a href="{% url 'messaging:conversations' %}" class="nav-link">Conversations</a>
        </li>
        {% endif %}

        {% if user.user_type == 4 or user.user_type == 0 or user.user_type == 1 or user.user_type == 3 or user.user_type == 5 or user.user_type == 11 or user.user_type == 12 %}
        <li class="nav-item">
          <a href="{% url 'messaging:comment_list_user_twfl' %}" class="new new-msg"><i data-feather="message-square"></i>
          {% live_unread_comments %}
          </a>
          <a href="{% url 'messaging:comment_list_user_twfl' %}" class="nav-link">Messages</a>
        </li>
        {% endif %}

      </ul>
    </div>
    
    <div class="afm-header-right">
      {% if user.user_type == 2 %}
      {% else %}
      <div class="dropdown az-profile-menu afm-help">
        <a href="#" class="afm-help-text d-none d-lg-block d-xl-block">Help?</a>
        <div class="dropdown-menu">
          <div class="az-dropdown-header mg-b-20 d-sm-none">
            <a href="#" class="afm-header-arrow"><i data-feather="arrow-left"></i></a>
          </div>
          <!-- <a href="{% url 'faqs:list-faq' %}" class="dropdown-item"><i data-feather="edit"></i>FAQs</a>-->
          <a href="{% url 'feedback:feedback-create' %}" class="dropdown-item"><i data-feather="lock"></i>Feedback</a>
          <a href="{% url 'administration:tech_support_twfl' %}" class="dropdown-item"><i
              data-feather="settings"></i>Help</a>
        </div><!-- dropdown-menu -->
      </div><!-- afm-header-notification -->

      <!-- afm-header-message -->
      <div class="dropdown afm-header-notification">
        <!-- <div class="afm-header-notification"> -->
        <a href="#" class="{% if user.notifications.unread.count %}new{% endif %}"><i data-feather="bell"></i> 
        {% if user.notifications.unread.count %} {% live_notify_badge %} {% endif %} </a>
        <div class="dropdown-menu">
          <div class="az-dropdown-header mg-b-20 d-sm-none">
            <a href="#" class="afm-header-arrow"><i data-feather="arrow-left"></i></a>
          </div>
          <h6 class="az-notification-title">Notifications</h6>
          <p class="az-notification-text">You have {% live_notify_badge %} unread notification</p>
          <!--              <div class="dropdown-divider mt-0"></div>-->
          <ul class="live_notify_list"></ul>
          <div class="dropdown-footer">
            <a href="{% url 'notifications:all_notification' %}">View All Notifications</a><br>
            <a href="{% url 'notifications:mark_all_as_read' %}">Clear Notifications</a>
          </div>
        </div>
      </div>
      <!-- afm-header-notification -->

      <div class="dropdown az-profile-menu d-none d-lg-block d-xl-block">
        <a href="#" class="az-img-user">
          {% if user.user_type == 4 %}
              {% if current_pi_user.profile_pic %}
              <img src="{{current_pi_user.profile_pic.url}}" alt="{{user.get_first_name}}">
              {% else %}
              <img src="{% static 'images\default_profile.png' %}" alt="{{user.get_first_name}}">
              {% endif %}
          {% else %}
              {% if user.profile_pic %}
              <img src="{{user.profile_pic.url}}" alt="{{user.get_first_name}}">
              {% else %}
                {% if user.user_type == 0 %}
                <img src="{% static 'img/university/afu-university-icons.png' %}" alt="{{user.get_first_name}}">
                {% else %}
                <img src="{% static 'images/default_profile.png' %}" alt="{{user.get_first_name}}">
                {% endif %}
              {% endif %}
          {% endif %}
        </a>

        <div class="dropdown-menu">
          <div class="az-dropdown-header d-sm-none">
            <a href="#" class="afm-header-arrow"><i data-feather="arrow-left"></i></a>
          </div>
          <div class="afm-header-profile">
            <div class="az-img-user">
              {% if user.user_type == 4 %}
                  {% if current_pi_user.profile_pic %}
                  <img src="{{current_pi_user.profile_pic.url}}" alt="{{user.get_first_name}}">
                  {% else %}
                  <img src="{% static 'images\default_profile.png' %}" alt="{{user.get_first_name}}">
                  {% endif %}
              {% else %}
                  {% if user.profile_pic %}
                  <img src="{{user.profile_pic.url}}" alt="{{user.get_first_name}}">
                  {% else %}
                    {% if user.user_type == 0 %}
                    <img src="{% static 'img/university/afu-university-icons.png' %}" alt="{{user.get_first_name}}">
                    {% else %}
                    <img src="{% static 'images/default_profile.png' %}" alt="{{user.get_first_name}}">
                    {% endif %}
                  {% endif %}
              {% endif %}
            </div><!-- afm-img-user -->
            <h6 class="text-capitalize">{{user.get_first_name}} {{user.get_last_name}}</h6>
            <span class="text-center">Your {{user.user_type|getuser}} ID: <span class="text-uppercase">{{user.slug}}</span> </span>
          </div><!-- afm-header-profile -->
          
          {% if user.user_type == 4 %}
          <a href="{% url 'administration:upload_public_information_twfl' %}" class="dropdown-item"><i data-feather="edit"></i>Edit
            Profile</a>
          {% endif %}
          {% if user.user_type == 5 %}
          <a href="{% url 'administration:parent_profile_twfl' request.user.slug %}" class="dropdown-item"><i
              data-feather="user"></i>My Profile</a>
          {% endif %}
          <a href="{% url 'password_change' %}" class="dropdown-item" data-toggle="modal"
            data-target="#exampleModalCenter"><i data-feather="lock"></i> Change Password </a>
          <a href="{% url 'logout' %}" class="dropdown-item"><i data-feather="log-out"></i> Sign Out</a>
        </div><!-- dropdown-menu -->
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
