{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine at University of Edinburgh Medical School in UK{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Consider studying Medicine at one of the most renowned uni schools in Scotland, UK. The
University of Edinburgh offers a competitive medical degree course.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-edinburgh/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Edinburgh
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Edinburgh</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in Scotland</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>Years 1-3: £32,100 pa; Years 4-6: £49,900 pa</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at The University of Edinburgh</h2>
                        <p>Medicine at Edinburgh is a six-year course that aims to shape medical doctors who
                            arewell-equipped to face the challenges presented by modern medicine.</p>
                        <p>The first two years involves studying anatomy, microbiology, pathology, social sciencesand
                            ethics.Basic clinical skills are also taught through workshops, GP placements andcommunity
                            projects including certain consultation skills, resuscitation/firstaid, and clinical
                            reasoning, etc.</p>
                        <p>In the third year students undertake a intercalation degree in a field of interest thatalso
                            involves a research project and obtain a BMedSci (Hons) degree at the end of it.Such
                            programmes offered include biochemistry, neuroscience, sport-science medicine,pharmacology,
                            psychology and zoology, etc.</p>
                        <p>In the fourth and fifth year students focus on expanding skills, knowledge andexperience of
                            clinical practice in a range of attachments at hospitals, GPs and otherhealthcare settings.
                            In the fifth in particular, students obtain a vast range ofexperiencein different medical
                            and surgical specialties.</p>
                        <p>The final year predominantly focuses on preparation for the Foundation Programme thatstudents
                            will enter shortly after graduation and the roles and responsibilities involvedin being a
                            junior doctor.After the final year student can also undertake anelective abroad or in the UK
                            to get a chance to experience Medicine in differentcultures or countries or in a special
                            area of interest.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h3>Get mentored by medical students at University of Edinburgh</h3>
                        <em>
                            <p> Edinburgh runs a six-year MBChB programme, delivered through a combination of didactic
                                teaching (lectures, seminars), interactive sessions (tutorials, small-group teaching),
                                hands-on learning opportunities (clinical skills teaching, GP placements), with a strong
                                focus on developing well-rounded, conscientious clinicians and academics.</p>
                            <p> Edinburgh is one of the earliest medical schools (if not the first) to incorporate
                                formal data science teaching into its MBChB programme, in the belief that the doctors of
                                tomorrow should possess skillsets that better embrace developments and technological
                                advancements in medicine and medical research.</p>
                            <p> The course adopts a three-phase approach. The first phase (Years 1 and 2) place more
                                emphasis on the medical sciences, with students learning about the scientific and
                                clinical discoveries that form the basis of evidence-based medicine. Despite a focus on
                                pre-clinical knowledge during this initial phase, opportunities for clinical exposure
                                and clinical skills development exist - clinical skills teaching sessions are delivered
                                periodically throughout the year; additionally, Year 2 students undertake the
                                Introduction to Clinical Practice (ICP) module, where clinical examination and
                                history-taking skills are taught by a designated GP tutor in a general practice setting.
                            </p>
                            <p> The second phase consists of a single (mandatory*) Intercalated year, with all Year 3
                                MBChB students undertaking a BMedSci (Hons) degree of their choosing. A total of 23*
                                distinct options for intercalation exist, providing students with ample opportunities to
                                explore an area of interest to them outside Medicine, while providing opportunities to
                                develop research skills at one of the world’s most renowned research universities. For
                                students who are especially inclined to academia, and who are deeply interested in
                                undertaking additional training in research, a number of intercalated PhD opportunities
                                exist.</p>
                            <p> In the final clinical phase (three years), students will be afforded the opportunity to
                                apply the skills and knowledge they have accrued over the years in a clinical setting,
                                through clinical placements in the teaching hospitals and GP practices in and around
                                Edinburgh, as well as further afield in other regions of Scotland. Beginning in Year 5,
                                students will have the opportunity to explore certain specialty areas and undertake a
                                research project in collaboration with a clinical tutor. Year 6 focuses on the
                                refinement of previously-developed practical skills, as well as the development of more
                                advanced clinical skills in areas such as general and acute medicine, emergency
                                medicine, surgery, anaesthetics and intensive care. Opportunities to undertake an
                                elective outside the UK for 6 weeks exist after Year 6 finals, and is an opportunity to
                                explore practicing medicine in a non-UK setting.</p>
                            <div class="row">
                                <div class="col-md-8">
                                    <p>
                                        <em>Saya sudi membantumu sepanjang proses permohonan kursus perubatan
                                            diUniversity of Edinburgh - usahlah segan bertanya tentang pengalaman
                                            sayasebagai pelajar perubatan di Edinburgh!</em>
                                    </p>
                        </em>
                        <p>请·多多指教！希望您愿意前来与我交谈 也希望我能够为您解答您对爱丁堡医学系的任何疑问！</p>
                        <p class="mb-5">
                            <em> -by <strong>Edward, </strong>currently <a
                                    href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studying medicine in Scotland</a>, at the University of
                                Edinburgh</em>
                        </p>
                </div>
                <div class="col-md-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/medical-student-at-the-university-of-edinburgh.png' %}"
                            class="img-fluid rounded-circle" alt="medical-student-at-the-university-of-buckingham" title="medical-student-at-the-university-of-buckingham"  width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
            </article>
        </div>
        </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}