{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Apply to Study Medicine at Peninsula Medical School in the UK{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Select from a number of health-related courses such as Medicine, Nursing, and Radiography with
Peninsula School of Medical & Dentistry in England.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%} https://applyformedicine.com/uk-medical-schools/studying-medicine-at-peninsula-medical/
{% endblock %}{% endblock %}
 {% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">International Foundation Group</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>Peninsula medical school
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Peninsula medical school</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <!-- <div class="col-xl-6 col-md-6">
<div class="right-icon-img-area">
<img src="{% static 'website/img/content-img/studying-medicine-at-university/-of-cambridge.png' %}" class="img-fluid" alt="Why be an ambassador, when you can mentor?">
</div>
</div> -->
            </div>
        </div>
    </section>
    <section class="afm-content-area pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at Peninsula medical school</h2>
                        <p>Peninsula’s five-year integrated medical course structures their course according to the human
                            life cycle and combines small-group teaching and enquire-based learning with
                            other traditional teaching methods.</p>
                        <p>The first year involves learning the fundamentals of medical science including development
                            through the human life course from start to end and case-based learning using clinical
                            scenarios. Students also gain early clinical exposure and patient contact in some community
                            healthcare settings.In the second year, students will look intopathology and presentation of
                            disease as well as the social context of health and illness. There will be more placements in
                            GPs that includes learning about chronic illness and its impact on patients.</p>
                        <p>The third year focuses on the three pathways of care (acute care, ward care and integrated
                            ambulatory care). Clinical education expands from this year with more placements in hospitals
                            in Plymouth, South Devon and other local community healthcare settings.In the fourth year,
                            some focus shifts to continuing care, palliative care and oncology and students continue to
                            develop and expand their clinical skills, knowledge andprofessionalism. In the final year
                            students consolidate their clinical knowledge, gain more experience by working within a
                            clinical team in Torbay or Derriford hospital and, in general, prepare for their future role
                            as a juniordoctor.</p>
                        <p>Peninsula also offers Special Study Units throughout the course and the chance for students to
                            obtain an intercalated degree.</p>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h3>Get mentored by medical students at Peninsula medical school</h3>
                        <em>
                            <p>Hi, my name is Krishna and i'm a 4th year medical student at Peninsula medical school. I
                                amreally enjoying medicine and have a keen interest in reconstructive surgery.</p>
                            <p>My journey starts at GCSEs when i started to seriously consider a career in medicine after
                                a work experience placement at my local hospital. Unfortunately, I did not have a great
                                study technique and did poorly in my GCSEs. Reflecting on this and improving, I
                                achieved excellent grades at A level however, I could only apply to 4 medical schools due
                                to my GCSE grades. Due tomy experiences, I am critically aware of how to improve study
                                technique and how to do well atthe medical school application process.</p>
                            <p>While Peninsula Medical school wasn’t my first choice, I have come to regret wanting to
                                go anywhere else!</p>
                            <p>Peninsula Medical school uses an evidenced based curriculum incorporating PBL andthe
                                spiral curriculum heavily to create a program that will prepare you very well for being
                                afoundationdoctor. In the first 2 years, you will learn anatomy, pathophysiology and
                                basic clinical skills.At Peninsula, you will have clinical exposure from 1st year,
                                through general practise and community health placements.</p>
                            <p>Clinical years start from year 3, where you will rotate through nearly every specialty
                                from years 3-5 at one of the south-west largest hospitals - Derriford. This hospital is
                                a regional trauma centre housing many specialties including cardiothoracis,
                                neurosurgery,transplant surgery and plastics. The clinical year programme will help you
                                get a good overview of what each specialty does and will help you in deciding which
                                specialty you will ultimately go into.Peninsula Medical school is brilliant at providing
                                practical skills training and giving you ward experience so you feel ready to be a
                                foundation doctor. As well as a great medical school, the student societies such as MedSoc
                                run tonnes of events catered for everyone! Including a Winterand Summer formal Ball,
                                you’ll never be figuring out how to let out steam after along week ofstudying!</p>
                            <div class="row">
                                <div class="col-md-8 col-xl-8">
                                    <p>Plymouth is an amazing place to go to medical school. Theres been so manytimes
                                        that Ivefinished studying for the day and thought “I want to go to the beach”.
                                        Whichis great because the beaches are only 10 minutes away, and so is the Hoe and
                                        the Barbican! Or if Iwant to have a run in the moors, with stunning views for
                                        miles, Dartmoornational park isonly 20 minutes down the road! If you enjoy
                                        waterspouts or the outdoors,theres no betterplace than Plymouth to be at medical
                                        school.</p>
                                    <p class="mb-5">-by <strong> Krishna, </strong>
                                        <a href="{% url 'administration:uk_medical_schools' %}"
                                            class="afm-link">studying medicine in the UK</a>, at Peninsula medical school
                                    </p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <div class="afm-student-img">
                                        <img src="{% static 'website/img/content-img/medical-student-at-the-university-of-peninsula.jpg' %}"
                                            class="img-fluid rounded-circle" alt="medical-student-at-the-university-of-peninsula" title="medical-student-at-the-university-of-peninsula" width="290" height="290" loading="lazy">
                                    </div>
                                </div>
                            </div>
                        </em>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}