{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine at Hull York Medical School, University of York{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Hull York Medical School in England offers the finest courses in the field of medicine which
not only helps you learn but also applies in your career.{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}https://applyformedicine.com/uk-medical-schools/studying-medicine-at-hull-york-medical-school/{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>Hull York Medical School
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Hull York Medical School</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£36,750 per year</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>PBL</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <h2>Study Medicine at Hull York Medical School</h2>
                    <article>
                        <p>Hull York offer a five-year integrated course at their medical school formed between the
                            University of Hull and the University of York. Scientific knowledge taught early on in the
                            course is clinically-contextualised so that students learn from the beginning how to start
                            thinking clinically. Student receive early exposure to the clinical environment in addition
                            to lectures, problem-based teaching and clinical skills sessions. The course can be divided
                            in the three phases.</p>
                        <p>Phase one (first two years), during which medical fundamentals are taught, also involves
                            short placements across the year. Students return to the same clinical institution each time
                            in order to gain experience of working with a team of clinicians or health care workers.</p>
                        <p>In phase two (third and fourth year),clinical education expands through a multitude of
                            placements throughout the year in hospitals, GPs. Vital skills in patient examination and
                            history-taking and clinical reasoning are also developed further in students.</p>
                        <p>In the third phase, during the final year, students undertake an elective, abroad or in the
                            UK, to enhance their experience of medicine in the world. Students also become a junior
                            member of clinical team to allow them to get an experience of their future role as foundation
                            doctor by working similar hours and rotations between different specialties. This
                            preparation for future practice is facilitated by surgical attachments and an assistantship
                            after graduation.</p>
                        <p>Students can also take part in Scholarship and Special Interest Programmes (SSIPs) which
                            allowthem to choose to explore and focus on areas of study of interest to them and a chance
                            to enhance research skills.</p>
                        <p>Students can also take an intercalation year between the third and fourth year to obtain a
                            degree in a field of interest to them.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Get mentored by medical students at Hull York Medical School</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>Hello! My name is Sarah and I’m the former Member of UK Youth Parliament for the Borough of
                            Rochdale. I will be starting Medicine in September and I want to help others who want to
                            pursue the same journey. Firstly, Medicine is a very competitive course (I’m sure you’ve
                            heard this before!) but don’t be afraid, with some support from experienced students, there
                            is no reason why you can’t secure a place in Medicine. The medicine application process
                            requires resilience and dedication, which I’m sure you already have!</p>
                        <p>My first tip would be to ensure you are taking the correct subjects in order to apply for
                            Medicine. At college, I undertook Biology, Chemistry, Maths and EPQ (Extended Project
                            Qualification). Make sure you have achieved the relevant grades from any other exams in
                            school, including GCSEs. You want to have a set of competitive grades so you stand the best
                            chance possible.</p>
                    </article>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>Secondly, prepare for any entrance exams at the earliest opportunity, don’t leave it till the
                            end because it will stress you out and therefore hinder your performance on the day. I
                            started preparing for my UCAT and BMAT exams 3 months in advance and the time I spent
                            practicing definitely reflected the high scores I achieved!</p>
                        <p>In regards to personal statement, you need to ensure it is proof read by an expert. I had
                            approximately 20 drafts of my personal statement and then finally I was happy with it all.
                            In the personal statement, university admissions are looking to see what makes you different
                            to other students and why they should pick you ultimately. I have always been an
                            extracurricular person and I enjoy doing lots of other things outside my studies, including
                            politics, raising money for charity and volunteering to make a difference in my community. I
                            have also won several prestigious awards over the years, for example Diana Award, Member of
                            UK Youth Parliament Award and Mayor’s Youth Award, just to name a few and I mentioned these
                            in my personal statement. To get an insight into the medical career I would highly recommend
                            getting work experience in either a hospital or care home, it really does give you a good
                            overview of what life in a clinical setting will be like.</p>
                        <p>Finally, these are just some of the tips mentioned above, if you would like a detailed
                            approach to this or tutoring to get you into Medicine, then please feel free to drop me a
                            message. Best of luck!</p>
                        <p class="mb-5">
                            <em> -by <strong>Sarah, </strong>soon to be <a
                                    href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studying medicine in the UK</a> at HYMS</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/sarah-hyms.jpg' %}"
                            class="img-fluid rounded-circle" alt="medical-student-at-the-university-of-buckingham" title="medical-student-at-the-university-of-buckingham" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-5">*Please confirm all relevant information on thispage with your medical school
                    application mentor</p>
            </div>
        </div>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" id="login" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <i data-feather="x-circle">
                        </i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <form method="POST" id="afm-form" action="index/">
                                <h4>Register Your Interest</h4>
                                <div class="form-group" required>
                                    <select name="ima_roll" class="form-control" required>
                                        <option value="">I m a..</option>
                                        <option value="Student">Student</option>
                                        <option value="Parent">Parent</option>
                                        <option value="Agent">Agent</option>
                                        <option value="Mentor">Mentor</option>
                                        <option value="University">University</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="email" class="form-control border-right-0"
                                        placeholder="Provide Your Email" required>
                                    <span class="input-group-append bg-white border-left-0">
                                        <span class="input-group-text bg-transparent">
                                            <i data-feather="mail">
                                            </i>
                                        </span>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center my-5">
                                    <input class="theme-btn" type="submit" name="send_message_btn" value="Register" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}