{% extends 'registration/reg_base.html' %}
{% block title1 %}{% block title2%}Study Medicine at Barts (Queen Mary, University of London){% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %}Study Medicine at the oldest medical schools in the UK. The Queen Mary University of London
offers 5-year MBBS medical courses for international students.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%} https://applyformedicine.com/uk-medical-schools/studying-medicine-at-barts/
{% endblock %}{% endblock %}
{% block content %}
{% load static %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>Barts & The London
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Barts and The London School of Medicine and
                            Dentistry</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£38,000 pa</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>Traditional</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>PBL</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at Barts and The London School of Medicine and Dentistry (Queen
                            Mary, University of London)</h2>
                        <p>Barts offer a five-year integrated medical course with elements of a problem-based approach to
                            learning. This institution was created through the union of St Bartholomew’s Hospital and
                            London Hospital Medical College.</p>
                        <p>Barts take an integrated systems-based approach to teaching through lectures, PBL scenarios,
                            practicals, project work, etc. There is exposure to the clinical environment from the very
                            beginning with placements taking place in healthcare settings acrossLondon and the
                            South-East of England.</p>
                        <p>In the first two years (Phase 1) students are educated in Body in Health and Mechanisms of
                            Disease. In the next two years, clinical education expands with teaching in the medical
                            school and placements in hospitals to enhance clinical skills and knowledge.The final year
                            is primarily focused on preparing for practice after graduation. Clinical training is further
                            developed with community-based placements, shadowing placements and more. After graduating
                            final year, students undertake a four-week elective (abroad or in the UK) and a four-week
                            foundation doctor shadowing placement in preparation for becoming an FY1 doctor.</p>
                        <p>Barts offer students an optional intercalation in an field of interest to obtain aBachelor of
                            Science (BSc) degree. Students also undertake a range of Student-SelectedComponents (SSCs)
                            each year to allows them a chance to study further into areas of interest including Basic
                            Sciences, Clinical Specialisms, Community and Public Health,Ethics and Law, etc. Student
                            also complete an Intermediate Life Support Qualification.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pt-4 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h3>Get mentored by medical students at Barts and The London School of Medicine and Dentistry</h3>
                </div>
                <div class="col-md-12">
                    <article>
                        <p>
                            <em>“Hi, my name is Bishoy and I’m a second year undergraduate medical student at Bartsand
                                the London School for Medicine and Dentistry. I would say the journey to medicine was very
                                interesting and worthwhile in the end. I had so much fun utilising my skills and work
                                ethic for something that I enjoyed. I have to say, it was by no means easy but my
                                enjoyment for the process definitely made it bearable. Set a goal in front of yourself at
                                all times and don’t stop until you’ve reached it! My advice to applicants is to always be
                                enthusiastic and aim high, while always grabbing any opportunity that comes your way.</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <em>
                            <p>I am happy to help you with your journey to medical school - I am also fluent in both
                                Arabic and French."</p>
                        </em>
                        <p class="text-right">
                            <em>" أ نا أتحدث اللغتين الفرنسية والعربية بطلاقة ويسعدني جداً أن أعاونك خلال رحلتكالجامعية
                                إذا أردت أن تدرس الطب في المملكة المتحدة. "</em>
                        </p>
                        <p>
                            <em>"Je parle couramment le français et l’arabe. Je serais heureux de vous aider
                                pendantvotre voyage à l’école de médecine si vous souhaitez l’étudier au
                                Royaume-Uni!"</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong> Bishoy, </strong>second year <a
                                    href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">medical student in London</a>, at Barts and the London School for
                                Medicine and Dentistry</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/medical-student-at-the-university-of-barts-and-london.png' %}"
                            class="img-fluid rounded-circle" alt="medical-student-at-the-university-of-barts-and-london" title="medical-student-at-the-university-of-barts-and-london" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8 order-md-2">
                    <article>
                        <p>
                            <em>Hello everyone, my name is Siraj, and I am currently a 3rd year international medical
                                student studying at Queen Mary University, or Barts as it is known in the medical world.
                                I am fluent in Arabic and English, and I am conversational in Italian and French. I can
                                also understand a little bit of Hindi/Urdu, but you must be patient with me!</em>
                        </p>
                        <p>
                            <em>The one thing that separates Barts from most medical schools in the country, is
                                the amount of clinical experience you get from day 1. I remember the first 2 weeks of
                                my first year, we were already in GP clinics and even had a chance to interact
                                with patients. The vast clinical experience in one of the largest NHS Trusts in
                                England coupled with PBL teaching and lectures allows you to take a holistic approach
                                to medicine as the course delicately mixes non-clinical and clinical aspects of the course
                                throughout.</em>
                        </p>
                        <p>
                            <em>Admission into Barts is just like most other medical schools in the UK. UCAT,A-level
                                results, and a 20-minute interview (not an MMI). While it seems challenging and at times
                                an impossible feat, there are a few tips and tricks that will help you ace every part of
                                the admission process that I would be more than happy to share.</em>
                        </p>
                        <p>
                            <em>You’ll quickly realise life at Barts is a lot like life on the wards. At
                                first, everything seems chaotic, you feel lost, and everyone is a stranger. Then, as
                                time goes on, the pieces start to fall into place, strangers become lifelong friends,
                                and the ward quickly becomes a second home. Before you know it, you’re already a few years
                                in and you realise that really can’t imagine being anywhere else.</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Siraj, </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}" target="_blank">studying medicine in
                                    the UK</a>, at Queen Mary, University of London</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4 order-md-1">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/siraj.jpg' %}" class="img-fluid rounded-circle"
                            alt="siraj" title="siraj" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-5">*Please confirm all relevant information on this page with your medical school
                        application mentor</p>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" id="login" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <idata-feather="x-circle">
                            </i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <form method="POST" id="afm-form" action="index/">
                                <h4>Register Your Interest</h4>
                                <div class="form-group" required>
                                    <select name="ima_roll" class="form-control" required>
                                        <option value="">I m a..</option>
                                        <option value="Student">Student</option>
                                        <option value="Parent">Parent</option>
                                        <option value="Agent">Agent</option>
                                        <option value="Mentor">Mentor</option>
                                        <option value="University">University</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="email" class="form-control border-right-0"
                                        placeholder="Provide Your Email" required>
                                    <span class="input-group-append bg-white border-left-0">
                                        <span class="input-group-text bg-transparent">
                                            <i data-feather="mail">
                                            </i>
                                        </span>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center my-5">
                                    <input class="theme-btn" type="submit" name="send_message_btn" value="Register" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}