{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Medicine at St George's Medical School, University of London{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} St George's Medical School offers degrees in medicine, veterinary medicine, public health, the
health sciences, and nursing.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-st-georges-university-of-london/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">International Foundation Group</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>St George’s University of London<span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">St. George's Medical School</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div>
                        <div>
                            <p class="text-right">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£36,000 pa</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at St. George's Medical School</h2>
                        <p>Medicine at St George’s is a five-year integrated course. This programme focuses on the themes
                            of Basic and Clinical Sciences, Patient and Doctor, Community and Population Health as well
                            as Personal and Professional Development.</p>
                        <p>The first two years involve learning the scientific foundations of medicine and also gaining
                            an understanding of the clinical context of this scientific knowledge. This learning is
                            characterised into the following categories: Life Cycle, Life Protection, Life Support, Life
                            Maintenance, Life Structure and Life Control. This education is delivered in the format of
                            lectures, tutorials, group activities and practicals in addition to community-based clinical
                            placements.
                        <p>In the third year, learning is focused more on problem-based learning activities
                            and Student-Selected Components (SSCs) as well as more lectures and clinical
                            placements hospitals and other healthcare settings across South London and South-East
                            England to enhance clinical understanding. In your third or fourth year you can also choose to
                            doan intercalation degree and obtain a BSc.</p>
                        <p>In the final two years of the course, the focus is very much on gaining as much
                            clinical experience as possible through numerous clinical attachments in various medical
                            and surgical disciplines including Paediatrics, Obstetrics and Gynaecology, Neurology and
                            Psychiatry, etc.</p>
                        <p>Fifth year students also do an elective in a setting and area of medicine of their choosing
                            and organisation which can be done abroad or in the UK. And in preparation for becoming a
                            Foundation Doctor, final year students also take a number of student assistantships which
                            provides an opportunity to shadow a junior doctor and prepare for their roles
                            and responsibilities.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Get mentored by medical students at St. George's Medical School</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>Hi I'm Ashwin and I am a fifth year medical student at St George's University of London. I
                            knew from the outset that I wanted to go to a clinically orientated medical school andSt
                            George's after going on tour of the building and also doing research into how thecourse was
                            taught, I knew that it was an experience that I would enjoy. From meeting patients within my
                            first week of medical school to have a chat with them to now being able to do some extremely
                            important procedures with needles I have enjoyed every minute of my journey so far and I am
                            so happy that I chose to do medicine and specifically at St George's.</p>
                        <p class="mb-5">
                            <em> -by <strong>Ashwin, </strong>currently <a
                                    href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studying medicine in the UK</a>, at St. George's University of
                                London.</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/ashwin.png' %}" class="img-fluid rounded-circle"
                            alt="ashwin" title="ashwin" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/sujay.jpg' %}" class="img-fluid rounded-circle"
                            alt="sujay" title="sujay" width="290" height="290" loading="lazy">
                    </div>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>Hi, I’m Sujay. I am currently a 2nd year medical student studying at St George’sUniversity of
                            London. I applied for Medicine during the 2018/2019 cycle and receivedthree offers (SGUL,
                            Liverpool and Plymouth). I chose SGUL due to the clinical hospitalsetting, as well as the
                            course structure seems well suited to the way I learn and to topit off George’s is located
                            in one of the coolest neighbourhoods, Tooting! George’s alsohas so much to offer
                            extracurricularly from sports and cultural societies to danceclasses and so much more if you
                            come here you’ll never be bored.</p>
                        <p>
                        <p>When I was applying, I thoroughly enjoyed writing my personal statement and preparingfor the
                            MMI. For this reason, I love to mentor you in these subjects as I amenthusiastic and
                            passionate about this part of the application process. In the pastyear, I’ve helped three
                            aspiring medicine applicants with their interviews, whichresulted in them being successfully
                            offered places. If you choose me as your tutor, thesessions will not only be interactive,
                            but also fun and tailored towards your needs.</p>
                        <p>When it comes to my teaching method, I have resources for my students which will come
                            inhandy. Our first session will be an introduction session which will enable me to seewhat
                            level you are at as well as your learning style. After that I will tailor mysessions
                            according to the student with feedback e.g. Ethics session with EthicalInterview Questions.
                            My sessions tend to be very discussion type for I believe bytalking out scenarios and
                            ethical debates it betters the students understanding enablingthem to answer questions
                            better. If you become one of my students I am committed to seeyou get your medical seat.</p>
                        <p class="mb-5">
                            <em> -by <strong>Sujay, </strong>studying medicine in the UK, at St. George’s
                                MedicalSchoolin London</em>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-5"> * Please confirm all relevant information on this page with your medical school
                    application mentor </p>
            </div>
        </div>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>
</main>
{% endblock %}