{% extends 'registration/reg_base.html' %}
{% block title1 %}{% block title2%}Study Medicine Courses at Aston University Medical school/
{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %}The Aston Medical School, England provises one of the finest courses in the field of medicine to
enhance your career.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%} https://applyformedicine.com/uk-medical-schools/studying-medicine-at-aston-university/
{% endblock %}{% endblock %}
{% block content %}
{% load static %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>Aston University
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Aston University</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£41,900* per academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at Aston University</h2>
                        <p>Medicine at Aston is a five-year course that takes a patient-centre approach totheir medical
                            teaching. There is some early exposure to the clinical settingwhich in the first two years
                            is limited to the primary care setting.</p>
                        <p>The course is split into two phases. In the first phase, during the first twoyears, you learn
                            the Fundamentals of Medicine through a systems-based approachas well as modules on
                            pathology, pharmacology and public and global health. Youalso develop certainclinical skills
                            (e.g. consultation and diagnostic reasoning skills) and clinicalknowledge through teaching
                            and placements in a GP setting.</p>
                        <p>In the second phase, over the final three years, the majority of clinicallearning happens
                            during more extensive placements in hospitals, GPs and otherhealthcare settings to expand
                            clinical education. Student will receive teachingand education acrossthe medical and
                            surgical disciplines throughout these three years. After thefinal year, students can take up
                            an elective abroad or in the UK as well as afoundation assistantship in preparation for the
                            FoundationProgramme they will enter soon after.</p>
                        <p>Students will also undertake Student-Selected Components (SSCs) to allows them achance to
                            study in an field of interest which includes a Health Leadershipmodule (in association with
                            the Aston Business School) which will lead toadditional certificationfor the student.
                            Research-based SSCs are also offered to give students a tasteof clinical research at the
                            Aston Medical Research Institute.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Get mentored by medical students at Aston University</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p class="mb-2">
                            <em>Hi aspiring medics,</em>
                        </p>
                        <p>
                            <em>I am Ronald Nam, second year medical student at Aston University.Aston is a really young
                                medical school, and in fact, I am the second cohort of thisbrand new medical school.
                                Located in the heart of Birmingham, one of the biggestcities in the UK, and the
                                inclusivity and support from the programme team allow students to raise the voice and
                                shape Aston Medical School together - makes Astontruly unique.In terms of teaching,
                                Aston has a strong emphasis in clinical medicine. Seniors andeducators who worked with
                                us are very impressed by our clinical knowledge.If you are a student who wants to study
                                in a big city, like to share ideas to shapethis young medical school, and wants to be an
                                effective doctor; Aston is for you!</em>
                        </p>
                        <p>大家好，我是Aston University的二年級醫學生，你如果有任何有關Aston Medical School 的疑問，歡迎透過此平台發問。</p>
                        <p class="mb-5">
                            <em> -by <strong>Ronald </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}">studying medicine in the UK</a>, at Aston
                                Medical School</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/medical-student-at-aston-university.png' %}"
                            class="img-fluid rounded-circle" alt="medical-student-at-aston-university" title="medical-student-at-aston-university" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8 order-md-2">
                    <article>
                        <p>
                            <em>Hi, I’m Tommy and I’m a second-year medical student at Aston medical school. In
                                comparison to others, Aston medical school is relatively new yet that is exactly what
                                forms a unique, inclusive relationship between the programme team and students, working
                                together to strike for excellence. From personal experience, I know the pathway of
                                applying to medicine is not easy at all, but not to worry because ‘every day we can only
                                do our best’</em>
                        </p>
                        <p>大家好, 我是Aston University的二年級醫學生, 任何疑問歡迎透過這平台發問.</p>
                        <p class="mb-5">
                            <em> -by<strong>Tommy,</strong>
                                <a href="{% url 'administration:uk_medical_schools' %}" class="afm-link">studying medicine in the UK</a>, at Aston
                                Medical School</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4 order-md-1">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/medical-student-at-aston-university2.jpg' %}"
                            class="img-fluid rounded-circle" alt="medical-student-at-aston-university2" title="medical-student-at-aston-university2" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" id="login" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <idata-feather="x-circle">
                            </i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <form method="POST" id="afm-form" action="index/">
                                <h4>Register Your Interest</h4>
                                <div class="form-group" required>
                                    <select name="ima_roll" class="form-control" required>
                                        <option value="">I m a..</option>
                                        <option value="Student">Student</option>
                                        <option value="Parent">Parent</option>
                                        <option value="Agent">Agent</option>
                                        <option value="Mentor">Mentor</option>
                                        <option value="University">University</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="email" class="form-control border-right-0"
                                        placeholder="Provide Your Email" required>
                                    <span class="input-group-append bg-white border-left-0">
                                        <span class="input-group-text bg-transparent">
                                            <i data-feather="mail">
                                            </i>
                                        </span>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center my-5">
                                    <input class="theme-btn" type="submit" name="send_message_btn" value="Register" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}