{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Medical Course at University of Manchester School of Medicine{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Irrespective of under graduation or post-graduation, the University of Manchester offers both
degrees with proficiency in the respected disciplines{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%} https://applyformedicine.com/uk-medical-schools/studying-medicine-at-manchester/
{% endblock %}{% endblock %}
 {% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>Manchester<span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Manchester Medical School</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>Years 1 and 2: £24,000 Years 3, 4, 5: £44,000</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>Traditional</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>PBL</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at Manchester Medical School</h2>
                        <p>Being the largest medical school in the UK, Manchester’s five-year programme aims to educate,
                            train and prepare their students to be part of a healthcare system of both today and the
                            future. This course integrates science and clinical learning so studentsare able to gain
                            knowledge they can apply to clinical practice.</p>
                        <p>The course begins with an introduction to the teaching style, learning processes and
                            consultation skills that students need to know. Years 1 and 2 are based mostly on campus at
                            teaching hospitals and in community settings across the north. These year sare split into
                            four modules, incorporated with themes of doctors as scientists, scholars, professionals and
                            practitioners. The modules are taught as cases, containing relevant topics, to allow
                            students to prepare for howpatient problems are dealt with by doctors, and develop both
                            their independent and team working skills.</p>
                        <p>The programme encourages practical work through anatomy dissection, clinical experience,
                            physiology and pharmacology practical classes and personal development activities.</p>
                        <p>Year 1 sees the exploration of the Life Cycle module through cases that look at the cellular
                            and molecular processes that cause development, growth and reproduction, as well as immune
                            response and the pathophysiology of various genetic diseases and cancer.The second module of
                            the year is Cardio respiratory Fitness, looking at the chest, heart, lung and blood
                            function.</p>
                        <p>The second year includes the Mind and Movement module looking at neuroscience, the nervous
                            system, and the brain, and the Nutrition, Metabolism and Excretion module, which introduces
                            students to the kidneys, hormonal mechanisms of the body and the gastrointestinal system.</p>
                        <p>From Year 3 to the end of your course, learning will be done predominantly through clinical
                            placements done at the four base hospitals and their accompanying teaching hospitals and
                            community placements.</p>
                        <p>In Year 3, students spend the week observing real patients and applying knowledge and
                            clinical skills obtained from learning done in previous years. The first semester allows
                            students to gain an insight into common conditions through placements, whereas the second
                            semester has two six-week blocks, followed by three four-week blocks that take place in more
                            complex environments like surgical speciality placements and acute medical settings.</p>
                        <p>Year 4 aims to expand the student’s clinical knowledge across medical specialities with
                            supervised placements in women’s health, child health, oncology and breast health, and
                            dermatology, taught by speciality experts. The year ends with student electiveplacements,
                            usually overseas.</p>
                        <p>In the final year, students are prepared for their role as a foundation year doctor with
                            additional clinical placements in general medical and surgical placements. Students will
                            also do a community placement, such as community paediatrics, to gain an understanding of how
                            medical services are delivered outside hospitals. As students are integrated into clinical
                            settings and tackle the duties of a newly qualified doctor, they are supervised.</p>
                        <h2 class="mb-3">Advice for applicants to Manchester Medical School</h2>
                        <p>
                            <span>(i.e.: 'how I did it')</span>
                        </p>
                        <ul class="grade-li">
                            <li>Before applying to Manchester Medical School, I researched the medical school’s entry
                                requirements for GCSE, which are a minimum of 5 GCSEs at grade A/A*/7/8/9, and A-Level,
                                which are AAA including Chemistry or Biologyplus a second subject from either:
                                Chemistry, Biology, Physics, Maths/Further Maths. As a widening participation student, I
                                was part of the Manchester Access Programme, which upon completion, reduced my A-Level
                                graderequirements to ABB.</li>
                            <li>Having a high UCAT is a very important part of the application process, especially at
                                Manchester University. The university offers an interview to students that score in the
                                upper third of the national results, whilst those with scores too low have their entire
                                application evaluated from work experience to academic achievements.</li>
                            <li>Manchester is unique as they no longer use personal statements in the application
                                process, opting instead to ask applicants to complete a non-academic form. This form
                                discusses topics such as motivation for medicine, hobbies and interest, team working, and
                                experience in a role of care. It is crucial to have some form of volunteering experience
                                or work experience completed as the university places lots of emphasis on this aspect of
                                the application.It is also important to not just copy and paste your personal statement
                                into this form and create structured and insightful answers that show what you have
                                learned from your experiences.</li>
                            <li>The medical school uses the MMI format for interviews in which they have around 7
                                different stations ranging from stations with stimulated patients to ones with expected
                                questions about relevant topics. It is essentialto know how to structure your answers
                                effectively and read up on popular topics and medical ethics that are significant in the
                                medical and scientific field, prior to your interview. It is most vital that your
                                answersare insightful, genuine and the interviewers are able to recognise that you are
                                fit to be a medical student at the University of Manchester.</li>
                        </ul>
                        <h3 class="mb-3">My experience as a 1st year medical student so far</h3>
                        <ul class="grade-li">
                            <li>My first year studying medicine at Manchester began with a two-week induction period in
                                which we were given an overview of key learning processes and clinical skills. After
                                this period, the first semester started with PBL sessions. Each week we have 2 PBL
                                sessions in groups of 10-12, overseen by a member of staff. The opening session is at
                                the start of the week, where we go through a clinical case, analysing and formulating a
                                “learning agenda” of questions to go away and research. Throughout the week we have
                                multiple lectures to aid us with the necessary information we need to know for that
                                week’s case. The closing session occurs at the end of theweek where we feedback and
                                share information we gathered.</li>
                            <li>One of the major benefits of studying medicine at the University of Manchester is the
                                exceptional anatomy tutorials given once a week in the dissection room (DR). These
                                sessions allow students to consolidate their knowledge,hands on, through full body
                                dissections and pro-sections. The communication skills teaching once a week at
                                Manchester is also amazing and is guided by extremely helpful stimulated patients and
                                teachers who provide areally safe space and great feedback to allow you to learn and
                                develop your skills.</li>
                            <li>Manchester is a large, multicultural city and offers a whole host of social
                                opportunities, with the famous Rusholme or “curry mile” just down Oxford Road where most
                                of the main campus is. The sports and society opportunities are limitless, with plenty of
                                medical societies available, Medsoc being one of the largest on campus. On the whole,
                                Manchester Medical School offers endless opportunities and experiences that allow you to
                                grow not onlyas an outstanding medical professional but also as an individual.</li>
                        </ul>
                        <p>
                            <em>-by <strong>Meena, </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studying medicine in the UK</a>, at the University of
                                Manchester</em>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}