{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Medical Course at University College London (UCL), England{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} UCL is a major center for biomedical research. It provides undergraduate and postgraduate
degrees in Brain Sciences,Medical Sciences, and more.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-college-london-ucl/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University College London (UCL)
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University College London (UCL)</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£37,090</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>Traditional</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <article>
                                <h2>Study Medicine at The University College London (UCL)</h2>
                                <p>UCL offer a six-year integrated-style medical course. UCL has three clinicalcampuses
                                    across which core medical education is delivered: Bloomsbury campus,Royal Free
                                    campus and Whittington campus. But clinical placements also takeplace in other
                                    nearbyhospitals, GPs and other community-based healthcare settings.</p>
                                <p>The first two years take a system-based approach to learning the biomedicalknowledge
                                    underlying medicine alongside some early exposure to the clinicalenvironment.
                                    Students are educated in areas such as pathology, neuroscience,endocrinology,
                                    reproduction,circulation, metabolism, genetics as well as social sciences, etc.</p>
                                <p>The third year offers an integrated BSc programme (intercalation) in which youstudy
                                    in an field of interest to you. During this year your research knowledgeand skills
                                    are enhanced and you are offered the chance to explore what a careerin clinical
                                    researchmight be like.</p>
                                <p>The remaining three years of the course focus on expanding skills, knowledge
                                    andexperience of clinical practice in a range of attachments at hospitals, GPs
                                    andother healthcare settings. Learning in the fourth year focuses on
                                    maximisingdeveloping coreclinical skills and knowledge and further applying clinical
                                    context to thebiomedical knowledge from the first two years. Clinical education in
                                    the fifthyear focuses on the ‘life cycle’ of man with learning inspecialties
                                    including: Paediatrics and Family health, Women’s and Men’s health,Psychiatry,
                                    Sexual health, Oncology and Palliative Care, etc. The sixth yearfocuses on
                                    consolidation of clinical understanding andexperience and enhancement of the skills
                                    needed by a clinician (includingproficient communication, professionalism
                                    self-reflection and patient-centredapproaches to clinical scenarios).</p>
                                <p>In the final year, students take on assistantships in preparation for the futurejob
                                    as a Foundation Doctor. Student Selected Components (SSCs) are also
                                    offeredthroughout the duration of the course.</p>
                                <h3>Get mentored by medical students at University College London (UCL)</h3>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>
                            <em>When applying for medical school there were several key considerations I made:location,
                                teaching style and course structure, the option of intercalation, and thesense of
                                community and belonging. UCL checked all the criteria for me.</em>
                        </p>
                        <p>
                            <em>Being in the heart of bustling London, I knew that it would not only allow me toform
                                friendships with a diverse range of individuals and give me a multitude of funthings to
                                do, but also give me access to world-renowned teaching hospitals(including University
                                College Hospital and the Royal Free Hospital) and research facilities, enabling me to
                                network with leading doctors and scientists.</em>
                        </p>
                        <p>
                            <em>The teaching style and course structure at UCL were also particularly appealing tome.
                                Whilst it is a predominantly traditional course (with years 1 and 2 being pre-clinical,
                                and years 4-6 being clinical) there are some clinical elements in the first two years. As
                                I like a methodical approach to learning, this suits me well asI can build a sturdy
                                foundation of science and then use this knowledge when approaching clinical scenarios. In
                                addition to this, there are a wide variety of teaching methods, including lectures, labs
                                and small group work, which keeps the course intellectually stimulating and helps to
                                develop both my teamwork and independent study skills.</em>
                        </p>
                        <p>
                            <em>But, the feature of UCL that made it stand out from other medical schools was the strong
                                sense of community. When I first joined, everyone was so welcoming I instantly felt at
                                ease (despite being very nervous beforehand!). Not only are the staff members there to
                                support you, but also the other medical students across all the different years. If you
                                are struggling in any way, whether that be academically or personally, there will always
                                be someone there who will listen to you and provide you with any advice or help they
                                can.'</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Allegra,</strong>currently <a
                                    href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studying medicine in the UK</a>, at UCL</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/allegra-wisking.jpg' %}"
                            class="img-fluid rounded-circle" alt="allegra-wisking" title="allegra-wisking" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}