{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine in the University of Birmingham Medical school/
{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} The University of Birmingham carries excellence in cancer, cardiovascular disease,
neuroscience, and endocrinology and is renowned internationally{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-birmingham/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Birmingham
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Birmingham</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£23,310 (International - pre-clinical years 1 and 2) £39,960(International -
                                            clinical years 3, 4 and 5)</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <article>
                                <h2>Study Medicine at The University of Birmingham</h2>
                                <p>Birmingham offer a five-year medical course that combines both problem-basedlearning
                                    and traditional teaching methods (lectures, small group teaching,etc.). You receive
                                    teaching from clinicians, academics and researchers meaningstudents gain a
                                    well-roundedbroad perspective of medicine. The clinical education at Birmingham
                                    honesimportant skills in communication, professionalism and compassion in
                                    itsstudents in order to shape well-equipped, ethical future doctors.</p>
                                <p>The first two years are spent learning the biological knowledge that underlieseach
                                    system of the body alongside pathology and therapeutics. You also learnpsychology,
                                    sociology of health and illness, population health and ethics.Anatomy is
                                    deliveredthrough prosections and small-group teaching. You also receive initial
                                    patientcontact experience through some community placement days early on in the
                                    course.</p>
                                <p>In the third year, placements in the hospital environment begin. Now you beginto
                                    develop your clinical skills for example in physical examination andhistory-taking.
                                    You also expand your knowledge of presentation of disease anddiagnostic reasoning.
                                </p>
                                <p>In the final two years, you have clinical placements across a range of medicaland
                                    surgical specialties including neurology, cardiology, orthopaedic surgery,obstetrics
                                    and gynaecology, oncology, psychiatry, etc. During these years (year3-5) you
                                    alsowork with a senior academic tutor who will act as a mentor through your
                                    clinicaleducation.</p>
                                <p>Birmingham also offers an intercalation year to study into an area of your
                                    owninterest and obtain a Bachelor’s degree. This can involve lab research
                                    orcommunity-based research to get a chance to enhance research skills andexperience.
                                    In the fourthyear students undertake an elective either in the UK or abroad which
                                    can involvecarrying out clinical research or exploring medicine in
                                    differentcountries/cultures.</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Get mentored by medical students at University of Birmingham</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <p>Hello! My name is Haniya, and I am a second year medical student at the University
                            ofBirmingham. Although I am originally from Pakistan, I spent the majority of my
                            formativeschooling in Singapore.</p>
                        <p>Applying to medical school in the UK was a hard yet fulfilling process once I finallygot in!
                            Even though it was a lot of hard work, through multiple personal statementdrafts, work
                            experience and interviews, I can now say it was truly worth all of theeffort. One strong
                            piece of advice I would give to aspiring medical applicants is hardwork and consistency. It
                            might seem impossible now, but never give up on your goals.</p>
                    </article>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>The University of Birmingham medical school is a perfect fit for me, with the variousresearch
                            opportunities, vast variety of sports and societies available to me. Manypeople have the
                            misconception that all medical students do is study. However, thiscouldn’t be further from
                            the truth. I believe it’s equally important to maintain a goodwork-life balance and gain the
                            most out of your university experience.</p>
                        <p>Although my experience studying medicine has been slightly different, due to theCOVID-19
                            pandemic, I can still easily say I have thoroughly enjoyed the last two yearsstudying
                            medicine and meeting new people.</p>
                        <p class="mb-5">
                            <em> -by <strong>Haniya, </strong>currently <a
                                    href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studying medicine in England</a>, at the University ofBirmingham,
                                UK.</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/hania-studying-medicine-at-the-university-of-birmingham.jpg' %}"
                            class="img-fluid rounded-circle" alt="hania-studying-medicine-at-the-university-of-birmingham" title="hania-studying-medicine-at-the-university-of-birmingham" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-5"> * Please confirm all relevant information on this page with your medical
                    schoolapplication mentor </p>
            </div>
        </div>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}