{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medical Course in Norwich Medical School, UAE{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Norwich Medical School in England is a medical school based at the University of East Anglia,
in Norwich which offers a full-time MBBS course.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%} https://applyformedicine.com/uk-medical-schools/studying-medicine-at-norwich-medical-school/
{% endblock %}{% endblock %}
 {% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>Norwich Medical School
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Norwich Medical School</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£31,200 pa</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at Norwich Medical School</h2>
                        <p>Norwich Medical School ( previously known as University of East Anglia School of Medicine
                            Health Policy and Practice) offers a five-year, integrated medical course. The teaching
                            incorporates lectures, tutorials, labs and workshops and students receive earlyclinical
                            exposure.</p>
                        <p>In the first year, students cover the ‘foundations of medicine and the musculoskeletal system’
                            which includes physiology, anatomy, genetics and pathology as well as ethics,law, psychology
                            and public health, etc. Students also learn the basics of communication and professionalism.
                            Students also get the opportunity to work within an interprofessional team with students from
                            other UEA healthcare courses.</p>
                        <p>During the second year, students undertake a module in Blood and Skin, the Respiratory System
                            and the Cardiovascular System. Throughout the first two years students also havesome
                            clinical placements that allow development of skills such as history-takingand diagnostic
                            reasoning.</p>
                        <p>The third year covers the digestive system, the renal and urological system, the
                            nervoussystem and endocrine system. Clinical education also expands further and students
                            gainsome exposure to general surgery. Important principles in diagnosis, examination and
                            patient management is also covered in these modules.</p>
                        <p>In the fourth year, students cover a range of specialties including paediatrics,
                            mentalhealth, obstetrics and gynaecology, palliative care and oncology. There is also
                            an opportunity to undertake an elective at the end of the year.</p>
                        <p>Final year students undertake placements in emergency settings (in A&E, primary care,ICU and
                            operating theatres) and prepare for their future role within the Foundation programme which
                            includes a student assistantship to shadowa Foundation doctor.</p>
                        <p>Students can also undertake an intercalated Master’s degree after the third or fourthyear in
                            research, clinical education, molecular medicine, cognitive neuroscience or health economics.
                        </p>
                        <h3>Get mentored by medical students at Norwich Medical School</h3>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="footer-widget-wrapper">
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <div class="footer-widget d-flex justify-content-center">
                        <img src="{% static 'website/img/footer/Apply-For-university.png' %}" alt="Apply-For-Medicine">
                    </div>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4>Useful links</h4>
                        </div>
                        <ul class="list">
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Career</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4>Social Contact</h4>
                        </div>
                        <ul class="address-list">
                            <li>
                                <ul class="footer-social">
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-f">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-linkedin-in">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p class="text-center">&copy; 2020 - 2022 Copyright <a href="https://theapplygroup.com/">
                    <spanclass="afm-font-500">The Apply Group Ltd.</span>
                </a> All Rights Reserved.</p>
        </div>
    </div>
    </footer>
</main>
{% endblock %}