{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine at University of Southampton Medical school/
{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Pursue a postgraduate degree in Nursing, Midwifery, Allied Health, and Psychology from the
University of Southampton in England under professional bodies.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-southampton/
{% endblock %}{% endblock %}

{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Southampton
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Southampton</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>Pre-clinical years: £21,580 Clinical years: £42,720</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>Traditional</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at The University of Southampton</h2>
                        <p>Medicine at Southampton is a five-years long integrated course with clinical exposurefrom the
                            very beginning of the course. Thus learning will involve lectures, tutorials,self-directed
                            study and coursework. Clinical placements in the evenings and weekendswill take place from
                            early on in the course. Student Selected Units are also offeredthroughout the years.</p>
                        <p>There course is divided into four phases:</p>
                        <p>
                            <span class="font-weight-600">Phase 1: </span> Phase 1 takes place over the first twoyears
                            during which you learn anatomy, physiology, pathology, pharmacology andpsychosocial sciences
                            in a systems-centred manner. Studentsalso learn some basic clinical skills in history-taking
                            and physical examination in bothGP and hospital environments. Public health and medical
                            humanities education are alsocovered in this phase.
                        </p>
                        <p>
                            <span class="font-weight-600">Phase 2: </span>Phase 2 in the third year includes doingin
                            research project as well as many weeks of clinical placements focused on primarycare,
                            chronic illness, elderly care, surgery, orthopaedics,etc. There is also the opportunity to
                            intercalatebetween your third and fourth year toobtain a Masters of Medical Science.
                        </p>
                        <p>
                            <span class="font-weight-600">Phase 3: </span>Phase 3 takes places from year four
                            untilhalfway through year five. During this part of the course there is expanded focus
                            onclinical medicine including: Acute Care, Ethicsand Law, Paediatrics, Obstetrics and
                            Gynaecology, Psychiatry and other medicalspecialties.
                        </p>
                        <p>
                            <span class="font-weight-600">Phase 4: </span>Phase 4 is focused on preparation forbecoming
                            a junior doctor and includes an elective (which can be done abroad or in theUK) and a
                            student assistantship to shadow a FoundationDoctor in Medicine and Surgery.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
<!--    <section>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <h3>Get mentored by medical students at University of Southampton</h3>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <article>-->
<!--                        <p>Hello, my name is Alex and I’m currently an intercalating medical student atSouthampton.-->
<!--                            Applying to medical school was simultaneously one of the mostnerve-wracking and exciting-->
<!--                            times of my life - theres a lot to prepare for and work toput in but trust me, it definitely-->
<!--                            pays off. I applied to medical school during my gapyear as I decided I needed a bit longer-->
<!--                            before I went to university. However, this extratime allowed me to fully prepare for both-->
<!--                            the BMAT and UCAT exams as well as differentstyles of interviews whilst I was working - -->
<!--                            practice makes perfect!</p>-->
<!--                        <p>Whilst medical school has had some fantastic highs, it hasn’t come without itschallenges.-->
<!--                            I’ve really enjoyed the course at Southampton as it ensures that you seepatients from early-->
<!--                            on in the course (in my case the first two weeks of university),which I think is really-->
<!--                            important in getting you to think clinically from early on. Thefirst two years are your-->
<!--                            pre-clinical years where you’ll spend time learning thescientific basis of medicine through-->
<!--                            lectures, seminars and anatomy sessions - theneuroanatomy modules at Southampton are a real-->
<!--                            highlight and the teaching is fantastic!In third year you have an opportunity to do research-->
<!--                            and gain a BMedSc degree inaddition to your medical degree. Then, from the second half of-->
<!--                            3rd year onwards youstart clinical rotations and spend more time in hospital and the-->
<!--                            community learningabout different specialities and building up to when sit your finals and-->
<!--                            then(eventually) start as a doctor.</p>-->
<!--                        <p>-->
<!--                        </p>-->
<!--                    </article>-->
<!--                </div>-->
<!--                <div class="col-md-8 col-xl-8">-->
<!--                    <article>-->
<!--                        <p>The medic community at Southampton is particularly strong, with lots of support andsocieties-->
<!--                            to ensure you get a good work-life balance and meet lots of new people, witheverything from-->
<!--                            medic’s sport to the medical school’s acapella group to keep youoccupied. Theres also plenty-->
<!--                            of opportunities to go beyond the curriculum and exploreyour own interests - some people-->
<!--                            take an optional extra year at university to do anextra degree or masters. I chose to do a-->
<!--                            research-based masters (mmedsc) which has seenme working with a number of very highly-->
<!--                            respected clinicians and academics who formSouthampton University’s Breast Cancer Research-->
<!--                            team, which even after a year is stillsurreal.</p>-->
<!--                        <p>You might not believe it at first but the years really do fly by and it remains one ofthe-->
<!--                            best decisions I’ve ever made having met some of my best friends at Southampton andbeen able-->
<!--                            to physically and academically challenge myself whilst at Southampton. I wouldencourage-->
<!--                            anyone even thinking about applying to go for it and I’d love to be able topass down any-->
<!--                            nuggets of wisdom I’ve picked up on the way.</p>-->
<!--                        <p class="mb-5">-->
<!--                            <em> -by <strong>Alex, </strong>-->
<!--                                <a href="{% url 'administration:uk_medical_schools' %}"-->
<!--                                    class="afm-link">studying medicine in the UK</a>, at SouthamptonUniversity</em>-->
<!--                        </p>-->
<!--                    </article>-->
<!--                </div>-->
<!--                <div class="col-md-4 col-xl-4">-->
<!--                    <div class="afm-student-img d-flex justify-content-center">-->
<!--                        <img src="{% static 'website/img/content-img/alex.jpg' %}" class="img-fluid rounded-circle"-->
<!--                            alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-5"> * Please confirm all relevant information on this page with your medical
                        schoolapplication mentor </p>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}