{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medical Course at the University of Bristol, England{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} This University offers a 5-year MB ChB degree in disciplines like medical and biomedical
sciences, pharmacy, allied health, nursing, and health.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2 %}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-bristol/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Bristol
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Bristol</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£33,500 per year</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <article>
                                <h2>Study Medicine at The University of Bristol</h2>
                                <p>Bristol offers a five-year medical course split into two years of preclinicalstudies
                                    and a further three years of clinical education. Students receiveclinical teaching
                                    through placements in healthcare settings across theSouth-West of England. </p>
                                <p>The course involves early patient contact in GPs, hospitals and other
                                    clinicalenvironments. Teaching is delivered through lectures, working on clinical
                                    casesand practicals. Essential anatomy is taught through modern facilities
                                    andprosections and eventhrough the initial years of the course, students are
                                    simultaneously taught thebiomedical fundamentals of medicine alongside the relevant
                                    clinical aspects. </p>
                                <p>The first year focuses on the body in health and the second year then looks atthe
                                    processes and presentations of disease. In the third, fourth and fifthyears,
                                    clinical education is principally based on placements in primary andsecondary
                                    healthcaresettings and involves experience with patients receiving elective and
                                    emergencycare, attachments in different medical specialties and opportunities to
                                    workwithin a clinical team. The final year focuses predominantlyonextensive
                                    preparation for the roles and responsibilities of a Foundation doctor. </p>
                                <p>Students are offered opportunities to undertake a research project to developresearch
                                    skills and experience. An optional year to obtain an intercalated BScor BA degree or
                                    a Master’s degree is offered between the third and fourth year.Students can alsotake
                                    part in studying medicine elsewhere in the UK or abroad through an electiveprogramme
                                    that takes place in the final year. </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Get mentored by medical students at University of Bristol</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>Hi! My name is Matt and I am currently a 5th year medical student at the University
                            ofBristol. Before embarking on your journey, it is important to remember that life as
                            amedical student provides many challenges however, it also comes with an extensive listof
                            opportunities within and outside of Medicine. For example, being British Indian hasenabled
                            me to speak both Punjabi and English; allowing me to converse with manyindividuals from a
                            multitude of backgrounds, which is extremely advantageous in certainscenarios. I am also
                            currently intercalating in a research-based Master’s programme(Health Sciences Research),
                            since clinical research is an important academic skill whichis utilised throughout a
                            physician’s career. The intercalated degrees offered at Bristolare diverse, useful, and
                            enjoyable – if you even wanted to undertake a degree at adifferent university, Bristol are
                            extremely supportive of students to do so. Inaddition, Bristol offers a whole host of
                            opportunities including academic prizes,research and sporting activities, a variety of
                            societies, electives, language skillsetc! Overall, I have thoroughly enjoyed my time at
                            Bristol. It encompasses a cityculture that is vibrant and tight knit, with a student
                            community providing endlessopportunities and support! Although applying and joining medical
                            school may feelintimidating due to the known hard-working environment it entails, please
                            ensure youenjoy the process by timetabling a positive work-life balance and seeing medical
                            schoolas an opportunity to learn and develop life-long skills. Best of luck!!</p>
                        <p class="mb-5">
                            <em> -by <strong>Matt, </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studyingmedicine in the UK</a>, at the University of Bristol</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/matt.jpg' %}" class="img-fluid rounded-circle"
                            alt="matt" title="matt" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-5"> * Please confirm all relevant information on this page with your medical school
                    application mentor </p>
            </div>
        </div>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}