{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Apply for Medical Course at Cardiff University, England{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} The major undergraduate program of this school is the MBBCh in Medicine. It provides PGT in
Practical Dermatology and Psychiatry.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%} https://applyformedicine.com/uk-medical-schools/studying-medicine-at-cardiff-university/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">International Foundation Group</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>Cardiff University
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Cardiff University</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in Wales</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£34,450 pa</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at Cardiff University</h2>
                        <p>Cardiff offers a five-year medical course with a spiral curriculum in which each year revisits
                            and builds upon the knowledge learnt in the previous years to consolidate and expand level of
                            understanding gradually.</p>
                        <p>In the first two years students learn the fundamental medical and clinical sciencesthrough a
                            structure that looks at the ‘Chronological Life Course’ and incorporatessmall-group teaching
                            and case-based learning among other traditional teaching methods such as lectures and
                            practicals. Student also develop clinical skills and knowledge through clinical placements in
                            a variety of healthcare environments across Wales.</p>
                        <p>In the third and fourth years there is focus on expanding clinical experience through clinical
                            attachments in a range of different medical and surgical disciplines and as perthe spiral
                            curriculum of the course, much of the knowledge gained in the firs two years is revisited
                            and expanded upon.</p>
                        <p>The final year involves further application and honing of clinical skills via
                            increased involvement in multidisciplinary clinical teams all in preparation for becoming a
                            junior doctor after graduation.</p>
                        <p>Cardiff also offers the opportunity for students to undertake Student-Selected Components
                            (SSCs) and an intercalated degree to obtain a BSc and it provides a chance to enhance research
                            skills and experience. Furthermore, students have the opportunity to participate in research
                            studentships in association with Cardiff University ResearchSociety as well as an elective
                            abroad or in the UK to explore the vastness of Medicineeither across the nation and
                            internationally.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Get mentored by medical students at Cardiff University</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>Hi, I'm Jasmine and I am currently finishing my second year of studying Medicine at Cardiff
                            University. My journey into Medicine was fulfilling, interesting but as you areall aware
                            rather stressful. Working in a care home and teaching people with a disability how to swim
                            was one of the most rewarding roles I have been in; while shadowing doctorsin a range of
                            different fields of medicine such as plastic surgery gave me an amazing insight into
                            pressures, responsibilities, but also the enjoyment that a career in Medicine can bring.
                            Ultimately the hours of revision spent on UKCAT, BMAT and interview preparation is well worth
                            it. My advice would be to seek out any opportunity you can andtake it whether it is working
                            in a hospital or volunteering at a local swimming pool -whatever you do you will learn new
                            skills that will develop your character and resilience.</p>
                    </article>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>I love the opportunities that are provided here at Cardiff, and the fact that I haveseen
                            patients as early as in year 1 has resulted in me feeling confident in my abilities to be let
                            loose in an actual hospital setting which occurs in 3rd year. I am so grateful for the sense
                            of community and teamwork that has been built up by all the medicals tudents and for the
                            extensive academic and pastoral care that the medics in the yearabove provide us with. The
                            Medic community provide us with continual revision sessions and top tips in addition to
                            amazing socials and societies which help us balance our workload, meet new people and enjoy
                            each day at medical school.</p>
                        <p>Cardiff is a beautiful city with so many places to socialise, grab a drink or even justrelax
                            in the parks. It is such a short journey away from the peace and quiet of the Brecon Beacons
                            or the beach down at Barry Island and I cannot wait to explore more of itin my future years.
                            My first two years have flown by and despite the obvious hard workand stressors that come
                            with being a Medic I have truly enjoyed my time so far and learnt so much on how to manage
                            myself and my time more effectively. If you have any questions or would like any tips I am
                            more than happy to help.</p>
                        <p class="mb-5">
                            <em> -by <strong>Jasmine, </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studying medicine inWales</a>, UK, University of Cardiff</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/jasmine.jpg' %}" class="img-fluid rounded-circle"
                            alt="medical-student-at-the-university-of-buckingham" title="medical-student-at-the-university-of-buckingham" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>I’m a 4th year medical student at Cardiff University, currently intercalating in
                            SportScience. I have thoroughly enjoyed my experience at Cardiff University, not only
                            in medical school but also through its rich extracurricular opportunities. I understand
                            how challenging the application process will be, on top of the many changes that have happened
                            over the past year. I am more than happy to answer any questions regarding all parts of
                            the application process and course. I have experience as an MMI interviewer for this year’s
                            applicant-cohort and continuously engage in mentoring prospective students with personal
                            statements, UCAT and interview support.</p>
                    </article>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>My journey into medicine involved ensuring I had the relevant work experience
                            and qualifications. Throughout secondary school, I engaged in long-term volunteering at
                            a care home and one week shadowing at my local emergency department and community mental
                            healthcentre. Balancing academics and extracurricular activities such as badminton, helped
                            to demonstrate my organisational and time-management capabilities. Having received my
                            GCSE,AS-Level grades and UCAT score, I tailored my application to universities I would
                            have the greatest chance of receiving an offer. Three out of four universities invited me for
                            aninterview, including Bristol and Birmingham University and I subsequently
                            received offers from all.</p>
                        <p>I chose to firm Cardiff as I really loved their course focus on early clinical
                            exposureandcase-based learning. The environment was so friendly and welcoming and it’s a
                            beautifulcityI’m so lucky to call home for the past 4 years! Good luck to everyone in
                            their applications, please don’t hesitate to reach out!</p>
                        <p class="mb-5">
                            <em> -by <strong>Parvathi, </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}">studying medicine
                                    inWales</a>, UK at the University of Cardiff</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/parvathi.jpg' %}" class="img-fluid rounded-circle"
                            alt="parvathi" title="parvathi" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-5">*Please confirm all relevant information on thispage with your medical school
                    application mentor</p>
            </div>
        </div>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" id="login" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <idata-feather="x-circle">
                            </i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <form method="POST" id="afm-form" action="index/">
                                <h4>Register Your Interest</h4>
                                <div class="form-group" required>
                                    <select name="ima_roll" class="form-control" required>
                                        <option value="">I m a..</option>
                                        <option value="Student">Student</option>
                                        <option value="Parent">Parent</option>
                                        <option value="Agent">Agent</option>
                                        <option value="Mentor">Mentor</option>
                                        <option value="University">University</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="email" class="form-control border-right-0"
                                        placeholder="Provide Your Email" required>
                                    <span class="input-group-append bg-white border-left-0">
                                        <span class="input-group-text bg-transparent">
                                            <i data-feather="mail">
                                            </i>
                                        </span>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center my-5">
                                    <input class="theme-btn" type="submit" name="send_message_btn" value="Register" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}