{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine at Imperial College Medical School in London{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Imperial School of Medicine is one of the best universities offering courses in Heart and Lung,
Infection, Metabolism, Digestion and Reproduction, and more{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%} https://applyformedicine.com/uk-medical-schools/studying-medicine-at-imperial-college-london/
{% endblock %}{% endblock %}
 {% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>Imperial College London
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Imperial College London</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£45,300</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>Traditional</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at Imperial College London</h2>
                        <p>Imperial offers a five-yearmedical course which combines a traditional teaching approach with
                            more modern methods such as problem-based learning (PBL), small-group teaching,labs and
                            workshops, etc. Teaching takes on a spiral-style curriculum structure, in which each year
                            builds upon the knowledge learnt in the previous years, that is also integrated with
                            opportunities to develops research skills. The course includes three phases.</p>
                        <p>During phase one, students learn the scientific knowledge of health and illness that forms of
                            basis of medical practice. In addition to this, students are taught the principles of
                            clinical practice which involves learning from clinical cases/scenarios.Students also have the
                            opportunity during this first phase to get involved in research and clinical improvement.</p>
                        <p>In phase two, students have the opportunity to study and undertake a research project ina
                            field of interest to obtain a BSc degree (intercalation).</p>
                        <p>In the final phase, the topics and themes from throughout the course will be returned toand
                            expanded through placements in different clinical settings. Students will also have the
                            chance to work within a clinical team to gain experience in working within a
                            multidisciplinary team. In the final year, students also prepare and train extensively for
                            their future role as a Foundation doctor.</p>
                        <p>Imperial also offers a tutoring programme to provide students guidance and particularly
                            with developing effective study skills.</p>
                    </article>
                </div>
                <div class="col-md-12 col-lg-12">
                    <article>
                        <h3>Get mentored by medical students at Imperial College London</h3>
                        <p class="mb-3">
                            <strong>Life as an Imperial Medical Student</strong>
                        </p>
                        <em>
                            <p>Hi, my name is Gurneet and I am currently a fourth-year medical student at Imperial.The
                                course structure at Imperial is such that your first two years are primarily about
                                building on your fundamental scientific knowledge, with third, fifth- and sixth-year
                                being placement based. Fourth year is the BSc year where we intercalate ina course of
                                our choice – this means that after the 6 years, you essentially come outwith two
                                degrees! I chose to do my BSc in Management but there’s a whole host of courses to choose
                                from ranging from more science-basedBSc’s to engineering as wellas management.</p>
                            <p>Life as a medical student inevitably comes with its ups and downs and it’s important to
                                remember that the hard work doesn’t stop once you get your place at med school.But that
                                is not to say that studying at Imperial doesn’t come with its rewards and opportunities
                                too! Throughout your time here, students are fortunate enough to belectured by some of
                                the most respected doctors and professors in their field, giving up their time to help
                                the next generation of doctors. As well as that, the help and support from faculty
                                ensures you always feel guided. The best part about being atICSM (Imperial College
                                School of Medicine) is the tight knit community that exists amongst all the students from
                                first year to final year. This sense of “a big family”extends beyond just academic help
                                and support that is provided by older years to younger years, but also in terms of
                                socialising in clubs and societies which helps balance out that workload and make the
                                whole experience so fulfilling!</p>
                        </em>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <p>
                        <em>I have thoroughly enjoyed my time at Imperial so far and boy, do the years fly by.Meeting new
                            people, facing new challenges as well as setting and achieving new goals each year has bought
                            with it its own challenges and opportunities; but the support,community nature and great
                            company makes it much more than just bearable - not to mention the privilege of having a
                            campus at South Ken and living student life amongst the hustle and bustle of central
                            London!</em>
                    </p>
                    <p class="mb-5">
                        <em> -by <strong>Gurneet, </strong>
                            <a href="{% url 'administration:uk_medical_schools' %}">studying medicine in the
                                UK</a> as a 4th year medical student at Imperial College London,Faculty of Medicine</em>
                    </p>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/4th-year-medical-student-at-imperial-college-london.jpg' %}"
                            class="img-fluid rounded-circle" alt="4th-year-medical-student-at-imperial-college-london" title="4th-year-medical-student-at-imperial-college-london" width="290" height="290" loading="lazy" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8 order-md-2">
                    <article>
                        <p>
                            <em>Hey, I’m Rasha and I’m a first-year medical student at Imperial College London: it feels
                                surreal just saying these words. As cheesy as it sounds, it is a dream come true and for
                                many of you reading this, if there’s one thing you should know, it’sthat if you put your
                                mind to it, persevere, and work hard, there’s virtually nothing stopping you from being
                                able to achieve your goals. Hours of preparation for the BMAT, multiple gruelling
                                interviews, 4,000 carefully chosen characters: all this andI’ve only begun describing my
                                very long, very demanding but ultimately very rewarding journey into medical school. The
                                sheer elation you feel however, when you receive that letter of acceptance, stands
                                incomparable and as no student treads theexact same path into Medicine, it’s up to you
                                how you personalise your experiences and effectively communicate them, all while showing
                                that you’re in it for the long-run.</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Rasha, </strong>current <a
                                    href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">medical student in the UK</a>, at Imperial College, London</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4 order-md-1">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/student-at-imperial-college.jpg' %}"
                            class="img-fluid rounded-circle" alt="student-at-imperial-college" title="student-at-imperial-college" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" id="login" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <idata-feather="x-circle">
                            </i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <form method="POST" id="afm-form" action="index/">
                                <h4>Register Your Interest</h4>
                                <div class="form-group" required>
                                    <select name="ima_roll" class="form-control" required>
                                        <option value="">I m a..</option>
                                        <option value="Student">Student</option>
                                        <option value="Parent">Parent</option>
                                        <option value="Agent">Agent</option>
                                        <option value="Mentor">Mentor</option>
                                        <option value="University">University</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="email" class="form-control border-right-0"
                                        placeholder="Provide Your Email" required>
                                    <span class="input-group-append bg-white border-left-0">
                                        <span class="input-group-text bg-transparent">
                                            <i data-feather="mail">
                                            </i>
                                        </span>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center my-5">
                                    <input class="theme-btn" type="submit" name="send_message_btn" value="Register" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-widget-wrapper">
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <div class="footer-widget d-flex justify-content-center">
                        <img src="{% static 'website/img/footer/Apply-For-university.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4>Useful links</h4>
                        </div>
                        <ul class="list">
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Career</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h4>Social Contact</h4>
                        </div>
                        <ul class="address-list">
                            <li>
                                <ul class="footer-social">
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-f">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-linkedin-in">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p class="text-center">&copy; 2020 - 2022 Copyright <a href="https://theapplygroup.com/">
                    <span class="afm-font-500">The Apply Group Ltd.</span>
                </a> All Rights Reserved.</p>
        </div>
    </div>
    </footer>
</main>
{% endblock %}