{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine in Kent & Medway Medical School, England{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Kent & Medway Medical School in England offers a vast range of undergraduate and postgraduate
degrees in the medical discipline{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-kent-and-medway-medical-school/
{% endblock %}{% endblock %}
 {% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">International Foundation Group</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>Kent & Medway Medical School
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Kent & Medway Medical School</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>"£45,000." </td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <h2>Study Medicine at Kent & Medway Medical School</h2>
                    <article>
                        <p>The five-year integrated medical programme offered at KMMS involves education through
                            lectures, small-group teaching, placements and more, that ultimately awards a medical degree
                            jointly by University of Kent and Canterbury Christ Church University.</p>
                        <p>In the first two years, students learnthe fundamental medical knowledge through a
                            systems-based learning approach. This includes undertaking a variety of biomedical, social
                            and professionalism modules and students have the opportunity to also develop basic clinical
                            skills.</p>
                        <p>In the third year, students expand their clinical training and education through attachments
                            in different healthcare settings and across some different specialities.</p>
                        <p>During the fourth year, clinical knowledge is further developed through more extensive
                            placements in specialist rotations. Students will also have the chance during this year to
                            work on a research project to develop their research skills and understanding.</p>
                        <p>The final year of education focuses on preparing for the Foundation programme through
                            regional attachments and more intensive development of certain clinical skills such as
                            patient management, diagnostic reasoning and communication.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-areapb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h3>Get mentored by medical students at Kent & Medway Medical School</h3>
                        <p>
                            <i>Being a founding KMMS student is a very special experience that you can’t get at any
                                other medical school. You have the opportunity to mould the student experience, the
                                student union, the Medsoc and even the curriculum to what you want it to be. It’s the
                                only medical school in the South East of England and offers so many amazing
                                opportunities from the very first year; including clinical placements from the very
                                first term.</i>
                        </p>
                        <p>
                            <i>KMMS is a joint medical school, a collaboration of Canterbury Christchurch University and
                                University of Kent. Being a student of both universities means that you have access to
                                all resources, events and facilities at both universities and two brand new buildings!
                                One of the most special parts is the emphasis on interprofessional learning, not only
                                will you be having lectures with your fellow medics but with students on allied
                                healthcare courses too! KMMS uses an integrated teaching style and dissection of
                                cadavers, so if you’re a hands-on learner it will be perfect for you. KMMS also puts a
                                lot of emphasis on the interview process rather than personal statement and their MMI’s
                                are quite different to other medical schools so make sure you read the guidance!</i>
                        </p>
                        <p>
                            <i>Canterbury is a beautiful place to study and being able to switch from the Kent campus,
                                which is quite scenic and the CCU campus which is based in the city, is a privilege that
                                not many students have. Make sure you come for an open day and experience the city of
                                Canterbury for yourself; there is so much to do, historical tours, walking by the canal,
                                punting, high-street shopping; it’s an amazing place to study!’ </i>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Venus, </strong>1st year <a
                                    href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">medical student in the UK</a>, at the Kent & Medway Medical
                                School</em>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" id="login" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <i data-feather="x-circle">
                        </i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <form method="POST" id="afm-form" action="index/">
                                <h4>Register Your Interest</h4>
                                <div class="form-group" required>
                                    <select name="ima_roll" class="form-control" required>
                                        <option value="">I m a..</option>
                                        <option value="Student">Student</option>
                                        <option value="Parent">Parent</option>
                                        <option value="Agent">Agent</option>
                                        <option value="Mentor">Mentor</option>
                                        <option value="University">University</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="email" class="form-control border-right-0"
                                        placeholder="Provide Your Email" required>
                                    <span class="input-group-append bg-white border-left-0">
                                        <span class="input-group-text bg-transparent">
                                            <i data-feather="mail">
                                            </i>
                                        </span>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center my-5">
                                    <input class="theme-btn" type="submit" name="send_message_btn" value="Register" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}