{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}GKT School of Medical Education, Kings College London{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Looking for fellowship in disciplines like Allergic Mechanisms of Asthma or Developmental
Neurobiology King's Medical School is the best option{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-kings-college-london-kcl/
{% endblock %}{% endblock %}
 {% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>King’s College London (KCL)
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">King’s College London (KCL)</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>"£38,850 pa. All International applicants to undergraduate programmesare
                                            requiredto pay a deposit of £5,000 against their first year’s tuition fee."
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at King’s College London (KCL)</h2>
                        <p>KCL offers an integrated medical course which provides students the chance to
                            receive exceptional clinical training at partner hospitals such as Guy’s hospital, King’s
                            Collegehospital and St. Thomas’ hospital as well other healthcare settings across
                            the South-East of England. The medical teaching throughout the course also
                            incorporates lectures, tutorials, seminars, self-directed learning, etc.</p>
                        <p>Stage one of the course involves learning fundamental medical knowledge which
                            includes biomedical and population sciences. Students also have the opportunity to develop
                            basic clinical skills such as communication, professionalism, etc.</p>
                        <p>In stage two, students focus more on applying the scientific knowledge from the firststage
                            into clinical contexts and learning about patients with common conditions.</p>
                        <p>An intercalation year is offered between the second and third stage to obtain a BSc degree in an
                            area of interest to the student. Student-Selected Components and ScholarlyProjects are also
                            offered during Stage Two.</p>
                        <p>The final stage is focused on preparation for practice through extensive expansion of clinical
                            experience and through clinical simulations and inter-professional training. Students also
                            further develop skills in patient communication, population health, etc. Quality improvement
                            projects are also undertaken as well as elective, typically abroad, to allow students the
                            chance to explore Medicine in the wider world.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pt-1 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Get mentored by medical students at King’s College London (KCL)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>
                            <em>I am a first-year medical student at King’s College London (KCL). I was born and raised
                                in London, and I really wanted to go to KCL ever since I started volunteering in the
                                chemotherapy wards at King’s College London Hospital, an affiliated
                                training hospital. King’s medical students can train at Guy’s, King’s College and St
                                Thomas’ hospitals and other notable hospitals all across South England. KCL integrates
                                medical science along side clinical teaching and we have professors who are leading medical
                                research globally. At KCL, we start seeing patients from second year. Early patient
                                contact is not available at all the other medical schools, that may follow are more
                                traditional delivery of medical education. Currently, I am based at Guy’s Campus, at
                                London Bridge and enjoying mytime as a medical student right in the heart of central
                                London.</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Sophika, </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studying medicine in the UK</a> as a first year medical student at
                                KCL</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/sophika-uthayakumar-first-year-medical-student-at-kcl.jpg' %}"
                            class="img-fluid rounded-circle" alt="sophika-uthayakumar-first-year-medical-student-at-kcl" title="sophika-uthayakumar-first-year-medical-student-at-kcl" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8 order-md-2">
                    <article>
                        <p>
                            <em>I chose to apply to King’s College London after visiting the beautiful Guy’s Campus on
                                the open day back in 2019 and fell in love with it immediately. After researching the
                                course structure and teaching delivery, I knew it was the place for me.</em>
                        </p>
                        <p>
                            <em>Medicine at King’s is an integration of medical science with clinical teaching throughout
                                with focus on learning in close contact with patients with partner hospitals including
                                Guy’s, King’s College and St Thomas’ Hospitals – three of themost renowned and busiest
                                teaching hospitals in London. There is also a chance tobenefit from placements in
                                general practices and hospitals covering most of thesouth of England. One aspect of
                                King’s curriculum that I love is that it is varied and gives you access to a breadth of
                                non-core subjects including humanities andsocial sciences. I am really enjoying my time
                                as a medical student at King’s.</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Azzra, </strong>current medical student at Kings College London</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4 order-md-1">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/medical-student-at-kings-college-london.jpg' %}"
                            class="img-fluid rounded-circle" alt="medical-student-at-kings-college-london" title="medical-student-at-kings-college-london" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>
                            <em>I’m a first-year medic at King’s College London (KCL). I am from India where I was born
                                and brought up, however, I’ve lived in countries like Singapore and the US aswell. As an
                                international student, I, therefore, understand that the idea of studying abroad can be
                                daunting. However, I can say with confidence that choosing kings is one of the best
                                decisions I’ve made in my life and I couldn’t be happier with where I am.</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>
                            <em>​The GKT school of medical education is one of the best medical schools in the
                                world where you can reap the benefits of quality teaching, a fantastic course, a
                                diverse student population and a great location. Integrated teaching at KCL assures that
                                all medical students who study here turn out to be well-rounded doctors who focus
                                on holistic care. The clinical teaching here is unmatched at some of the best hospitals in
                                the country (Guy’s Hospital, St Thomas’s Hospital and King’s College Hospital)starting
                                early in the 2nd year of your time at King’s. Additionally, Guy’s Campus islocated in
                                the most happening and student-friendly area of London where you’ll be surrounded by your
                                talented peers who come from varied cultural backgrounds and many different parts of the
                                world.</em>
                        </p>
                        <p>
                            <em>​I, having made it to King’s against odds that were very much against me, can say with
                                conviction that I am well equipped to guide you and provide you with support in your
                                journey to medical school.</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Shivaan, </strong>medical student at KIngs College, London</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/shivaan.jpg' %}" class="img-fluid rounded-circle"
                            alt="shivaan" title="shivaan" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-5"> * Please confirm all relevant information on this page with your medical school
                    application mentor </p>
            </div>
        </div>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" id="login" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <idata-feather="x-circle">
                            </i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <form method="POST" id="afm-form" action="index/">
                                <h4>Register Your Interest</h4>
                                <div class="form-group" required>
                                    <select name="ima_roll" class="form-control" required>
                                        <option value="">I m a..</option>
                                        <option value="Student">Student</option>
                                        <option value="Parent">Parent</option>
                                        <option value="Agent">Agent</option>
                                        <option value="Mentor">Mentor</option>
                                        <option value="University">University</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="email" class="form-control border-right-0"
                                        placeholder="Provide Your Email" required>
                                    <span class="input-group-append bg-white border-left-0">
                                        <span class="input-group-text bg-transparent">
                                            <i data-feather="mail">
                                            </i>
                                        </span>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center my-5">
                                    <input class="theme-btn" type="submit" name="send_message_btn" value="Register" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}