{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine at University of Nottingham Medical School, UK{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Study anatomy, biochemistry, pharmacology, behavioral sciences, pathology, neurology,
embryology in School of Medicine in University of Nottingham{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-nottingham/
{% endblock %}{% endblock %}

{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Nottingham
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Nottingham school of Medicine
                        </h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£24,990</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Study Medicine at The University of Nottingham school of medicine</h2>
                    <p>Nottingham offers a five-year medical course which incorporates lectures, tutorials,small-group
                        teaching, labs and a case-based learning approach. Nottingham is also one of ahandful of medical
                        schools that offer full-body cadaveric dissection as part of anatomylearning. Clinical skills
                        are also prepared early on in the course through clinical skillsand relevance sessions.</p>
                    <p>The course is divided into two phases. In the initial phase (first three years), studentswill be
                        taught the scientific knowledge underlying Medicine through a systems-based approachof
                        understanding the human body. Student also receive some clinical exposure through GP andhospital
                        visits and develop basic clinical skills. Students additionally undertake aresearch project
                        alongside a Research Methods module in their third year which leads to aBMedSci degree – this is
                        not a separate intercalated degree but rather it is an integratedfeature of the course.</p>
                    <p>In the Clinical phase (final two years) students will learn to apply these skills andknowledge
                        through clinical placements in various healthcare settings across Nottingham,Derby, Mansfield
                        and Chesterfield. In the final years of the course, students also have thechance to study abroad
                        through exchange programmes with a number of countries around theworld (e.g. Germany, Croatia,
                        Norway, Spain, Malaysia, etc.) and through an electiveplacement in the fifth year. Final year
                        students also prepare for their future job as aFoundation doctor by undertaking a medical
                        assistantship nearing the end of the course.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h3>Get mentored by medical students at The University of Nottingham school of medicine</h3>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>
                            <em>"Hi I'm Heather, and I'm a first-year GEM (that's <a
                                    href="{% url 'administration:graduate_entry_to_medicine' %}"
                                    class="afm-link">graduate-entry medicine</a> FYI)student at the University of
                                Nottingham. My journey to medicine has not been easy; Ididn't get any offers to study
                                medicine in high school, followed by achieving poormarks in my IB. However, after
                                completing a BSc in Pharmacology, an MSc inCardiovascular Science, and a lot more hard
                                work in between, I finally got acceptedonto a graduate medical program. I know what it's
                                like to feel like you're nevergoing to make it but trust me, every event in your life is
                                just preparing you forsomething better, and you will achieve your dreams, and more, in
                                the end."</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Heather, </strong>
                                <a href="{% url 'administration:graduate_entry_to_medicine' %}"
                                    class="afm-link">graduate medical student</a> at the University ofNottingham</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/medical-student-at-the-university-of-nottingham.jpg' %}"
                            class="img-fluid rounded-circle" alt="medical-student-at-the-university-of-nottingham" title="medical-student-at-the-university-of-nottingham" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8 order-md-2">
                    <article>
                        <p>
                            <em>‘I’m a medical student at the University of Nottingham, and I knew Nottingham wasfor me
                                on the day of my interview. Talking to senior students, fellow intervieweesand the
                                overwhelmingly friendly atmosphere on the day just made me realise thatNottingham may be
                                one of the few medical schools, where you have a fine balancebetween strong competition
                                amongst peers and a sense of obligation to aid thosearound you in their studies too.
                                Medicine can be a very demanding, cut-throat path,so having an atmosphere like this,
                                especially as an impressionable young medicalstudent, I thought would be very beneficial
                                for myself. Now, after being here forseveral months, I know that my initial judgement
                                was right!</em>
                        </p>
                        <p>
                            <em>My experiences of the way in which the pre-clinical course is delivered has beengreat;
                                weekly case studies, supplemented by lectures on anatomy, physiology andpharmacology to
                                make sense of the condition being presented in the case. Then, atthe end of the week a
                                plenary session is delivered by a consultant specialised inthat particular condition, in
                                order to answer any additional questions.</em>
                        </p>
                        <p>
                            <em>Also, anatomy is taught through a combination of prosections and full bodydissections,
                                and these sessions went ahead as normal, in a safe manner, despite theon-going pandemic,
                                which I believe is testament to the University of NottinghamMedical School and its
                                staff.’</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Nayan, </strong>a 1st year Medical Student at the University ofNottingham
                            </em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4 order-md-1">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/nayan-dey.jpg' %}" class="img-fluid rounded-circle"
                            alt="nayan-dey" title="nayan-dey" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-5">*Please confirm all relevant information on this page with your medical school
                    application mentor</p>
            </div>
        </div>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" id="login" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <idata-feather="x-circle">
                            </i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <form method="POST" id="afm-form" action="index/">
                                <h4>Register Your Interest</h4>
                                <div class="form-group" required>
                                    <select name="ima_roll" class="form-control" required>
                                        <option value="">I m a..</option>
                                        <option value="Student">Student</option>
                                        <option value="Parent">Parent</option>
                                        <option value="Agent">Agent</option>
                                        <option value="Mentor">Mentor</option>
                                        <option value="University">University</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="email" class="form-control border-right-0"
                                        placeholder="Provide Your Email" required>
                                    <span class="input-group-append bg-white border-left-0">
                                        <span class="input-group-text bg-transparent">
                                            <i data-feather="mail">
                                            </i>
                                        </span>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center my-5">
                                    <input class="theme-btn" type="submit" name="send_message_btn" value="Register" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}