{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Medical Courses at Anglia Ruskin University School of Medicine{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %}
Anglia Ruskin University School of Medicine offers Healthcare Science. It offers medical and clinically-focused
undergraduate and postgraduate degrees.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2 %}https://applyformedicine.com/uk-medical-schools/studying-medicine-at-anglia-ruskin-university/
{% endblock %}{% endblock %}

{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="#">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>Anglia Ruskin University
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Anglia Ruskin University, School of Medicine
                        </h1>
                        <p data-animate="fadeInUp" data-animate-delay="0"> Medical School in England </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tr>
                                    <td>Fees (International/Non-EU students): </td>
                                    <td>UK only</td>
                                </tr>
                                <tr>
                                    <td>Interview Style: </td>
                                    <td>MMI</td>
                                </tr>
                                <tr>
                                    <td>Course Structure: </td>
                                    <td>Integrated</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at Anglia Ruskin University, School of Medicine</h2>
                        <p> Anglia Ruskin’s five-year MBChB degree focuses on teaching students in an innovative, modern
                            curriculum. </p>
                        <p> During training, you will learn new concepts as well as their connection to older, acquired
                            concepts, which allows you to build a solid, integrated understanding of clinical practice.
                        </p>
                        <p class="mb-2">
                            <b>The medical training program is divided into three phases:</b>
                        </p>
                        <p> Phase one starts in the first year, with a system-based approach that allows students to
                            comprehend the fundamental principles of medicine. For instance, the programme entails
                            learning about the respiratory, cardiovascular and gastrointestinal systems, using a
                            combination of theoretical knowledge and practical aspects.
                        <p> The second phase takes place during the second and third year, with a similar system-based
                            approach to phase one. This time, however, you will consolidate your knowledge in a clinical
                            setting through various clinical rotations. </p>
                        <P> Finally, Phase three extends between the fourth and fifth year, where the training shifts
                            towards a case-based teaching style. </P>
                        <P> Overall, there are 100 core clinical problems that help students understand an integrated
                            view of medicine. During this time, you will learn about several core specialty-based
                            clinical placements and a final Preparation for Practice (PfP) placement. </P>
                        <P> The PfP block aids in developing the necessary experience for a junior doctor. You will also
                            undertake foundation assistantship teaching blocks that focus on general practice, medicine
                            and surgery. </P>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <h3>Get mentored by medical students at Anglia Ruskin University, School of Medicine</h3>
                </div>
                <div class="col-md-8 col-xl-8">
                    <em>
                        <p> Hi I’m Josh, I am a second year Medical Student at Anglia Ruskin University. I applied to 4
                            Medical Schools in England and was lucky enough to get all 4 offers. I started Medicine
                            straight out of sixth form and chose ARU because of the integrated course design with early
                            clinical placements as well as it being a brand new Medical School with amazing facilities.
                            All the doctors in Essex are so excited about Essex’s first Medical School and so there are
                            so many opportunities available at any of Essex’s 5 main hospitals for students. </p>
                        <p> My first year was amazing and included full cadaveric dissections of all the systems we had
                            studied as well as regular weekly placements in hospital. In my spare time I am a light
                            aircraft pilot and run a tutoring business. I am more than happy to help anyone interesting
                            in going into Medicine. </p>
                    </em>
                    <p class="mb-5">
                        <em> -by <strong> Joshua, </strong>
                            <a href="{% url 'administration:uk_medical_schools' %}">Medical Student in the
                                UK</a> (MBChB) Anglia Ruskin School of Medicine</em>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/joshua.jpg' %}" class="img-fluid rounded-circle"
                            alt="medical-student-at-anglia-ruskin-university" title="medical-student-at-anglia-ruskin-university" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8 order-md-2">
                    <article>
                        <p>
                            <em> ‘Hi I’m Maya and I am currently a third year undergraduate medical student at Anglia
                                Ruskin University. After getting no offers for medicine, I had to stay motivated to work
                                for my A Levels. Anglia Ruskin had opened in March 2018 and I attended an interview the
                                day before my A Level Chemistry exam, within weeks I was shocked I had received an
                                offer. The path to medicine is not easy. It requires hard work, determination and
                                commitment. We will all encounter hurdles, but every time something doesn’t go to plan -
                                stay positive, as there is always a way around it. I want to encourage applicants to
                                reach their aim, no matter how long it takes.’ </em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Maya, </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}" class="afm-link">studying medicine in the UK</a>, at Anglia
                                Ruskin University</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4 order-md-1">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/maya.jpg' %}" class="img-fluid rounded-circle"
                            alt="maya" title="maya" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <div class="container">
        <p class="mb-5"> * Please confirm all relevant information on this page with your medical school application
            mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now </p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}