{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}University of Oxford Medical School, Sciences Division in UK{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} The University of Oxford is one of the most traditional and top-ranked universities in the
world. It offers a highly competitive medical degree course.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-oxford/
{% endblock %}{% endblock %}

{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Oxford
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Oxford</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>Years 1, 2, 3: £34,025 Years 4, 5, 6: £44,935</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>Traditional</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Traditional</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at The University of Oxford</h2>
                        <p>The medicine course at Oxford is a traditional six-year programme divided into 3pre-clinical
                            years (after which students receive a BA degree in medical science) andthen 3 clinical years
                            (after which students receive an BM, BCh degree).</p>
                        <p>The preclinical year incorporate lectures, tutorials and practicals. In the first fiveterms
                            students are taught the fundamentals of medical science, how the body functionsand the
                            mechanisms of disease. In the remaining four terms, students undertakea research project to
                            develop research skills and critical scientific thinking skills,alongside studying two of
                            the follow modules: neurobiology, developmental biology,cardiovascular biology and
                            pharmacology, metabolismand respiration, infection or immunity.</p>
                        <p>During the last three clinical years students begin their clinical education. The fourthyear
                            focuses on developing the basic, core clinical skills and knowledge and includesplacements
                            in GPs, hospitals and undertaking a special study module. In thefifth year, students expand
                            their clinical knowledge through placements across a varietyof specialist placements in
                            paediatrics, psychiatry, obstetrics and gynaecology,orthopaedics, etc. The final year
                            focuses on consolidationof clinical skills and aids students in preparing for their future
                            role a Foundationdoctor. This year also includes senior rotations in medicine and surgery in
                            Oxford andother District General hospitals, special studymodules and a chance to undertake
                            an elective to explore Medicine in the wider world.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Get mentored by medical students at University of Oxford</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <p>
                            <em>Hi! I’m Aaron, a second year Medical Student at the University of Oxford. I supposemy
                                journey into Medicine formally began with work experience at the end of secondaryschool
                                at a local GP surgery. I remember some of my earliest patient interactions inthis
                                setting fondly and I believe they’ll stay with me throughout my career.Subsequently,
                                placements in a radiology department and volunteering in a care home,confirmed my
                                ambition to study medicine. While the application to medical school canfeel protracted
                                and, on occasion, never-ending, I firmly believe the experiences Igained during it will
                                profoundly shape my practice as a doctor when I finallyqualify. Therefore, I’d encourage
                                you to view gaining work experience as a fantasticopportunity to gain real insight into
                                the medical profession, rather than a hoop tobe jumped through on the journey to medical
                                school.</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>
                            <em>I applied to Oxford University following encouragement, and inspiration, from myA-level
                                tutors and, much to my surprise, a mere 12 months, a BMAT and UCAT exam and4 A-levels
                                later, I arrived in Oxford. Oxford University has a global reputation forits academic
                                rigour and high-quality teaching, yet, despite the lofty expectations Ihad for it, it
                                surpassed everyone. While the course has limited patient exposure inthe first 3 years,
                                the opportunity to really grapple with the science underpinningmedicine establishes a
                                strong foundation for the clinical years. Despite the obviousrestrictions imposed by
                                Covid19, I’ve enjoyed all the things Oxford has to offerincluding the balls, excellent
                                range of talks and debates, sports opportunities andindulging in the history Oxford has
                                to offer.</em>
                        </p>
                        <p>
                            <em>There are plenty of opportunities to further you academic interests and I wasfortunate
                                to participate in a primary care initiative in my first year to providesupport to
                                vulnerable patients during the pandemic. I have thoroughly enjoyed myfirst two years in
                                Oxford and am happy to help should you have further questions.</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Aaron, </strong>a second year <a
                                    href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">Medical Student at the University of Oxford</a>
                            </em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/aaron.jpg' %}" class="img-fluid rounded-circle"
                            alt="aaron" title="aaron" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-5">*Please confirm all relevant information on thispage with your medical school
                        application mentor</p>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}