{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medical Course at University of Leeds School of Medicine{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} The University of Leeds School of Medicine offers medical degree courses for undergrad and
postgrad students that want to study medicine.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-leeds/
{% endblock %}{% endblock %}

{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Leeds
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Leeds, School of Medicine</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£34,500 pa</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at The University of Leeds, School of Medicine</h2>
                        <p>Situated in a campus-based University with the city centre just a 10-minute walk away,Leeds
                            Medical School is rated among the highest in terms of student satisfaction. The MBChB
                            programme taught at Leeds uses an integrated teaching style within itsspiral curriculum to
                            ensure that medical students receive the highest standard ofeducation in regard to patient
                            contact and clinical exposure. With placement from yearone, students are able to become
                            comfortable withlife on a ward early on while cementing their clinical skills with
                            scientific knowledgein lectures.</p>
                    </article>
                    <h3>Pre-Clinical Years - 1 & 2</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>
                            <span class="font-weight-600">Year 1: </span> First Year medical students experience avaried
                            and diverse timetable with each week comprising of lectures, seminars and smallgroup-work
                            teaching to help tackle their learningfrom every angle. This is complimented with 2 hours in
                            the dissection lab every week aswell as half a day of placement, which increases to a full
                            day in second year. Year onefocuses on laying the foundations of scientifictheory behind
                            medicine, with modules such as Intro to Medical Sciences and Body Systemshelping you to get
                            an in depth understand of human anatomy and physiology. This issupplemented with modules on
                            the effects of diseaseon entire populations and improving clinical readiness and excellence.
                            Leeds pridesitself on having a strong focus on research, so modules on research skills and
                            analysisare taught throughout all five years.
                        </p>
                        <p>
                            <span class="font-weight-600">Year 2: </span> Year two further strengthens
                            student’sunderstanding of medical sciences and anatomy and begins to focus more on the
                            individualdiseases that can affect the human body, withmodules including Essential Medical
                            Sciences, Control & Movement and Clinical Pathology.Students are also exposed to more
                            placement per week with multiple rotations in bothprimary and secondary care. The course
                            also placesa high focus on communications with seminars led by the patient-carer community,
                            anetwork of patients who have years of experience working with healthcare
                            professionals,assessing students on their bedside manner and abilityto lead consultations.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <h3>Clinical Years – 3, 4 & 5</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>
                            <span class="font-weight-600">Year 3: </span> From third year onwards students areexposed to
                            full clinical placement 4 days a week, increasing to 5 from fourth year.Students have access
                            to Leeds’s vast number of teachinghospitals including the LGI and St. James (two of the
                            largest teaching hospitals inEurope), Bradford, Wakefield, Harrogate, Pontefract, Halifax,
                            Airedale and Wharfdale.Third students experience 5 rotations of generalmedical placements
                            comprising of GP, acute medicine, surgery, special senses and elderlycare. This means that
                            the focus of theory learning switches from primarily lecture basedto self-directed learning.
                            Although thereare lecture weeks at the end of each placement rotation, the amount of
                            learning studentsare expected to do on their own does increase from second year. Second- and
                            third-yearstudents also get to choose from a wide rangeof student-selected projects (or
                            SSPs) at the end of the first term where they are ablediversify their knowledge with
                            teaching on anything from ambulance care and prisonmedicine to introductory Spanish and Sign
                            Language.
                        </p>
                        <p>
                            <span class="font-weight-600">Year 4: </span> From fourth year placements become evenmore
                            specialised including oncology, paediatrics and obstetrics and gynaecology.Students also
                            undertake a two-year research projectknown as an ESREP which challenges involves putting
                            into practice the research skillsthey have learnt over the previous two years. Students work
                            in pairs and are supervisedby a clinical professional to create a paper,audit or report from
                            a wide range of options or even a self-selected project.
                        </p>
                        <p>
                            <span class="font-weight-600">Year 5: </span> Fifth year focuses on preparing studentsfor
                            their upcoming roles as foundation year doctors in the NHS including the culminationof their
                            ESREP projects and a final selectionof placements that lead up to their final university
                            exams and OSCE and the SJT andPrescribing exams taken by all medical students nationwide
                            before graduation. Unlikeother medicals, with access to such a large pool ofhospitals the
                            student body is not split up and sent to other parts of the country,meaning the medical
                            student community stays together throughout all 5 years.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pb-2 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <h3>Advice for Applicants | Get mentored by medical students at University of Leeds, School
                        of Medicine</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>Experience the city – before applying make sure to visit Leeds if you can and see thewide
                            range of amenities and adventures Leeds and Yorkshire have to offer. These includemultiple
                            shopping centres, hundreds of student-focused restaurants and arguablythe best night life in
                            the entire country! Leeds is a large, open and diverselymulticultural city with over 75,000
                            students living there from year-to-year. TheYorkshire dales and Roundhay Park are also only
                            short drivesaway if you want to escape the city and experience breath-taking views and fresh
                            air.</p>
                        <p>Research the course – different medical schools offer different styles of teaching.Leeds is
                            integrated but other styles include problem-based learning (PBL) andtraditional so make sure
                            to research and find out which style best suits you.</p>
                        <p>Be yourself – the application for Leeds Medical School places a strong focus on theinterview,
                            so make sure not to only to prepare well for the questions they might throwat you but also
                            to answer honestly! Interviewers are trained to be able to recognisewhen a candidate is
                            being dishonest or isn’t able to truly understand the role of adoctor as well as the
                            benefits and challenges that come with it. Remember the NHS wantsdoctors who are not only
                            prepared but also kindand empathetic.</p>
                        <div class="row">
                            <div class="col-md-8 col-xl-8">
                                <p>Do check the medical school’s admissions requirements, however Leeds no longerplaces
                                    any weight on the personal statement, meaning that a higher proportion ofcandidates
                                    are invited to interview, where a bulk of the assessment is carriedout. </p>
                                <p class="mb-5">
                                    <em> -by <strong>Darius, </strong>current <a
                                            href="{% url 'administration:uk_medical_schools' %}"
                                            class="afm-link">medicalstudent in the UK</a>, at the University of
                                        Leeds</em>
                                </p>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="afm-student-img">
                                    <img src="{% static 'website/img/content-img/medical-student-at-the-university-of-leeds.jpg' %}"
                                        class="img-fluid rounded-circle" alt="medical-student-at-the-university-of-leeds" title="medical-student-at-the-university-of-leeds" width="290" height="290" loading="lazy">
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}