{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}The University of Cambridge for Clinical Medicine, UK{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} The medical division of the University of Cambridge in England offers under graduation and
post-graduation degrees for Clinical Medicine.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-cambridge/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Cambridge
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Cambridge</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£58,308 pa</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>Traditional</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Traditional</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at The University of Cambridge</h2>
                        <p>Cambridge University with its rich history is one of the most unique places to Study Medicine
                            in England. The application process and entry requirements are tough but ifsuccessful you
                            will thoroughly enjoy your six years (or four years if you are apostgraduatestudent) at this
                            university. The medical course at Cambridge has a traditional format ofthree preclinical
                            years and three clinical years including a compulsory intercalation inyour third year for
                            undergraduate students.</p>
                    </article>
                    <div class="site-title">
                        <h4>Preclinical Years (Undergraduate)</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>
                            <span class="font-weight-600">Year 1: </span>In your first year you will study
                            anatomy,physiology of systems, biochemistry and some medical ethics and statistics.
                        </p>
                        <p>
                            <span class="font-weight-600">Year 2: </span> In your second year you will studypathology,
                            pharmacology, neuroscience, some further anatomy and the human reproductivesystem.
                        </p>
                        <p>
                            <span class="font-weight-600">Year 3: </span>In your third year you will intercalate ina
                            specific subject of interest to you. There are a wide variety of subjects that you canchoose
                            to study from, whether it be a science-relatedsubject (e.g. pathology, neuroscience,
                            bioengineering, etc.) or something completelyunrelated to medicine (e.g. philosophy,
                            management studies, anthropology, etc.). At theend of this third year you will obtain a BA
                            degree.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area pb-2 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="site-title">
                        <h4>Clinical Years </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>In your 4th-6th years you will spend time on clinical placements in hospitals, GPs andother
                            healthcare institutions in Cambridge and across the east of England. The focus In year 4 is
                            core clinical practice, in Year 5 is specialist clinical practice(including the chance to
                            spend seven weeks abroad as part of your medical elective) andin Year 6 the focus is on
                            applied clinical practice. Throughout these years you alsoenhance important skills for
                            becoming a clinicianincluding: communication, professionalism, diagnostic reasoning, patient
                            investigationand management, etc. At the end of these six years you will obtains a MB, BCh
                            degree.</p>
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <div class="grade-requirments">
                                    <p class="mb-5">It is important before applying to Cambridge University to study
                                        medicinethat you consider whether the style of education here will suit you:</p>
                                    <ul class="grade-li">
                                        <li>Preclinical studies involve lectures, practicals and
                                            supervisions.Supervisions are a special part of education at Cambridge in
                                            which youwill be taught in small groups by a supervisor for different
                                            subjectsto aid, enhance and build-on from what you learn in lectures
                                            andpracticals.</li>
                                        <li>In your first year, when you study anatomy you also get a chance todissect
                                            and examine cadavers as part of your learning. This gives you aunique
                                            insight into what the anatomy of the human body is really likeand how varied
                                            it can be. This type of understanding of human anatomy issomething that you
                                            otherwise wouldn’t get from learning from models,simulations and anatomy
                                            atlases alone.</li>
                                        <li>Medicine at Cambridge is also unique because of the many
                                            opportunitiesoffered to get involved in research and, given Cambridge’s rich
                                            researchhistory, many components of the learning content aim to
                                            improveunderstanding of scientific research both in the past and present
                                            day.</li>
                                    </ul>
                                </div>
                                <article>
                                    <h3>Get mentored by medical students at University of Cambridge</h3>
                                </article>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-xl-8">
                                <article>
                                    <p>
                                        <em>Beyond the academic aspects of studying Medicine here, Cambridge alsohas a
                                            very vibrant, diverse and student-oriented environment. There aremany
                                            societies of all kinds that you can get involved in and manyopportunities to
                                            meet a wide variety of people.</em>
                                    </p>
                                    <p>
                                        <em>Cambridge is also special for its college formals throughout the yearand
                                            extravagant May Balls after the exam period. All in all, studyingMedicine at
                                            Cambridge is a unique experience offering many opportunitiesthat will allow
                                            you to steer your medical career in the direction thatcaptures your interest
                                            the most.</em>
                                    </p>
                                    <p class="mb-5">
                                        <em> -by <strong>Tharushi,</strong>
                                            <a href="{% url 'administration:uk_medical_schools' %}"
                                                class="afm-link">studying medicine at the University ofCambridge</a>,
                                            UK</em>
                                    </p>
                                </article>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="afm-student-img d-flex justify-content-center">
                                    <img src="{% static 'website/img/content-img/tharushi.jpg' %}"
                                        class="img-fluid rounded-circle" alt="tharushi" title="tharushi" width="290" height="290" loading="lazy">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}