{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Aberdeen University School of Medicine & Dentistry in Scotland{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Consider applying to medical school at the University of Aberdeen's School of Medicine and
Dentistry. It is one of the oldest universities in the UK.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2 %}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-aberdeen-school-of-medicine/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Aberdeen
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Aberdeen, School of Medicine
                        </h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in Scotland</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tr>
                                    <td>Fees (International/Non-EU students): </td>
                                    <td>£43,500 pa</td>
                                </tr>
                                <tr>
                                    <td>Interview Style: </td>
                                    <td>MMI</td>
                                </tr>
                                <tr>
                                    <td>Course Structure: </td>
                                    <td>Integrated</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <article>
                                <h2>Study Medicine at The University of Aberdeen, School of Medicine</h2>
                                <p>During the five-year medical training offered by the University of
                                    Aberdeen’s,students are continuously guided to develop the knowledge and skills
                                    necessary for practicing medicine. The integrated course of the University of
                                    Aberdeen starts with two major organ systems: the respiratory and cardiovascular
                                    systems. As the teaching progresses, students will be given clinical scenarios to
                                    develop the appropriate diagnostic and therapeutic algorithms.</p>
                                <p>In the final two years involve further clinical education through many blocks
                                    of placements in various hospital and community settings. During these years students 
                                    will take on specialist placements in disciplines including ChildHealth, Acute
                                    medicine,Women’s health, Psychiatry, etc.</p>
                                <p>Students will also learn how to conduct a thorough clinical examination for eachorgan
                                    system, which solidifies their information and helps them correlatetheoretical
                                    education to real-life patients. During the second year, studentscontinue
                                    followingthe system-based training, with weekly clinical attachments. Further more,
                                    the shadowing of minor injury nurse specialists is possible.</p>
                                <p>Every year, Student Selected Components (SSC) become available, which allow students
                                    to pursue different areas of expertise. In the third year, SSC adds theoption to
                                    study a variety of topics within Medical Humanities alongside clinical placements.
                                    In year four, you will obtain the diagnostic and therapeutic knowledge to
                                    treatpatients. The programme consists of nine five-week blocks, where you will
                                    learn about various clinical (e.g., dermatology) and surgical specialties (e.g.,
                                    general surgery). In the final year, you will sharpen your skills to prepare for a
                                    safe, science-based practice of medicine.</p>
                                <p>Ranked 4th in Complete University Guide, the University of Aberdeen is one ofthe best
                                    Scottish medical Schools to learn medicine.</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Get mentored by medical students at University of Aberdeen, School of Medicine</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>Hello, I am Jie Fei. I am a 4th year medical student at the University of Aberdeen. As a
                            medical student in Aberdeen, you will get the opportunity to have clinical exposure from
                            first year onwards through patient partners as well as hospital placements. My favourite
                            aspect of the medical course in Aberdeen is the medical humanities student selected
                            component in third year during which students get to choose a wide variety of subjects such
                            as creative writing, art, anatomy, global health, and many more. Another unique programme
                            that is offered by Aberdeen is the Remote & Rural programme whereby 4th year medical
                            students who choose to join it would spend the entire year in Inverness, attached to
                            Raigmore Hospital. You would receive pre-hospital emergency care training and attend rural
                            GP placements, to name a few perks of this programme. One final programme I would like to
                            highlight is the Aberdeen Summer Research Scholarship programme which is an initiative to
                            nurture 1st and 2nd year medical students who are interested in research. All you have to do
                            is send in an application form- no experience required! It is a great way to kickstart your
                            research career, if that is where your interest lies!</p>
                        <p class="mb-5">
                            <em> -by <strong>Jie Fei, </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studying medicine in Scotland</a>, University of Aberdeen</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/jie.jpg' %}" class="img-fluid rounded-circle"
                            alt="jie" title="jie" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="mb-5">*Please confirm all relevant information on thispage with your medical school
                            application mentor</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="afm-join-area bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                        <div class="get-start-content">
                            <h4>Get Started now!</h4>
                            <p>Start your application journey to university and join a fast-growing<br> globalcommunity
                                of students by searching for a mentor now</p>
                            <div class="mt-5">
                                <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>
{% endblock %}