{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine at University of Leicester School of Medical{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Leicester medical school in the UK offers an MBChB degree course in medicine as an
undergraduate five-year course also provides a post-graduation course.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-leicester/
{% endblock %}{% endblock %}

{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Leicester
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Leicester</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>Years 1 and 2: £23,000 Years 3, 4, 5: £40,140</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at The University of Leicester</h2>
                        <p>Leicester offers a 5/6 year course with an integrated, patient-centred curriculum
                            whichincorporates lectures, small-group teaching, clinical teaching and practicals
                            (includingcadaveric dissection). This medical programme is divided into two phases.</p>
                        <p>In phase one (first two years), students learnthe fundamentals of medical
                            sciencethroughintegrated modules that combine learning of the human structure and human
                            health andillness. Community placements provide early exposure to healthcare settings andare
                            part of providing students an understanding of the psycho-social contexts ofhealthcare.
                            Basic clinical skills in communication, patient examination andprofessionalism are also
                            developed.</p>
                        <p>Phase two (final three years) focuses on expansion of clinical education throughplacements in
                            a wide range of hospital and community settings within Leicester andacross the Midlands,
                            Lincolnshire and Northamptonshire. This involves placements acrossa range of different
                            specialties to broaden clinical experience. Students also have thechance to work within a
                            multidisciplinary healthcare team as part of their training.</p>
                        <p>In the final year, students prepare for their future role as a junior doctor by
                            gainingexperience through foundation assistantships and through clinical simulations
                            andprocedural training. Leicester also offer students the opportunity to undertake
                            anintercalated degree and an electiveplacement (abroad or in the UK).</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Get mentored by medical students at The University of Leicester</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <p>Hi, my name is Nikita, a graduate in Biological Sciences and now a 3rd year <a
                                href="{% url 'administration:graduate_entry_to_medicine' %}" class="afm-link">graduate entry medicalstudent</a>at
                            the University of Leicester!</p>
                        <p>It is a fantastic feeling to be calling myself a medical student because as you
                            progressthrough the course, you realise more and more how stimulating Medicine is,
                            bothacademically and emotionally!</p>
                        <p>I am proud to say that I did not give up when my first application for Medicine
                            wasunsuccessful. As they say, "where there is a will there is a way.” Through
                            thisexperience, I have grown a lot and I am really keen to be part of endeavours in which
                            Ican encourage students to maximise their own potential to achieve a successfulapplication!
                        </p>
                    </article>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>I feel incredibly privileged to be studying at The University of Leicester for
                            severalreasons, including the way the course is structured, such that it gives you a
                            solidpre-clinical, integrated foundation so that you hit the ground running in your
                            clinicalphase! The lecturers are phenomenal; they are incredibly knowledgeable and they
                            engagein teaching students effectively. There is a great support network, consisting of
                            notonly the lecturers but also senior medical students, who host plenty of revisionsocieties
                            and provide excellent resources to the juniors. Leicester Medical School has alovely sense
                            of a community and you will find plenty of opportunities to socialise andnetwork with other
                            medical students, as well as develop your own extracurricularinterests to engineer a healthy
                            work-life balance, which is something I truly believein! You really can’t ask for more at
                            Leicester!</p>
                        <p>I am incredibly excited to become a part of TAG and look forward to helping students
                            inwhatever way I can!</p>
                        <p>अप्लाई फॉर मेड से जुड़ कर मैं बहुत खुश हूँ और उम्मीद करती हूँ की जितना हो सके मैं स्टूडेंट्स की
                            मदद कर पाऊँ!</p>
                        <p>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Nikita, </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">medical student in theUK</a> at Leicester medical school</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/nikita.jpg' %}" class="img-fluid rounded-circle"
                            alt="nikita" title="nikita" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-5"> * Please confirm all relevant information on this page with your medical school
                    application mentor </p>
            </div>
        </div>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}