{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine at the University of Exeter Medical school/
{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} Study Bachelor of Medicine and Bachelor of Surgery (BMBS) with one of the renowned Medical
University in England also builds up your career in medicine.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-exeter/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Exeter
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Exeter</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="right-icon-img-area">
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£35,750</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at The University of Exeter</h2>
                        <p>Exeter offers a five-year BMBS course that involves early exposure to clinicalenvironment in
                            hospitals GPs and other community health settings.Education will isdelivered through
                            small-group teaching and case-based learning as well as a lectures andself-directed study
                            organised in a clinically-contextualised, patient-orientedcurriculum.</p>
                        <p>In the first and second years, students continually learn and rebuild on
                            fundamentalbiomedical and psychosocial knowledge. Teaching focuses on integrating this
                            learninginto clinical contexts to hone vital clinical thinking skills in students.
                            Basicclinical skills training also takes places through early clinical placement
                            experiences.</p>
                        <p>In the later years of the programme students greatly expand their clinical knowledge
                            andexperience through clinical placements in a range of medical specialties across theSouth
                            West of England.</p>
                        <p>In the final year of study, student prepare for their future training as a junior
                            doctorthrough a series of apprenticeships that allow medical students to growfamiliar with
                            theroles and responsibilities involved in the Foundation Programme.</p>
                        <p>Students have the opportunity to intercalate and obtain a Bachelor’s or Master’s
                            degreebetween their fourth and fifth year. Students also have the chance to undertake
                            anelective abroad or in the UK which can involve a research opportunity or a
                            clinicalplacement in any area of interest to the student.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Get mentored by medical students at University of Exeter</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <p>Hi, I am Maisie and I am a second year medical student at the University of Exeter. Ihave
                            absolutely loved the last two years at medical school- they are definitely worththe hard
                            work and dedication!</p>
                    </article>
                </div>
                <div class="col-md-8 col-xl-8">
                    <article>
                        <p>The structure of the course at Exeter is one of the main factors that appealed to mewhen
                            deciding on which universities to apply to. Going on placement from your first weekand
                            having clinical exposure so early in your career is so important in order to
                            becomecomfortable in a hospital setting. It was nerve wracking in the beginning however
                            theuniversity is so supportive and always there to answer any questions. My favourite partof
                            the course would definitely be clinical skills- I start to feel like a real doctorduring
                            these sessions!</p>
                        <p>Exeter is an amazing city to live in as a student. Not only are you very central to
                            thehospitals but also to the beach which is only a 30 minute journey away! I would love tobe
                            able to answer any questions you may have about applying.</p>
                        <p class="mb-5">
                            <em> -by <strong>Maisie, </strong>
                                <a href="{% url 'administration:uk_medical_schools' %}"
                                    class="afm-link">studying medicine in the UK</a>, University of Exeter</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/maisie.jpg' %}" class="img-fluid rounded-circle"
                            alt="maisie" title="maisie" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-5">*Please confirm all relevant information on thispage with your medical school
                        application mentor</p>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}