{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Study Medicine at University of Buckingham Medical school {% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %} The Medical School at the University of Buckingham, England offers postgraduate programs from
qualified doctors in a range of specializations.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/uk-medical-schools/studying-medicine-at-the-university-of-buckingham/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:uk_medical_schools' %}">UK Medical Schools</a>
                            <span> >
                            </span>University of Buckingham
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">University of Buckingham</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in England</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div>
                        <div>
                            <p style="text-align: right; margin-bottom: 0px;">
                                <span>*</span>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fees (International/Non-EU students): </td>
                                        <td>£37,500 pa</td>
                                    </tr>
                                    <tr>
                                        <td>Interview Style: </td>
                                        <td>MMI</td>
                                    </tr>
                                    <tr>
                                        <td>Course Structure: </td>
                                        <td>Integrated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-8">
                    <article>
                        <h2>Study Medicine at The University of Buckingham</h2>
                        <p>Buckingham offers a four-and-a-half year medical course to student to develop theirknowledge
                            and skills to become ethical and compassionate medical professionals.</p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4">
                    <div class="brunel-logo">
                        <img src="{% static 'website/img/content-img/university-of-buckingham.png' %}" class="img-fluid"
                            alt="university-of-buckingham" title="university-of-buckingham" width="403" height="69" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <p>The Medical school has two sites offering the same course, in Buckingham on the mainsite of
                            the university and also in Crewe. The new site at Crewe is approximately 30minutes by train
                            from Manchester and is a 40 acre Health Science campus.</p>
                        <p>The university also offers <em>'Pathways to Medicine'</em> courses which is a 1-yearPre-Med
                            (CertHE) in medical Sciences and a unique 2-year accelerated BSc(Hons) inBiomedical Science,
                            which are designed for directlyentry to their medical school as well as other medical
                            schools across the UK.</p>
                        <p>The course is divided into two phases. Phase 1 involves learning through a
                            systems-basedapproach that also integrates important clinical contexts within the
                            multidisciplinaryaspects of each module. Student also develop fundamental clinical skills
                            includingpatient examination, history-taking, communication, etc. Phase 2 focuses on
                            expandingclinical knowledge and skills through attachments in different healthcare
                            environmentsand in a multitude of different medicaland surgical specialties.</p>
                        <p>Important themes in medicine that are explored throughout the course include,pathological
                            processes, pharmacology and therapeutics, public health, professionalism,team-working and
                            IPE, etc. Student-Selected Components are also offered throughout thelater part of the
                            course.</p>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <h3>Get mentored by medical students at University of Buckingham</h3>
                        <p>
                            <em> Since my early school days, I developed a profound interest and passion in sciences,
                                especially in healthcare settings. This led me to study my A levels in biology,
                                chemistry and English Language. My interest and passion for caring for others and
                                applying real life sciences was ignited and strengthened whilst I was on work experience
                                in rural Kenya.</em>
                        </p>
                        <p>
                            <em> It was during this rich and unique experience that confirmed and highlighted that
                                medicine was the career path for me. Subsequently, I took the steps to look into medical
                                school applications and felt that completing a biomedical science degree was more
                                fitting. I felt that it would better prepare me for the medical journey ahead and it
                                most definitely did that.</em>
                        </p>
                        <p>
                            <em> I studied a two-year accelerated biomedical science degree course awarded by the
                                University of Buckingham, which strengthened and improved my time-managementand
                                problem-solving skills; both of which are paramount and necessary as a student doctor
                                and as a future doctor. Once I completed this 2-year degree course I secured a place to
                                study medicine onto the 4.5-year condensed medical degree course at Buckingham medical
                                school (BMS).</em>
                        </p>
                        <p>
                            <em> My first year at Buckingham was an insightful and refreshing start to the medical
                                school journey. I completed an induction that lasted for one week, which I personally
                                felt was a nice way to ease one’s self into medical school. Thereafter, we had various
                                lectures on professionalism, ice breakers and what to expect from studying medicine at
                                Buckingham Medical school.</em>
                        </p>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>
                        <em> Once induction week was over, our term time officially began. On my first day,we had a
                            session where a patient came to speak about their experience on havinga heart attack. I
                            thought that that was a useful and profound experience.Patient contact is vital, and you get
                            patient contact very early on at BMS.Aside from patients coming in to talk about their
                            experience, medical studentsalso go on placements once a week later in first year. This is
                            another benefitfrom studying medicine at BMS, skills and knowledge can be consolidated
                            inclinical practice from first year onwards.</em>
                    </p>
                    <p class="mb-5">
                        <em> -by <strong>Victoria, </strong>
                            <a href="{% url 'administration:uk_medical_schools' %}" class="afm-link">studying
                                medicine in the UK</a>, at theUniversity of Buckingham</em>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/medical-student-at-the-university-of-buckingham.jpg' %}"
                            class="img-fluid rounded-circle" alt="medical-student-at-the-university-of-buckingham" title="medical-student-at-the-university-of-buckingham" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xl-8 order-md-2">
                    <article>
                        <p>
                            <em> Salut tous le monde! Je m’appelle Hania et j’étudie la médecine à l’université de
                                Buckingham. Si vous avez des questions qui concerne le cours, la vie en Buckingham ou
                                quoi que ce soit, n’hésitez pas à mon contacter!</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Hania, </strong>medical student at the University of Buckingham</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4 col-xl-4 order-md-1">
                    <div class="afm-student-img d-flex justify-content-center">
                        <img src="{% static 'website/img/content-img/student-at-the-university-of-buckingham.jpg' %}"
                            class="img-fluid rounded-circle" alt="student-at-the-university-of-buckingham" title="student-at-the-university-of-buckingham" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p> * Please confirm all relevant information on this page with your medical school application mentor </p>
    </div>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}