{% extends 'base/base.html' %}
{% load static%}
{% block title%}Tech Support{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item"><a href="{% url 'administration:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item">Tech Support</li>
    </ol>
</nav>

<!----- NAV END-------->
<div class="page-header">
    <h3 class="faq-title"><i data-feather="headphones"></i> Tech Support </h3>
</div>
<div class="card support-card">
    <div class="support-section2">
        <h3>Send us an Email</h3>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="support-img">
                    <img src="{% static 'img/step/support-img.jpg' %}" alt="support-image" class="center">
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="support-form">
                    <form class="" role="form" method="post">
                        {% csrf_token %}
                        <div class="form-group ">
                            {% crispy form %}
                            <button class="btn btn-az-primary submit-btn" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
