{% extends 'registration/reg_base.html' %}
{% block title1 %}{% block title2%}Studying medicine | Medical School parents in the UK{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %}Find top medical schools abroad for your son or daughter. Register
now and get support from the best experts around the world.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}https://applyformedicine.com/parents/{% endblock %}{% endblock %}
{% block content %}
{% load static %}
<main>
   <section class="header_area bg-1">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="site-breadcrub">
                  <p>
                     <a href="/">ApplyPal </a>
                     <span class=""> >
                     </span>
                     <span>Parents</span>
                  </p>
               </div>
            </div>
            <div class="col-xl-6 col-md-12">
               <div class="header-inner-wrapper">
                  <h1 data-animate="fadeInUp" data-animate-delay="5">
                     Prepare your child for medical school admission
                  </h1>
                  <p data-animate="fadeInUp" data-animate-delay="0" class="parent-txt">
                     When considering a hotel reservation, who gives the most honest and informative insights? The hotel website, the travel agent or a guest who has already stayed there?
                  </p>
                  <p data-animate="fadeInUp" data-animate-delay="0" class="parent-txt"> Personal insights are invaluable, so why base your choice of medical school solely on the information
                     on their website or the advice of a recruitment agent?
                  </p>
                  <div class="journey_wrapper mt-5">
                     <a href="{% url 'administration:registration' %}" class="theme-btn">
                           Search university mentors originally from your country
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-md-12">
               <div class="right-icon-img-area parent-img">
                  <img src="{% static 'assets/img/content-img/parents-helping.png' %}"
                     class="img-fluid" alt="parents-helping" title="parents-helping" width="372" height="372" loading="lazy">
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="afm-content-area afm_cmn_bg ptb">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-xl-12">
               <article>
                  <h2 class="high-lighted-txt animated fadeInUp visible h2-home" data-animate="fadeInUp"
                     data-animate-delay="0">Advice from those who have succeeded</h2>
                  <p>Finding the medical school that best suits your child is crucial as it is one of the most important
                     decisions and biggest financial commitments of their lives.
                  </p>
                  <p>Getting honest feedback from someone already studying at the school can help ensure your child
                     makes the right choice. </p>

                  <p>ApplyPal connects your child directly with students who have successfully navigated the
                     application process and are studying at prestigious medical schools around the world.
                     Unlike hotel guest reviews, our mentors have usually been studying at their medical school for several
                     years, which means your child will benefit from intricate knowledge of their course and campus. They
                     will also gain valuable advice on how to optimise their application to gain that all-important place.
                  </p>
                  <p>Finding the most suited university course for your son or daughter is likely to be
                     one of the most important decisions and biggest financial commitments of their life
                     – not just a hotel booking.
                  </p>
                  <div class="journey_wrapper text-center">
                     <a href="{% url 'administration:registration' %}" >
                        <h3 class="theme-btn">
                           Search Alumni that speak your language
                        </h3>
                     </a>
                  </div>
               </article>
            </div>
         </div>
      </div>
   </section>
   <section class="afm-content-area afm_cmn_bg ">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-xl-12">
               <article>
                  <h3 class="high-lighted-txt animated fadeInUp visible h3-home" data-animate="fadeInUp"
                     data-animate-delay="0">Multiple mentors, multiple insights</h3>
                  <p>
                     With ApplyPal, you can connect with several mentors at the same time. Choose a mentor
                     from the same country so you can communicate in your native language, or search for mentors at each
                     of the medical schools your child is considering to benefit from diverse opinions and insights.
                  <p>
                     Growing your child’s network of contacts at medical schools will leave you questioning if you need a
                     traditional recruitment agent at all.
                  </p>
                  <article class="w-60">
                     <p class="high-lighted-txt font-bold background-dark" data-animate="fadeInUp" data-animate-delay="0">
                     You are the average of the 5 people you spend the most time with.
                  </p>
                  </article>
                  <p>Ensure at least one of these 5 is a medical school application mentor for your son or daughter.
                  </p>
                  <p>
                     No parent these days can escape the power and influence of social media on their children. Connections
                     are made online under the guise of forming new friendships – but are they really making friends or just
                     picking up new virtual influencers?
                  </p>
                  <p>
                     Give your son or daughter a competitive advantage by connecting with a university mentor now. All
                     our university mentors adhere to our Codes of Conduct and in many cases are experienced tutors too for
                     your added peace of mind and security.
                  </p>
                  <p>
                     All our 1-to-1 mentoring and tutoring sessions are;
                  </p>
                  <ul class="list-icon list-icon-check card-columns text-left">
                     <li>recorded for enhanced learning</li>
                     <li>include a virtual classroom whiteboard</li>
                     <li>screen sharing to maximise interactivity</li>
                     <li>safe and secure</li>
                  </ul>
                  <p>to make the learning experience enjoyable, progressive and in a safe and
                     comfortable setting.
                  </p>
                  <p>
                     Use this power of influence and find your ideal mentors to supplement to their studies, exams, future
                     university application journey – and possibly other everyday choices in between.
                  </p>
                  <p class="pb-2">
                     One of the primary reasons for going to university - apart from attaining a qualification - is networking,
                     enhancing your social circle and long-term friendships.
                     Why not start forming these vital connections early before you've even left home?
                  </p>
               </article>
            </div>
         </div>
      </div>
   </section>
   <section class="pb-5">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-xl-12">
               <div class="site-title">
                  <h4 class="h4-home">FAQs</h4>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 col-xl-12">
               <div id="accordion" class="accordion">
                  <div class="card shadow-none">
                     <div class="card-header collapse-bg">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne"
                           data-parent="#accordion">How do I know the mentor/tutor I find is qualified to assist my child?<i class="fa fa-minus">
                        </i>
                        </a>
                     </div>

                     <div id="collapseOne" class="collapse show">
                        <div class="card-body">
                           <p>Most of our mentors have been, or still do, tutor via traditional tutoring companies. However, you will read about and see some of the credentials of each mentor before you book your free discovery call with them, where you can discuss their suitability and decide if they are a good match. It also depends on how you define 'qualified' because some parents might be looking for a mentor who is also from their country and is studying a certain course. Others are looking for qualified tutors to help with studies or homework, so where the tutor currently studies may not be important.</p>
                        </div>
                     </div>
                  </div>
                  <div class="card shadow-none">
                     <div class="card-header collapse-bg">
                        <a class="card-link" data-toggle="collapse" href="#collapseTwo"
                           data-parent="#accordion" >What will the benefits of this platform cost me?<i class="fa fa-plus">
                        </i>
                        </a>
                     </div>
                     <div id="collapseTwo" class="collapse">
                        <div class="card-body">
                           <p>Some mentors offer initial bookings free of charge, which other more experienced tutors may charge from £10 per hour. As we are a marketplace, once you have registered all mentors display their fees when booking your appointment and you will see these after you have registered. Mentors and tutors receive 100% of their displayed fees, so unlike a traditional tutoring company we do not take a commission from this so you also help your mentor in their journey at university too. In addition, since most of our tutors currently work for other tutoring companies, you may be making a considerable cost saving for exactly the same service!</p>
                        </div>
                     </div>
                  </div>
                  <div class="card shadow-none">
                     <div class="card-header collapse-bg">
                        <a class="card-link" data-toggle="collapse" href="#collapseThree"
                           data-parent="#accordion" >Will my child be taught and guided in a safe and secure environment?<i class="fa fa-plus">
                        </i>
                        </a>
                     </div>
                     <div id="collapseThree" class="collapse">
                        <div class="card-body">
                           <p>Absolutely, we take privacy, safeguarding and security very seriously. All mentors and applicants (you) agree to a Codes of Conduct; all mentoring and tutoring sessions are recorded for added security and reference purposes. Most of our mentors and tutors are experienced at what they do, because they have been, or still do, tutor via traditional tutoring companies, so they are well rehearsed in the services they offer.</p>
                           <p>In addition, our mentors and tutors are also being assisted in their future career prospects and internships, so they are committed to promoting their own ‘personal brand’ of quality.</p>
                        </div>
                     </div>
                  </div>
                  <div class="card shadow-none">
                     <div class="card-header collapse-bg">
                        <a class="card-link" data-toggle="collapse" href="#collapseFour"
                           data-parent="#accordion" >How do you differ from a traditional tutoring company?<i class="fa fa-plus">
                        </i>
                        </a>
                     </div>
                     <div id="collapseFour" class="collapse">
                        <div class="card-body">
                           <p>We are the world's first student marketplace connecting applicants at different stages of
                              their application journey: from school, through university, all the way to employment. </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="afm-join-area bg-2">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
               <div class="get-start-content">
                  <h4>Get Started instantly!</h4>
                  <p>Join a growing community of medical school applicants connecting<br> with experienced medical
                     school mentors now.
                  </p>
                  <div class="mt-5">
                     <a href="{% url 'administration:registration' %}" class="theme-btn">Search for mentors at
                     medical school</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
{% endblock %}
{% block js %}
<script> $(document).ready(function () { $(".london-uni").hide(); $("#londonuniversity").click(function () { $(".london-uni").toggle(); }); $(".collapse.show").each(function () { $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus"); }); $(".collapse").on('show.bs.collapse', function () { $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus"); }).on('hide.bs.collapse', function () { $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus"); }); }); feather.replace()</script>
{% endblock %}