{% extends 'base/base.html' %}
{% load duration_filter %}
{% block title %} PayPal Transactions{% endblock %}
{% load administration_extras %}
{% load static %}
{% load widget_tweaks %}
{% block css %}
<style>
    form {
        display: flex;
    }
</style>
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item"><a href="{% url 'administration:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#">Total PayPal Transactions</a></li>
    </ol>
</nav>
<!-- <div class="row mr-b-20">
    <div class="col-12 col-sm-12">
        <div class="add-new-app">
            {% if request.user.user_type == 0 %}
            <a href="{% url 'bookings:MentorAddService' %}" id="add-new-institute">
                <button type="submit" class="btn" style="color: rgb(0, 0, 0); font: 1em poppins ;">
                    <span>+</span> Add new Service
                </button>
                <i data-feather="clipboard"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div> -->

<div class="row row-sm mg-b-20">
    <div class="col-sm-12 col-lg-12">
        <div class="card card-table-one">
            <h6 class="card-title">List of PayPal Transactions</h6>
            <hr>
            <div class="table-responsive">
                {% if obj %}
                <table class="table table-hover mg-b-0">
                    <thead>
                    <tr>
                        <th>Slug</th>
                        <th>Status</th>
                        <th>Transaction ID</th>
                        <th>Amount</th>
                        <th>Payer Name (PayPal)</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for x in obj %}
                    <tr>
                        <td><a href="#"> <strong>{{x.user.slug}}</strong> </a></td>
                        <td>{{x.status}}</td>
                        <td>{{ x.payment_id }}</td>
                        <td>{{ x.currency }} {{ x.amount_charged }}</td>
                        <td>{{x.payer_paypal_name}}</td>
                        <td>{{x.paid_on}}</td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>
                {% else %}
                <div style="text-align:center;"><p>No Transactions Available !!!!</p></div>
                {% endif %}
            </div><!-- table-responsive -->
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('#id_admin__spoken_languages').select2();
    var id;

    function change_is_active(id) {
        if (confirm('Do you really want to do this action')) {
            $('#' + id).submit();
        } else {
            location.reload();
        }
    }
</script>
{% endblock %}