{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Applying for Medical School in Australia | ApplyPal{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %}Study medicine in Austraila with the help of medical school mentors to optimise your
application{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/study-medicine-in-australia/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">ApplyPal</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            </span>Study medicine in Australia
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Study medicine in Australia </h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Get in touch with student mentors who are at
                            medical schools in Australia. </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="right-icon-img-area parent-img">
                        <img src="{% static 'assets/img/flag-img/australia-flag.png' %}"
                           class="img-fluid" alt="Medical Admission Blogs" width="400" height="250" loading="lazy">
                     </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ptb">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Medicine in the USA</h2>
                        <p>There are 21 medical schools in Australia that offer undergraduate programmes, postgraduate
                            programmes (Doctor of Medicine) or both:</p>
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="grade-li medicine-in-aus">
                                    <li>Australian National University</li>
                                    <li>University of Sydney</li>
                                    <li>University of New South Wales</li>
                                    <li>Western Sydney University</li>
                                    <li>University of Wollongong</li>
                                    <li>University of Newcastle </li>
                                    <li>University of New England</li>
                                </ul>
                            </div>
                            <div class=" col-lg-4 col-md-12 col-sm-12">
                                <ul class="grade-li medicine-in-aus">
                                    <li>University of Notre Dame </li>
                                    <li>Macquarie University</li>
                                    <li>Bond University</li>
                                    <li>Griffith University</li>
                                    <li>James Cook University </li>
                                    <li>University of Queensland</li>
                                    <li>University of Adelaide </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ul class="grade-li medicine-in-aus">
                                    <li>Flinders University</li>
                                    <li>University of Tasmania </li>
                                    <li>University of Melbourne </li>
                                    <li>Monash University</li>
                                    <li>Deakin University</li>
                                    <li>University of Western Australia</li>
                                    <li>Curtin University</li>
                                </ul>
                            </div>
                        </div>
                        <p>Note that some of these medical schools are not open to international applicants, therefore
                            do check the websites of these medical schools for exact details before applying.</p>
                        <p>Home students (i.e. who are permanent residents or citizens of Australia or New Zealand) must
                            send their applications directly to the medical schools they wish to apply to.</p>
                        <p>International students (i.e. who aren’t permanent residents or citizens of Australia or New
                            Zealand) can apply to Australian medical schools via Study Options. Study Options is an
                            application support service which fast-tracks applications from the UK and Ireland. There
                            are no fees applied for applying through Study Options.</p>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <p>
                            <strong>Requirements</strong>
                        </p>
                        <ul class="grade-li">
                            <li>A high Australian Tertiary Admissions Rank (ATAR) is usually required by most medical
                                schools. Check the medical websites to find out if they have a minimum ATAR for their
                                applicants. Otherwise high grades in A-levels, International Baccalaureate or equivalent
                                are required for international students. (Undergraduates)</li>
                            <li>Check for potential Year 12 subject requirements on medical school websites.
                                (Undergraduates)</li>
                            <li>Undergraduate applicants must sit the University Clinical Aptitude Test for Australia
                                and New Zealand (UCAT ANZ) if they are a home student or the International Students
                                Admissions Test (ISAT) if they an international student. Postgraduate applicants (home
                                or international) must sit the Graduate Medical School Admissions Test (GAMSAT) instead
                                of the UCAT or ISAT.</li>
                            <li>An interview will most likely be required at some stage.</li>
                            <li>A high grade / GPA in your previous degree. Check if the medical schools you are
                                thinking of applying to have requirements about the field of study of your previous
                                degree. (Postgraduates)</li>
                            <li>Some medical schools require a portfolio with evidence of relevant experience
                                demonstrating that the applicant has invested time in developing the core skills for
                                becoming a future doctor (e.g. care, leadership, commitment, etc.). This may include but
                                not be limited to evidence of work experience, volunteering, extra-curricular
                                activities, etc.</li>
                            <li>An interview may be required if you are offered one.</li>
                        </ul>
                        <p>
                            <strong>Fees</strong>
                        </p>
                        <ul class="grade-li">
                            <li>The tuition fee for international students is between $55,000-$90,000 per annum. This
                                will vary by medical school and according to if you are applying for an undergraduate or
                                graduate programme.</li>
                            <li>The tuition fees for home students will be lower than that for international students.
                                Check the medical school websites for exact figures.</li>
                            <li>Home students are able to seek funding by directly contacting medical schools however
                                this option is not available for international students.</li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> global community of
                            students by searching for a mentor now </p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}