{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title1 %}{% block title2%}Trinity College Dublin School of Medicine in England{% endblock %}{% endblock %}
{% block meta-content1 %}{% block meta-content2 %}Get admission in physiotherapy, occupational therapy, radiation therapy, human nutrition, and
human health from Trinity College Dublin School of Medicine.
{% endblock %}{% endblock %}
{% block canonical-link1 %}{% block canonical-link2%}
https://applyformedicine.com/study-medicine-in-ireland/studying-medicine-at-trinity-college-dublin/
{% endblock %}{% endblock %}
{% block content %}
<main>
    <section class="header_area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-breadcrub">
                        <p>
                            <a href="/">Apply for Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine' %}">Study Medicine</a>
                            <span> >
                            </span>
                            <a href="{% url 'administration:study_medicine_in_ireland' %}">Medical schools in
                                Ireland</a>
                            <span> >
                            </span>Trinity College Dublin
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="header-inner-wrapper">
                        <h1 data-animate="fadeInUp" data-animate-delay="5">Trinity College Dublin</h1>
                        <p data-animate="fadeInUp" data-animate-delay="0">Medical School in Ireland</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="afm-content-area ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h2>Study Medicine at Trinity College Dublin</h2>
                        <p>This medical school offers a five-yearmedicine course with teaching approaches thatintegrate
                            lectures, practicals, problem-based learning and small-group teaching withearly clinical
                            exposure.</p>
                        <p>In Phase 1 (first year) the theme is ‘Humanity Health and Environment’ which focuses
                            onlearning about the structure and function of the body in a healthy state and learningthe
                            basics of biomedical and clinical sciences. Further more, students are alsotaught a module on
                            development, behavioural science and ethics.</p>
                        <p>In Phase 2 (second and third year) the focus shifts to studying the mechanisms andmanagement
                            of disease. Students will also begin learning basic clinical skills
                            andprofessionalism.Knowledge gained in theearly years is consistently put into
                            clinicalcontexts to develop clinical reasoning skills early on.</p>
                        <p>From the third year, clinical exposure expands through extensive placements in a varietyof
                            different healthcare settings and students also undertake elective practice modules.After
                            the third year, intercalation is offered to obtain a Master’s degreein an area of interest
                            to the student. Student-Selected Modules are offered throughoutthe course.</p>
                        <p>Phase 3 (fourth and fifth years) has a theme of patient-centred evidenced-based
                            medicalpractice and professional development. In the final year particularly, the focus
                            forstudents is on preparing for the future practice as a junior doctor.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-content-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <article>
                        <h3>Get mentored by medical students at Trinity College Dublin</h3>
                        <em>
                            <p>Trinity College Dublin is ranked in the top 150 universities in the world forMedicine (QS
                                World University Rankings 2020). Medicine at Trinity College Dublin isa five-year
                                programme, divided into two main teaching phases.</p>
                            <p>The first two years involve learning about the biomedical sciences and thetheoretical
                                principles underlying how the human body works through a systematicapproach. Teaching is
                                a combination of problem-based learning, small group teaching,lectures and practical
                                demonstrations. The modules covered over the span of thefirst two years include:
                                anatomy, physiology, biochemistry, neurosciences,pharmacology, infection, immunity,
                                molecular medicine, personalised medicine,behavioural sciences, ethics, and medical
                                humanities.Trinity also provide their medical students with early exposure to clinical
                                practicein the first two years, by organising a clinical Family Case Study in year one
                                and aclinical module on the fundamentals of clinical and professional practice in
                                yeartwo. Students also take part in scientific and clinical research in year two inwhich
                                they may have the opportunity to present their findings at a conference orpublish their
                                research in scientific journals.</p>
                            <p>After completing third year, students have the option to take part in a
                                one-yearinteracted M.Sc. in a suitable area of biomedical sciences.</p>
                        </em>
                    </article>
                </div>
                <div class="col-md-8">
                    <article>
                        <p>
                            <em>Year three to five are clinical based years in which students begin placements
                                inTrinity’s main teaching hospitals, namely St. James Hospital and Tallaght
                                UniversityHospital which are based in Dublin, as well as in many regional
                                affiliatedhospitals. These years prepare each and every student for their Intern year
                                andprovide thorough experience in many medical and surgical specialities, which
                                specialfocus on General Practice, Obstetrics, Gynaecology, Paediatrics and
                                Psychiatry.Students continue to receive lectures, tutorials, and exposure to research
                                andpublic health matters in the clinical years to provide them with a
                                well-roundedteaching and clinical experience.</em>
                        </p>
                        <p class="mb-5">
                            <em> -by <strong>Iffat, </strong>currently <a
                                    href="{% url 'administration:study_medicine_in_ireland' %}"
                                    class="afm-link">studying medicine in Ireland</a> at Trinity College Dublin</em>
                        </p>
                    </article>
                </div>
                <div class="col-md-4">
                    <div class="afm-student-img">
                        <img src="{% static 'website/img/content-img/medical-student-at-trinity-college.jpg' %}"
                            class="img-fluid rounded-circle" alt="medical-student-at-trinity-college" title="medical-student-at-trinity-college" width="290" height="290" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="afm-join-area bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 align-items-center justify-content-center d-flex">
                    <div class="get-start-content">
                        <h4>Get Started now!</h4>
                        <p>Start your application journey to university and join a fast-growing<br> globalcommunity of
                            students by searching for a mentor now</p>
                        <div class="mt-5">
                            <a href="{% url 'administration:registration' %}" class="theme-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}