{% extends 'base/base.html' %}
{% block title %}My Mentors-Page{% endblock %}
{% load static %}
{% block content %}
{% load administration_extras %}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-style1">
    <li class="breadcrumb-item"><a href="{% url 'administration:dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item">Mentors at {{user.institute.institute_name}}</li>
  </ol>
</nav>
{% if mentors %}
{% for x in mentors %}
<tr>
  {% for y in personal_info_list %}
  {% if x.admin.slug == y.admin.user_slug %}
  <div class="row row-sm mg-b-20 ">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="card card-dashboard-twentysix mg-b-10">
        <div class="card-body pd-30">
          <div class="row d-flex align-items-md-center">
            <div class="col-md-6 col-lg-4 col-xl-4">
              <div class="afm-mentor-student-details pd-b-15 pd-t-15">
                <div class="afm-mentor-student-img">
                  <img src="{% static 'images/default_profile.png' %}" alt="">
                </div>
                <div class="mentor-content d-flex align-items-md-center">
                  <div>
                    <div class="pd-b-10">
                      <h4>{{y.admin.first_name}}</h4>
                      <span>Student of {{y.currently_studying|getsubject}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
              <div class="pd-b-15 pd-t-15 ">
                <div>
                  <div class="pd-b-5 pd-t-5">
                    <span class="tx-medium">Spoken Languages:</span>
                    <span>{{y.admin.spoken_languages.all|print_languages}} </span>
                  </div>
                  <div class="pd-b-5 pd-t-5">
                    <span class="tx-medium">Originally from:</span> <span class="country-flags">
                      {{y.admin.country.name}} <img src="{{y.admin.country.flag}}" alt=""> </span>
                  </div>
                  <div class="pd-b-5 pd-t-5">
                    <span class="tx-medium"> Studing in:</span> <span class="country-flags">
                      <!----> {{y.studying_in.name}} <img src="{{y.studying_in.flag}}" alt="">
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
              <div class="pd-b-15 pd-t-15 ">
                <div>
                  <div class="pd-b-5 pd-t-5">
                    <span class="tx-medium">Currently Studying:</span> <span>{{y.currently_studying|getsubject}}</span>
                  </div>
<!--                  <div class="pd-b-5 pd-t-5">-->
<!--                    <span class="tx-medium">Connected Student:</span> <span class="country-flags"> 05</span>-->
<!--                  </div>-->
                  <div>
                    <div class="pd-b-5 pd-t-5">
                      <span class="tx-medium">Studying Year:</span> <span>{{y.study_year|getstudyyear}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif%}
  {% endfor %}
</tr>
{% endfor %}
{% else %}
<div style="text-align:center;">
  <p>No Alumni Available !!!!</p>
</div>
{% endif %}
{% endblock %}