{% extends 'base/base.html' %}
{% load static %}
{% block title %} Messages {% endblock %}
{% load administration_extras %}
{% load messaging_extras %}
{% load crispy_forms_tags %}
{% block css %}

<style>

.az-content-app{
  height:auto !important;;
}

.whatsapp-icon{
    display:none;
}

.h-650 {
    height: 730px;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

.toast {
    display: none;
}

@media(max-width: 1440px) {
    .formless-embed {
        height: 650px;
    }
    .h-650 {
        height: 631px;
    }
    .az-chat-header .nav {
        flex-wrap: nowrap;
    }
    .az-chat-header .feather-more-vertical {
        margin-left: 2px !important;
    }
}
@media (max-width:767px){
    .az-content .container , .az-content.pd-y-20{
      padding: 0 !important;
    }
    .formless-iframe {
        height: 600px;
    }
    .chat-min {
        height: 30px;;
    }
    .formless-embed{
        height: 630px !important;
    }
    .h-650 {
        height: 370px;
    }
    .formless-embed h1 {
        font-size: 32px !important;
    }
    .mb-xLarge {
        margin-bottom: 48px;
        font-size: 40px !important;
    }
    ._1da8qne9l{
        padding-bottom: 0px;
    }
    ._1da8qne6f{
        padding-top: 0;
    }
    .mb-xLarge {
        margin-bottom: 19px;
    }
    .mt-xLarge {
    margin-top: 12px;
    }
    .az-msg-wrapper{
        font-size: 12px;
        margin: 10px 45px 10px 10px !important;
    }
}


</style>

{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item"><a href="{% url 'administration:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'messaging:comment_list_user_twfl' %}">Back</a></li>
    </ol>
</nav>

<div class="az-content az-content-app pd-b-0 height">
    <div class="container dis-flex">
        <div class="row">
            <!-- IFrame - Formless AI -->
            <div class="formless-iframe col-md-12 col-lg-8">
                <iframe id="formlessAI" src="https://formless.ai/c/aqgNfnPx2DKY" class="formless-embed" width="100%" height="750px" loading="lazy" allow="microphone" style="border: 0; display: block"></iframe>
                <script src="https://embed.formless.ai/embed.js" async></script>
            </div>
            
            <!-- Chat Module -->
            <div class="col-md-12 col-lg-4 mt-3 mt-lg-0">
                <div class="card flex-dir h-650 chat-min">
                    <div class="az-content-body az-content-body-chat d-block ">
                        <!-- Chat Header -->
                        <div class="az-chat-header">
                            <div class="az-img-user">
                                {% if mentor_personal_info.admin.profile_pic %}
                                <img id='my_profile_pic' src="{{mentor_personal_info.admin.profile_pic.url}}" alt="">
                                {% else %}
                                <img id='my_profile_pic' src="{% static 'images/default_profile.png' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="az-chat-msg-name">
                                {% if user.user_type == 0 %}
                                <h6 class="text-capitalize">
                                    <a href="{% url 'administration:mentor_profile' mentor_info.admin.slug %}">
                                        {{mentor_personal_info.admin.first_name}}
                                    </a>
                                </h6>
                                <small>Studying {{mentor_personal_info.currently_studying|getsubject}}</small>
                                {% elif mentor_personal_info %}
                                <h6 class="text-capitalize">{{mentor_personal_info.admin.first_name}}</h6>
                                <small>Studying {{mentor_personal_info.currently_studying|getsubject}}</small>
                                <br>
                                <small> {{mentor_info.institute_name}}</small>
                                {% else %}
                                <h6 class="text-capitalize">{{user_profile.first_name}}</h6>
                                <small>{{user_profile.user_type|getuser}}</small>
                                {% endif %}        
                            </div>
                            
                            {% comment %}
                            {% if mentor_personal_info %}
                            <div class="az-chat-msg-name ml-5 mr-3 chat-none">
                                <h6>Originally From:</h6>
                                <small>{{mentor_personal_info.admin.country.name|getifnone}}
                                    <img src="{{mentor_personal_info.admin.country.flag}}"
                                         alt="{{mentor_personal_info.admin.country.name}}">
                                </small>
                            </div>
                            <div class="az-chat-msg-name mr-3 chat-none">
                                <h6>Studying In:</h6>
                                <small>{{mentor_personal_info.studying_in.name}}
                                    <img src="{{mentor_personal_info.studying_in.flag}}"
                                         alt="{{mentor_personal_info.studying_in.name}}"></small>
                            </div>
                            <div class="az-chat-msg-name mr-3 chat-none">
                                <h6>Studying at:</h6>
                                <small>
                                    {% if mentor_info.institute %}
                                    {{mentor_info.institute.institute_name}}
                                    {% else %}
                                    {{mentor_info.institute_name|getifnone}}
                                    {% endif %}
                                </small>
                            </div>
                            <div class="az-chat-msg-name mr-3 chat-none">
                                <h6>Spoken Language(s):</h6>
                                <small>{{mentor_personal_info.admin.spoken_languages.all|print_languages}}</small>
                            </div>
                            {% endif %}
                            {% endcomment %}


                            <nav class="nav">
                                
                                {% if user.user_type == 3 or user.user_type == 5 or user.user_type == 12 %}
                                {% if mentor_personal_info %}
                                <a href="#" class="d-none d-xl-block" title="Praise User"  data-toggle="modal"
                                    data-target="#praise-user"><i data-feather="thumbs-up"></i></a>
                                {% endif %}
                                <a href="#" class="ml-2 d-none d-xl-block" data-toggle="modal" title="Report User"
                                   data-target="#report-user"><i data-feather="alert-octagon"></i></a>
                                {% endif %}
                                
                                
                                {% if mentor_personal_info %}
                                <a href="#" class="d-md-block d-lg-block d-xl-none" data-toggle="modal"
                                   data-target="#user-more-detail">
                                    <i data-feather="info" class="more-vertical ml-2">
                                    </i>
                                </a>
                                {% endif %}
                                
                                {% if user.user_type == 3 or user.user_type == 5 or user.user_type == 12 %}
                                <i data-feather="more-vertical" class="more-vertical ml-2"
                                   data-toggle="collapse" href="#collapseExample1">
                                </i>
                                <div class="collapse" id="collapseExample1">
                                     <div class="card card-body p-3">
                                         <ul>
                                             {% if user.user_type == 3 or user.user_type == 5 or user.user_type == 12 %}
                                             {% if mentor_personal_info %}
                                             <li class="pd-b-4">
                                                 <a href="#" data-toggle="modal"
                                                    data-target="#praise-user"><i data-feather="thumbs-up" ></i>Review</a></li>
                                             {% endif %}
                                             {% endif %}
                                             <li class="pd-b-4">
                                                 <a href="#" data-toggle="modal"
                                                    data-target="#report-user">
                                                     <i data-feather="alert-octagon"></i>Report
                                                 </a>
                                             </li>
                                         </ul>
                                     </div>
                                </div>
                                {% endif %}
                                
                                {% if user.user_type == 0 and admin_user_links %}
                                <i data-feather="more-vertical" class="more-vertical ml-3" data-toggle="collapse"
                                   href="#collapseExample1">
                                </i>

                                <div class="collapse" id="collapseExample1">
                                    <div class="card card-body p-3">
                                        <ul>
                                            <li class="pd-b-4">
                                                <a href="#" data-toggle="modal"
                                                   data-target="#praise-user"><i data-feather="thumbs-up" ></i>Review</a>
                                            </li>
                                            <li class="pd-b-4">
                                                <a href="#" data-toggle="modal"
                                                   data-target="#report-user">
                                                    <i data-feather="alert-octagon"></i>Report
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                               </div>
                                {% endif %}

                                <!-- Meeting and Appointment functionality deprecated -->
                                {% comment %}
                                <div class="collapse" id="collapseExample1">
                                    <div class="card card-body">
                                        <ul>
                                            <li class="pd-b-4">
                                                <a href="#" class="add-booking-link"
                                                    data-booking-link="{% if admin_user_links.meeting_link%}{{admin_user_links.meeting_link}}{% endif %}">
                                                    <i data-feather="link"></i>
                                                    Meeting Link
                                                </a>
                                            </li>
                                            <li class="pd-b-4 d-block">
                                                <a href="#" class="add-booking-link"
                                                   data-booking-link="{% if admin_user_links.appointment_link%}{{admin_user_links.appointment_link}}{% endif %}">
                                                    <i data-feather="link"></i>Appointment Link
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% endcomment %}

                            </nav>
                        </div>
                        
                        <!-- az-Chat-Body -->
                        <div id="azChatBody" class="az-chat-body az-chat-body-inner">
                            <div>
                                <div class="az-msg-wrapper" style="margin: 10px 100px 10px 10px; background-color: #e8f8ea;"">
                                
                                    Hi, I’m {{mentor_personal_info.admin.first_name}} 🙂
                                    <br><br>
                                    I am studying {{mentor_personal_info.currently_studying|getsubject}} after completing my course at AP. 
                                    Please ask me questions on student life, course, progression etc, and I'll reply shortly.
                                    <br><br>
                                    While you are waiting for my reply, you can start a unique conversation and apply at the same time 
                                    using AP's smart AI by clicking 'Start Now' button.  
                                    <!-- <a href="https://formless.ai/c/aqgNfnPx2DKY" target="_blank">here</a> -->
                                    <br><br>
                                    
                                </div>
                                
                                {% comment %}
                                {% if not mentor_info.loggeduser.online_status %}
                                <div class="az-msg-wrapper" style="margin: 10px 100px 10px 10px; background-color: #f7d3df;"">
                                    I'll reply back as soon as I can. In the meantime, why don't you start your application using our AI powered conversation.
                                </div>
                                {% endif %}
                                {% endcomment %}

                            </div>
                            <div class="content-inner">
                                {% for comment in comments %}
                                {{ comment.id|get_message_receive_date }}
                                <div
                                 class="media {% if comment.sender == request.user %}flex-row-reverse{% else %}reverse{% endif %}
                                 {% if not comment.read %} unread-msg{% endif %}"
                                 {% if not comment.read %}data-id="{{ comment.id }}"{% endif %}>
                                    <div class="media-body">
                                        <div class="az-msg-wrapper">
                                            {{ comment.comment|safe }}
                                            {% if comment.sender == request.user %}
                                            {% if comment.read %}
                                            <i data-feather="check" class="fs-blue fs-dark"></i>
                                            <i data-feather="check" class="fs-blue fs-dark right-0"></i>
                                            {% else %}
                                            <i data-feather="check" class="fs-dark"></i>
                                            <i data-feather="check" class="fs-dark right-0"></i>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- content-inner -->
                        </div>
                        
                        <!-- az-chat-body -->
                        <div class="az-chat-footer chat-footer pb-lg-4">
                            <input name="msg" type="text" class="form-control type-msg"
                                   placeholder="Click Return or Go on your keypad to send">
                            <a href="#" class="az-msg-send d-none" id="msg-send-button"
                               data-receiver="{{user_profile.slug}}">
                                <i data-feather="send"></i></a>
                        </div>
                        <!-- az-chat-footer -->
                    </div>
                    <!-- az-content-body -->
                </div>
            </div>
        </div>
        
    </div>
</div>



<!-- Mentor Profile Modal -->
<div class="chat-btn-model">
    <div class="modal fade" id="user-more-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title text-capitalize" id="exampleModalLongTitle">
                            {{mentor_personal_info.admin.first_name}}</h5>
                        <p class="mb-0">Studying {{mentor_personal_info.currently_studying|getsubject}}</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mentor-profile1">
                        <div class="mentor-photo">
                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-sm-6">
                                    <div class="afm-mentor-student-details pd-b-15 pd-t-15 border-right">
                                        <div class="afm-mentor-student-img m-auto">
                                            {% if mentor_personal_info.admin.profile_pic %}
                                            <img src="{{mentor_personal_info.admin.profile_pic.url}}"
                                                 alt="{{y.admin.first_name}}">
                                            {% else %}
                                            <img src="{% static 'images/default_profile.png' %}"
                                                 alt="{{y.admin.first_name}}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-sm-6">
                                    <div class="">
                                        <div class="afm-mentor-student-details pd-b-15 pd-t-15">
                                            <div class="mentor-content">
                                                <div>
                                                    <span class="tx-medium">Year I left AP:</span>
                                                    <span>{{mentor_personal_info.university_start_year|getifnone}}</span>
                                                </div>
                                                <div>
                                                    <span class="tx-medium">Originally From:</span> <span
                                                        class="country-flags">{{mentor_personal_info.admin.country.name}}
                                                    <img src="{{mentor_personal_info.admin.country.flag}}"
                                                         alt="{{mentor_personal_info.admin.country.name}}"></span>
                                                </div>
                                                <div>
                                                    <span class="tx-medium">Studying in:</span><span
                                                        class="country-flags">{{mentor_personal_info.studying_in.name}} <img
                                                        src="{{mentor_personal_info.studying_in.flag}}"
                                                        alt="{{mentor_personal_info.studying_in.name}}"></span>
                                                </div>
                                                <div>
                                                    <span class="tx-medium">Studying at:</span>
                                                    <span>{% if mentor_info.institute %}
                                                {{mentor_info.institute.institute_name}}
                                                {% else %}
                                                {{mentor_info.institute_name}}
                                                {% endif %}
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="tx-medium">Spoken Language(s):</span>
                                                    <span>{{mentor_personal_info.admin.spoken_languages.all|print_languages}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if user.user_type == 0 or user.user_type == 11 %}
                <div class="modal-footer">
                    <a class="btn btn-rounded btn-indigo"
                       href="{% url 'administration:mentor_profile' mentor_info.admin.slug %}">View Profile</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- Report User Modal -->
<div class="modal fade" id="report-user" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Report User</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'messaging:block_user' user_profile.slug %}" >
                    <div>
                        {% csrf_token %}
                        {% crispy report_user_form %}
                        <div class="alert alert-danger mb-2" role="alert">
                          By submitting this form your messaging history with this User will be deleted and you will
                            no longer be able to interact with each other.
                        </div>
                        <div class="modal-btn mg-t-5">
                            <button type="button" class="btn btn-rounded btn-indigo reject" data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-rounded btn-indigo">
                                Confirm
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Praise User Modal -->
<div class="modal fade" id="praise-user" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Praise User</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'messaging:praise_user' user_profile.slug %}">
                    <div>
                        {% csrf_token %}
                        {% crispy praise_user_form %}
                        <div class="modal-btn mg-t-5">
                            <button type="button" class="btn btn-rounded btn-indigo reject" data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-rounded btn-indigo">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{{ request.user.slug|json_script:'sender_slug' }}

<!-- MODEL End -->
{% endblock %}
{% block js %}

<script>
    $(document).ready(function(){
        console.log("Formless AI DOM ready......");
        const formlessaiFrame = $("#formlessAI")
        console.log("IFrame - ", formlessaiFrame);
    })
</script>

<script src="{% static 'messaging/js/new_messaging.js' %}"></script>


{% endblock %}