{% extends 'base/base.html' %}
{% block title %}Praised Users{% endblock %}
{% load administration_extras %}
{% load messaging_extras %}
{% load static %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
            <a href="{% url 'administration:dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Total Praised Users</a>
        </li>
    </ol>
</nav>
<div class="row row-sm mg-b-20">
    <div class="col-sm-12 col-lg-12">
        <div class="card card-table-one">
            <h6 class="card-title">List of Praised Users</h6>
            <hr>
            <div class="table-responsive">
                {% if list %}
                <table class="table table-hover mg-b-0">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Praised By</th>
                        <th>Praised For</th>
                        <th>Message</th>
                        <th>Praised On</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in list %}
                    <tr>
                        <td>
                            <strong>{{i.praised_user.first_name}}
                                {{i.praised_user.last_name}}</strong> ( {{i.praised_user.user_type|getuser}} )
                        </td>
                        <td>
                            <strong>{{i.praise_by_user.first_name}}
                                {{i.praise_by_user.last_name}}</strong> ( {{i.praise_by_user.user_type|getuser}} )
                        </td>
                        <td>
                            {{i.reason_to_praise.all|print_options}}
                        </td>
                        <td>{{i.message|getifnone}}</td>
                        <td>{{i.created_at|date:"d/m/Y"}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div style="text-align:center;">
                    <p>No user is praised yet !!!!</p>
                </div>
                {% endif%}
            </div>
        </div>
    </div>
</div>
{% endblock %}