{% extends 'base/base.html' %}
{% block title %}List Parents{% endblock %}
{% load widget_tweaks %}
{% load administration_extras %}
{% load static %}
{% block content %}
{% block css %}
<style>
 .sticky{
    left:0;
 }
</style>
{% endblock %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item"><a href="{% url 'administration:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item">Parents</li>
    </ol>
</nav>
{% if recruiter_search_form %}
<form>
    <div class="row row-sm mg-b-10">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="select2-box mb-2">
            {% render_field recruiter_search_form.work_type placeholder=recruiter_search_form.work_type.label class='form-control' %}
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-1">
          <button type="submit" class="btn btn-indigo btn-block btn-rounded">
            <i data-feather="search">
            </i>
          </button>
        </div>
    </div>
</form>
{% endif %}
<div class="row row-sm mg-b-20">
  <div class="col-sm-12 col-lg-12">
    <div class="card card-table-one parent-table">
      <h6 class="card-title">List of Parents</h6>
      <hr>
      <div class="table-responsive">
        {% if queryset %}
        <table class="table table-hover mg-b-0">
          <thead>
            <tr>
              <th class="sticky">Name</th>
              <th>Application</th>
              <th>User status</th>
              <th>Phone</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Pincode</th>
              <th>Country</th>
              <th>Created On</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for instance in queryset %}
            <tr>
              <td class="sticky">
                <strong>{{instance.admin.first_name|getifnone}}
                      {{instance.admin.last_name|getifnone}} ({{instance.admin.slug}})
                  <small class="d-block">{{instance.admin.email}}</small>
                </strong>
              </td>
              <td>
                <small>Total Applications:</small>
                <small>{{instance.admin.id|gettotalsubmittedapplication }}</small><br>
                <small>Total Requested Applications:</small>
                <small>{{instance.admin.id|gettotalrequestedapplication }}</small>
                {% if instance.admin.id|gettotalsubmittedapplication > 0 %}
                <br>
                <small class="tx-medium"><a class="" href="{% url 'administration:view_applications_of_user_twfl' instance.admin.slug %}">
                View Applications</a></small>
                {% endif %}
              </td>
              <td>
                  <form class="pd-t-10" method="post" id="form-{{instance.admin.id}}" onsubmit="">
                        {% csrf_token %}
                      <div class="custom-control custom-switch">
                        <input type="hidden" name="admin_id" value="{{instance.admin.id}}">
                        <input type="checkbox" class="custom-control-input" id="button-{{instance.admin.id}}"
                          onchange="change_is_active('form-{{instance.admin.id}}')" {% if instance.admin.is_active %} checked{% endif %}>
                        <label class="custom-control-label" for="button-{{instance.admin.id}}">
                          {% if instance.admin.is_active %}
                          Active{% else %}
                          Not Active{% endif %}
                        </label>
                      </div>
                  </form>
              </td>
              <td>{{instance.phone_no|getifnone}}</td>
              <td><small>{{instance.address|getifnone}}</small></td>
              <td><small>{{instance.city|getifnone}}</small></td>
              <td><small>{{instance.state|getifnone}}</small></td>
              <td><small>{{instance.postcode|getifnone}}</small></td>
              <td><span class="country-flags">{{instance.country.name}}
                  <img src="{{instance.country.flag}}" alt=""></span>
              </td>
              <td>{{instance.admin.created_at|date:"d/m/Y"}}</td>
              <td>
                <a href="#" class="btn btn-danger btn-rounded" data-toggle="modal"
                           data-target="#delete-user-{{instance.admin.slug}}">
                           <i data-feather="trash"></i> Delete User</a>
              </td>
            </tr>
            <!-- Delete User Modal -->
            <!-- Modal -->
            <div class="modal fade" id="delete-user-{{instance.admin.slug}}" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">
                              Confirm</h5>
                          <button type="button" class="close" data-dismiss="modal"
                                  aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form method="post"
                            action="{% url 'administration:delete_user_twfl' instance.admin.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="redirect" value="{{request.path}}">
                          <div class="modal-body text-left">
                              <h5>Are you sure you want to do delete this {{instance.admin.user_type|getuser}} {{instance.admin.first_name}}?</h5>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-rounded btn-indigo reject"
                                      data-dismiss="modal">Close
                              </button>
                              <button type="submit" class="btn btn-rounded btn-indigo">
                                  Confirm
                              </button>
                          </div>
                      </form>
                  </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div style="text-align:center;">
          <p>No Parents Available !!!!</p>
        </div>
        {% endif%}
      </div>
    </div>
  </div>
</div>
<div class="">
  <p>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>
  <div class="d-flex justify-content-center">
    <ul class="pagination pagination-circled">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">
          <i data-feather="arrow-left">
          </i>
        </a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">
          <i data-feather="arrow-right">
          </i>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  $('#id_admin__spoken_languages').select2();
  var id;
  function change_is_active(id) {
    if (confirm('Do you really want to do this action')) {
      $('#' + id).submit();
    }
    else{
        location.reload();
    }
  }
  $(document).ready(function () {
    $('#id_work_type').select2({
      placeholder: 'Choose Recruiter Type', searchInputPlaceholder: 'Search'
    });
  });
</script>
{% endblock %}