{% extends 'base/base.html' %}
{% block title%}Edit Profile{% endblock %}
{% load crispy_forms_tags %}
{% load administration_extras %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
<style>
    {% if not student.consent1 %}
    .afm-header-menu ul {
        display: none;
    }
    .afm-header-right {
        display: none;
    }
    .signout ul {
        display: block;
    }
    .floating-menu-area {
        display: none;
    }
    {% endif %}

    .sample-profile {
        display: flex;
        justify-content: space-between;
    }

    .select2 {
        width: 100% !important;
    }

    input#file-upload-button {
        background: #141F42 !important;
        color: #fff !important;
    }
</style>
{% endblock%}

{% block content %}
<form method="POST" id="update-profile-form" enctype="multipart/form-data">
    {% csrf_token %}
    <nav aria-label="breadcrumb" class="sample-profile">
        <ol class="breadcrumb breadcrumb-style1">
            <li class="breadcrumb-item">
                <a href="{% url 'administration:dashboard' %}" >Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Update Profile</a>
            </li>
        </ol>
    </nav>
    
    
    <div class="row row-sm mg-b-20">
        <div class="col-sm-12 col-lg-12">
            <div class="card card-table-one" id="questions_section">
                <h6 class="card-title">
                    <i data-feather="flag">
                    </i>Your Experience at AP
                </h6>
                <hr>
                <div class="row row-sm mg-b-10">
                    <div class="col-xl-6 col-sm-12">
                        {{form.q1|as_crispy_field}}
                    </div>
                    <div class="col-xl-6 col-sm-12">
                        {{form.q2|as_crispy_field}}
                    </div>
                </div>
                <div class="row row-sm mg-b-10">
                    <div class="col-xl-6 col-sm-12">
                        {{form.q3|as_crispy_field}}
                    </div>
                    <div class="col-xl-6 col-sm-12">
                        {{form.q4|as_crispy_field}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row ">
        <div class="col-12">
            <div class="app-footer-line"></div>
            <div class="step-btn three-btn mg-t-20">
                <div>
                    <a type="button" class="btn btn-outline-indigo btn-rounded"
                       href="{% url 'administration:current_student_profile_step_1' %}"
                       role="menuitem"><span class="iconify"
                       data-icon="bi:arrow-left" data-inline="false"></span> Previous
                    </a>
                </div>
                <div>
                    <a type="button" class="btn btn-outline-indigo btn-rounded"
                       href="{% url 'administration:current_student_profile_step_3' %}"
                       role="menuitem"> Skip
                    </a>
                    <button class="btn btn-outline-indigo btn-rounded" > Save & Continue
                        <span class="iconify"
                              data-icon="bi:arrow-right" data-inline="false"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block js %}
<script src="{% static 'administration/js/current_student_profile.js' %}"></script>

{% if not student.consent1 %}
<script>
    $("<div class='afm-header-menu signout'><ul class='nav'><li class='nav-item'><a href='{% url 'logout' %}'><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-log-out'><path d='M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4'></path><polyline points='16 17 21 12 16 7'></polyline><line x1='21' y1='12' x2='9' y2='12'></line></svg></a><a href='{% url 'logout' %}' class='nav-link'> Sign Out</a></li></ul></div>").insertAfter(".afm-header-right");
</script>
{% endif %}

{% endblock js %}