{% extends 'base/base.html' %}
{% block title %}Application{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="az-content pd-y-20">
    <div class="container">
        <div class="az-content-body">


            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1">
                    <li class="breadcrumb-item"><a href="{% url 'administration:dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item">Give Feedback to Alumni {{mentor.admin.first_name}}
                        {{mentor.admin.last_name}}
                    </li>
                </ol>
            </nav>

            <div class="page-header">
                <h3 class="faq-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-thumbs-up">
                        <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                    </svg>
                    We Appriciate your Feedback
                </h3>
            </div>


            <form method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <div class="card card-table-one">
                                <!--                                <h5>Fill the following<span class="asteriskField">*</span></h5></label>-->
                                <h6 class="card-title"><i data-feather="user-check"></i> Fill the Following</h6>
                                <hr>
                                <div class="row">
                                    <!--                                        <div class="col-xl-12 col-md-12 col-sm-12">-->
                                    <!--                                                <ul id="id_rate" class="rating__list">-->

                                    <!--                                                    <li><div class="rating__item">-->
                                    <!--                                                        <input type="radio" class="rating__input rating&#45;&#45;1" name="rate" id="id_rate_1" required="" value="1">-->
                                    <!--                                                        <label for="id_rate_1" class="rating__label rating&#45;&#45;1"><i class="em em-angry"></i></label>-->
                                    <!--                                                    </div></li>-->

                                    <!--                                                    <li><div class="rating__item">-->
                                    <!--                                                        <input type="radio" class="rating__input rating&#45;&#45;2" name="rate" id="id_rate_2" required="" value="2">-->
                                    <!--                                                        <label for="id_rate_2" class="rating__label rating&#45;&#45;2"><i class="em em-disappointed"></i></label>-->
                                    <!--                                                    </div></li>-->

                                    <!--                                                    <li><div class="rating__item">-->
                                    <!--                                                        <input type="radio" class="rating__input rating&#45;&#45;3" name="rate" id="id_rate_3" required="" value="3">-->
                                    <!--                                                        <label for="id_rate_3" class="rating__label rating&#45;&#45;3"><i class="em em-expressionless"></i></label>-->
                                    <!--                                                    </div></li>-->

                                    <!--                                                    <li><div class="rating__item">-->
                                    <!--                                                        <input type="radio" class="rating__input rating&#45;&#45;4" name="rate" id="id_rate_4" required="" value="4">-->
                                    <!--                                                        <label for="id_rate_4" class="rating__label rating&#45;&#45;4"><i class="em em-grinning"></i></label>-->
                                    <!--                                                    </div></li>-->

                                    <!--                                                    <li><div class="rating__item">-->
                                    <!--                                                        <input type="radio" class="rating__input rating&#45;&#45;5" name="rate" id="id_rate_5" required="" value="5">-->
                                    <!--                                                        <label for="id_rate_5" class="rating__label rating&#45;&#45;5"><i class="em em-star-struck"></i></label>-->
                                    <!--                                                    </div></li>-->

                                    <!--                                                </ul>-->
                                    <!--                                        </div>-->
                                </div>

                                {% crispy form %}
                                <div class="d-flex justify-content-start mg-b-20">
                                    <button type="submit" class="btn btn-outline-indigo btn-rounded mg-r-5">Submit
                                    </button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </form>


        </div><!-- afm-content-body -->
    </div>
</div>
{% endblock %}