.applypool-login .theme-btn {
  border: 1px solid #08498E !important;
  color: #08498E !important;
}
.applypool-login .theme-btn a {
  color: #08498E !important;
}
a, h1, h2, h3, h4, h5, h6 {
  color: #3A3D4D;
}
.btn-indigo {
  color: #fff;
  background-color: #08498E;
  border-color: #08498E;
}
.btn-indigo:hover {
  color: #fff !important;
  background-color: #08498E;
  border-color: #08498E;
}
.btn-outline-indigo:hover, .btn-outline-indigo:focus {
  background-color: #08498E;
  color: #fff;
}
.btn-indigo:focus, .btn-indigo.focus{
  background-color: #08498E;
}
.btn-outline-indigo {
  border-color: #08498E;
  color: #08498E;
}
.ribbon span {
  background: linear-gradient(#08498E 0%, #08498E 100%) !important;
}
.afm-header-menu .nav-item.active > .nav-link, .afm-header-menu .nav-item.active svg.feather{
  color: #3A3D4D;
}
.afm-header-menu .nav-item > .nav-link:hover {
  color: #3A3D4D;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #08498E;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: #08498E;
}
.ul-steps ul li .active, .ul-steps ul .active .step {
  background: #08498E !important;
  border: 1px solid #08498E !important;
}
a:hover {
  color: #3A3D4D;
  text-decoration: none;
}
.consent h5 {
  font-size: 18px;
  color: #3A3D4D;
}
.step-btn > .completed{
   border: 1px solid #08498E;
   color: #08498E;
}

.step-btn > .completed:hover{
   color: #fff;
}

.custom-file-input:lang(en) ~ .custom-file-label::after{
    background: #08498E !important;
}


.custom-control-input:checked ~ .custom-control-label::before{
    border-color: #08498E !important;
    background-color: #08498E !important;
}

.add-institute{
   border-color: #08498E !important;
}

.submit-btn{
   background-color: #08498E;
}
.submit-btn:hover {
  background: #08498E;
}

.az-profile-menu .dropdown-item:hover, .az-profile-menu .dropdown-item:focus{
  color: #3A3D4D;
}
.dropdown-menu , .az-chat-msg-name h6 , .pro-detail .nav-pills .nav-link.active ,.pro-detail .nav-pills .nav-link.active:focus, .pro-detail .nav-pills .nav-link.active:hover{
  color: #3A3D4D;
}
.az-chat-body .media.flex-row-reverse .az-msg-wrapper{
 background: #08498E;
}
.pro-detail .nav-link.active {
  border-bottom: 2px solid #3A3D4D;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus , .nav-pills .nav-link:hover, .nav-pills .nav-link:focus{
    color:#3A3D4D;
}

.all-list .nav-pills .nav-link.active{
    border-bottom: 1px solid #3A3D4D;
    color: #3A3D4D !important;
}

.modal-title{
  color: #3A3D4D;
}

#mainMenu.menu-outline nav > ul > li.current > a, #mainMenu.menu-outline nav > ul > li:focus > a{
 border-color:#08498E;
        background-color:#08498E;
}

#mainMenu nav > ul > li > a{
 color: #3A3D4D;
}

.register-tabs .nav-pills .nav-link.active:hover , .register-tabs .nav-pills .nav-link.active:focus{
  color:#fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color:#08498E;
}
#scrollTop{
    background-color:#08498E;
}

.theme-btn{
  background:#08498E;
}

.login-heading{
    color: #3A3D4D !important;
}

::selection, ::-moz-selection{
    background:#08498E;
}

body::-webkit-scrollbar-thumb{
    -webkit-border-radius:10px;
    border-radius:10px;
    background:#08498E;
}

@media (min-width:1024px){

    #mainMenu.menu-outline nav>ul>li:hover>a{
        color:#fff;
        border-color:#08498E;
        background-color:#08498E;
    }
}

.afm-minimal {
    background-color: #48aed91a !important;
}

._hj_feedback_container ._hj-ETLL8__MinimizedWidgetMiddle__label {
    background-color: #08498E !important;
}

.select-user .radio input:checked~.checkmark:before {
    background: #08498E;
    border: 1px solid #fff;
}

.select-user .radio input:checked~.checkmark {
    border: 1px solid #08498E;
    background: #08498E;
}

.select-user svg.feather {
    color: #08498E;
}
.select-user .radio input:checked~.checkmark svg.feather, .select-user .radio input:checked~.checkmark  {
    color: #fff;
}
.select-user .radio input:checked~.checkmark span {
    background: #08498E;
    box-shadow: unset;
}
.nav-item svg.feather {
  stroke-width: 1px;
  color: #3A3D4D;
}