.drop_area{
    position: relative;
}
.droparea input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    background-color: #041428;
    color: #041428;
    /* content: "4"; */
}
.peti i{
    font-size: 28px;
}

.drop_area h6{
    margin: 0;
}

.dropzone{
    background-color: #f5f8ff;
    border: 2px dashed rgba(0, 0, 0, 0.3) !important;
    border-radius: 8px;
    /* height: 70px !important; */
}
.drop_area input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    cursor: pointer;
    background-color: #041428;
    color: #041428;

}
.peti {
    /* background-color: #eee; */
    min-height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dz-image{
    height:100px;
    width:auto;
}
#update-profile-form .dz-image{
    height:200px;
    width: 200px;
}
