/* HOW IT WORK */

@font-face {
font-family: 'poppins';
src:url("../fonts/Poppins-regular.ttf") format("ttf");
src:url("../fonts/poppins-regular.woff") format("woff");
}

ol{
  margin: 0px;
  padding: 0px;
}
.work-content{
	border-radius: 8px;
	text-align: center;
	margin: 0px auto;
	padding: 175px 100px;
}
.work-content h3{
	font-size: 20px;
	color:#141E42;
}
.underline{
	height: 2px;
	width: 39px;
	background-color: #141E42;
	margin: 0px auto 15px;
}
.work-content p{
	font-size: 16px;
	color: #8E8E8E;
	margin: 0px auto 50px;
	width: 40%;
}
/* FAQ PAGE */
.faq-content{
	padding: 10px;
}
.faq-content .card .card-body{
	box-shadow: none;
}
.faq-title{
	text-align: center;
	margin-bottom: 30px;
	font-size: 24px;
}
.page-header .faq-title i{
	color: #777;
}
.faq-content h3{
	font-size: 20px;
	color: #494848;
}
.faq-content .accordion .card {
    box-shadow: none;
}
.faq-content .card-header a{
	background: none;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: none;
}
.faq-content .mb-0{
	border-bottom: 1px solid #e7e7e7;
}
.faq-content .accordion .card-body {
    padding: 20px;
    background-color: #fff;
    transition: none;
    line-height: 25px;
}
.faq-content .accordion .card-header a.collapsed {
    color: #596882;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
}
.faq-content .accordion .card .card-header a[aria-expanded="true"] {
    color: #494848;
}

/* TECH SUPPORT */
.support-section1{
	padding: 15px;
}
.phone-contact{
	vertical-align: middle;
	padding: 50px 120px;
}
.phone-contact h3{
	font-size: 24px;
}
.phone-contact h3 svg{
	margin-right: 5px;
}
.phone-contact p{
	font-size: 18px;
	margin-left: 15px;
}
.phone-contact p span{
	margin-left: 10px;
}
.location-contact{
	border-left: 1px solid #B9CCE0;
}
.support-card{
	padding: 15px;
	margin-top: 15px;
}
.support-section2 h3{
	font-size: 24px;
	text-align: center;
	margin: 30px 0px 0px;
}
.support-img{
	padding: 50px 50px;
	overflow: hidden;
}
.support-img img{
	float: right;
	width: 70%;
	height: auto;
}
.support-form {
    padding: 50px 30px;
    vertical-align: middle;
    margin-top: 80px;
}
.support-form input{
    border: 1px solid #D6DCEF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 15px;
}

.support-form textarea{
    border: 1px solid #D6DCEF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 15px 44px;
}
.submit-btn{
	background: #141E42;
	margin-top: 15px;
	border-radius: 31px;
	padding: 10px 30px;
	font-size: 16px;
}

.submit-btn:hover{
	background: #141E42;
}
.btn-az-primary:not(:disabled):not(.disabled):active {
	 color: #fff;
    background-color: #141E42;
    border-color: #141E42;
}
.btn-az-primary:focus{
	 color: #fff;
    background-color: #141E42;
    border-color: #141E42;
    box-shadow: none;
}


/* FEEDBACK CSS */


ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.rating {
  max-width: 400px;
  background: #fff;
  padding: 1em;
  border-radius: 3px;
}
.rating__title {
  text-align: center;
  font-weight: 700;
  display: block;
}
.rating__list {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}
.rating__input {
  display: none;
}
.rating__label {
  padding: 5px 3px;
  font-size: 26px;
  filter: grayscale(1);
  opacity: 0.7;
  cursor: pointer;
}
.rating__label.active {
  filter: grayscale(0);
  opacity: 1;
  transition: all 100ms ease;
}
.rating__label:hover {
  filter: grayscale(0.84);
  transform: scale(1.1);
  transition: 100ms ease;
}

.cb911_logo {
  width: 250px;
  position: absolute;
  top: 1em;
  left: 50%;
  margin-left: -125px;
}

button {
  color: #ecedef;
  background-color: #9a9da8;
  border-radius: 3px;
  border: 0;
  padding: 9px 15px;
  font-size: 15px;
}

button.not-disabled {
  color: white;
  background-color: #c80000;
  text-shadow: 0px 1px 1px #620000;
  cursor: pointer;
}
button.not-disabled:hover {
  background-color: #950000;
  transition: 100ms;
}
.choose-categories {
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
    display: flex;
    margin: 30px 0px;
}

.choose-categories li {
    width: 100%;
    height: 50px;
    position: relative;
    margin-right: 15px;
}

.choose-categories label,
.choose-categories input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.choose-categories input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.choose-categories input[type="radio"]:checked+label,
.Checked+label {
  background: #303858;
  color: #ffffff;
}

.choose-categories label {
    border: 1px solid #BEC7DE;
    cursor: pointer;
    z-index: 90;
    text-align: center;
    padding: 10px 0px;
    border-radius: 50px;
    display: block;
}
.choose-categories label:hover {
  background: #f5f8ff;
}
.feedback-category textarea{
	padding: 20px;
}
.feedback-category button{
	margin-top: 20px;
	border-radius: 50px;
	padding: 10px 25px;
	margin-bottom: 30px;
}
.feedback-img{
	display: flex;
	justify-content: center;
}
/*APPLICATIN STEP 10*/
.step10{
	padding: 100px;
}
.step10 h3{
	font-size: 30px;
	color:#141E42; 
}
.step10 p{
	 font-size: 20px;
    color: #666666;
    margin: 0px auto 50px;
    width: 55%;
}
.step10 img{
	display: block;
	margin:0px auto 30px auto;
}



/*MESSAGE*/
.chats{
	border-right: 1px solid #e0e0e0;
}
.chats img{
	margin-top: 15px;
}
.message-search {
	padding: 20px 0px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 20px;
}
.search-icon > .form-control:not(:last-child), .search-icon > .custom-select:not(:last-child) {
    border-top-right-radius: 18.5px;
    border-bottom-right-radius: 18.5px;
    background: #e8edf8;
}
.message-search input{
	background: #F5F8FF;
	border-radius: 18.5px;
}
.media-body{
	margin-left: 10px;
}
.nav-pills .nav-link.active{
	border-radius: 0px;
    background-color: #E8EDF8;
}.media-contact-name h5{
	margin: 20px 0px 0px;
}
.az-img-user {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    vertical-align: middle;
    display: block;   
}
.az-chat-header .az-img-user img{
	margin-top: 0px;
}
.book-appontment{
	line-height: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.az-chat-header .nav-link + .nav-link {
    margin-left: 0px;
}
.more-vertical:hover{
	color: #000;
}
.flex-row-reverse .az-img-user img{
	margin-top: 0px;
}
.reverse .az-img-user img{
	margin-top: 0px;
}
.az-msg-wrapper {
    background-color: #e8edf8;
}
.chat-footer input{
	background: #E8EDF8;
    border-radius: 21px;
    padding: 15px 15px 10px 15px;

}
.message-tabs{
	border-bottom: 1px solid #E8EDF8
}
.az-img-user::after{
	display: none;
}

.media-contact-name{
	margin-left: 10px;
	position: relative;
}
.message-search button{
	background: #0000;
    position: absolute;
    right: -8px;
    top: 22px;
    z-index: 9999;
}
.chat-footer .type-msg{
	padding: 10px 15px;
}

.chat-footer .form-control:hover, .chat-footer .form-control:focus {
    box-shadow: none;
    background: #e8edf8;
}
.search-icon  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #0040ff00;
    border-color: #0040ff00;
    box-shadow: none;
}
.search-icon .btn-primary:not(:disabled):not(.disabled):active, .search-icon  .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0040ff00;
    border-color: #0040ff00;
}
.message-search button:hover{
	background: none;
}
.az-chat-footer{
	border-top: none;
}
.az-msg-send i{
	color: #555;
}
.chat-footer .az-msg-send{
	width: 38px;
    height: 38px;
    background: #141e42;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
}
.chat-footer svg.feather{
	color: #fff;
	margin-top: 5px;
	width: 18px;
}
.media-contact-name p span{
	position: absolute;
	right: 0px;
	top: 10px;
    background: green;
    color: #fff;
    padding: 0px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
}
.az-img-user.online::after{
	display: none;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #666;
}
.nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
    color: #666;
}

/*MENTOR*/

.all-terms{
  text-align: center;
  color: #ED1C24;
  display: block;
}
.az-chat-msg-name h6 {
    font-weight: 500;
}
.mentor-title{
	text-align: center;
}
.about-john{
  padding: 0px;
}
.back-to-search{
  margin: 15px 0px;
  display: block;
}
.mentor-profile{
  padding-top: 50px;
  text-align: center;
  align-items: center;
}
.mentor-photo h3{
  margin: 15px 0px 5px;
}
.mentor-photo .line{
  width: 50%;
  height: 1px;
  background: #e7e7e7;
  padding: 1px;
  margin: 20px auto;
}
.about-me{
  text-align: center;
  padding: 0px 50px;
}
.about-me p{
  text-align: left;
  color: #6C6C6C;
  font-size: 14px;
  margin-bottom: 100px;
}
.about-me .submit-btn{
  display: block;
  margin: 0px auto;
  width: 100%;
}
.about-tab .tb{
  align-items: center;
  justify-content: space-around;
}
.about-tab .tb li{
  font-size: 18px;
}
/*.about-tab .tb li a{
  padding: 0px 90px 15px;
}*/
.about-tab .nav-pills .nav-link.active {
    background-color: #e8edf800;
    border-bottom: 1px solid #141E42;
    padding: 15px 0;
}
.about-university{
  padding: 30px;
  background: #fff;
  box-shadow: 0px 5px 18px -7px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.about-tab .tb li{
  width: 33%;
}

.uni-1{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}
.uni-1 ul{
    list-style-type: none;
}
.uni-1 ul li{
  padding-bottom: 10px;
  font-weight: 600;

}
.uni-1 .spoken-eng{
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-right: 30px;
}
.spoken-eng li span{
  font-weight: 400;
  margin-left: 25px;
  text-transform: initial;
}
.spoken-eng ul {
  display: inline-block;
}
.spoken-eng li span ul li{
  display: inline-block;
}
.spoken-eng li span svg.feather{
 width: 16px;
}
.spoken-eng li span ul li a {
    width: 30px;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
    border-radius: 100%;
    text-align: center;
    background: #EAF0FF;
    display: block;
}
.spoken-eng li br{
  display: none;
}
.uni-img-title {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
.about-university-2 {

}
.about-university-2{
  background: #fff;
  box-shadow: 0px 5px 18px -7px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.myskill{
  padding: 30px;
  border-bottom: 1px solid #e7e7e7;

}
.myskill h3{
  font-size: 20px;
   margin: 0px;
}
.myskill svg{
  width: 40px;
}
.myskill-text{
  border-bottom: none;
}

.uni-tab2 h3{
  font-size: 18px;
  color: #141E42;
  margin: 20px 0px 10px;
}
.uni-tab2 p{
  font-size: 14px;
}
.uni-tab2 p span{
  float: right;
}
.underline-2{
  width: 100%;
  background: #e7e7e7;
  height: 1px;
  margin-bottom: 30px;
}
.testimonials h5{
  margin-top: 30px;
}
#collapseExample1 {
    position: absolute;
    top: 38px;
    right: 10px;
    width: 15%;
    z-index: 9999;
}

#collapseExample1 svg.feather {
    color: #656565;
    width: 16px;
    margin-right: 5px;
}

/*FORM APPLYCATION*/
.wizard > .steps .current a .number{
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    color: #ffffff;
}
.wizard > .content {
    border-top: none;
    border-bottom: 1px solid #e3e7ed;
    min-height: 150px;
    padding: 20px;
}
.wizard > .actions > ul {
    justify-content: space-between;
}
.actions ul li{
  margin-left: 15px;
}
.wizard > .actions a{
  border-radius: 50px;
}
.wizard > .steps{
  border-bottom: 20px solid #f5f8ff;
  padding: 20px 10px 10px;

}
.wizard > .steps > ul li + li {
    margin-left: 25px;
}
.wizard > .steps > ul li .title {
    margin: 5px auto;
    font-size: 12px;
    font-weight: 400;
}
.wizard > .steps .done a .number{
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 23px;
}
.wizard > .steps a .number{
  font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 23px;
}
.wizard > .steps > ul li {
    float: none;
    display: inline-block;
    width: auto;
    margin: 0px auto;
}
.wizard > .steps .done a .number{
  background-color: #141e42;
}
.wizard > .steps .done a{
      color: #141e42;
      display: block;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    color: #141e42;
}
.wizard > .steps .done a .number, .wizard > .steps .done a:hover .number, .wizard > .steps .done a:active .number {
    background-color: #141e42;
    color: #fff;
}
.wizard > .steps a .number, .wizard > .steps a:hover .number, .wizard > .steps a:active .number {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    width: 25px;
    height: 25px;
    margin: 0px auto;
    background: #F5F8FF;
    border:1px solid #C9D4ED;
    color: #141E42;
}
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    color: #97a3b9;
    display: block;
}
.wizard > .steps .current a .number, .wizard > .steps .current a:hover .number{
  color: #fff;
}
.wizard > .steps .current a{
  display: block;

}
.wizard > .steps .current a .title{

    margin: 5px auto;
}
.pd-lg-l-40 {
    padding-left: 0px;
}
#wizard1-t-0{
  display: block;
}
#wizard1-t-0 .number{
  margin: 0px auto;
}
#wizard1-t-0 .number{
  margin: 0px auto;
  color: #fff;
}
#wizard1-h-0{
  display: none;
}
.consent{
  padding: 15px;
  color: #666666;
}
.consent h5{
  font-size: 18px;
  color: #141E42;
}
.consent p{
  color: #666666;
  font-size: 16px;
   margin: 20px 0px;
}
.line-2{
  width: 100%;
  background: #e7e7e7;
  height: 1px;
  margin-top: 20px;
}
.document{
  width: 100%;
  background: #F5F8FF;
  padding: 30px 30px 20px;
  border: 1px solid #ACBFEE
}
.document p{
  margin-bottom: 10px;
  font-size: 16px;
  color: #434343;

}

.consent p span{
  font-weight: 500;
  font-size: 16px;
  color: #434343;
}
.rdiobox{
  margin-right: 15px;
  margin-left: 15px;
}

.consent .select2-container--default .select2-selection--single {
    background-color: #fff;
    border-color: #D6DCEF;
    border-radius: 8px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    
}
.consent .select2-container--default .select2-selection--single {
    background-color: #fff;
    border-color: #D6DCEF;
    border-radius: 8px;
}
.content .select2-selection{
  box-shadow: none;
}
.my-form .select2-selection{
  border-radius: 8px;
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #D6DCEF;

}
.form-group .form-control{
  
}
.my-form .select2-box input{
  border-radius: 8px;
    height: 50px;
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #D6DCEF;
}
.my-form .select2-box .select2-container{
  width: 100% !important;
}
.step-2 .select2-box input{
    border-radius: 8px;
    height: 50px;
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #D6DCEF;
}
.wizard > .content > .title.current {
    display: none;
}
.step-2{
  padding: 0px 15px;
}
.personal-info{
  padding: 15px;
}
.personal-info-2{
  padding: 15px 0px;
}
.personal label{
  display: block;
}
.personal .select2-box .select2  {
    width: 100% !important;
}
.step-2 .select2-box label{
  margin: 15px 0px 5px 0px;
  display: block;
}
.custom-file-container {
  
  margin: 0 auto;
}
.step-2 .select2{
  width: 100% !important;
}
.add-institute {
    text-align: center;
    margin: 20px auto;
    background: #eee;
    padding: 11px 0px;
    border-radius: 50px;
    color: #777;
    width: 20%;
    font-size: 16px;
}
.add-new-institute2{
  width: 26% ;
}
.upload-file{
  position: relative;
}
.et_pb_contact_form_label {
  display: block;
  color: black;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-size: 18px;
  padding-bottom: 5px;
}
.Website input[value="value"]{
  background: #000;
  color:#fff;
}

input[id="et_pb_contact_brand_file_request_0"] {
  display: none;
}
label[for="et_pb_contact_brand_file_request_0"] {
    background: #fff;
    height: 100px;
    background-image: url(https://image.flaticon.com/icons/svg/126/126477.svg);
    background-repeat: no-repeat;
    background-position: top 32px left 39%;
    color: transparent;
    margin: auto;
    width: 100%;
    border: 1px solid #a2a1a7;
    box-sizing: border-box;
    border-style: dashed;
    background-size: 3%;
}
label[for="et_pb_contact_brand_file_request_0"]:before {
  content: "Drag and Drop a file here";
  display: block;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #202020;
  font-weight: 400;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
label[for="et_pb_contact_brand_file_request_0"]:after {
  display: none;
  content: 'Browse';
  background: #16a317;
  width: 86px;
  height: 27px;
  line-height: 27px;
  position: absolute;
  bottom: 19px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
label[for="et_pb_contact_brand_request_0"]:after {
  content: " (Provide link or Upload files if you already have guidelines)";
  font-size: 12px;
  letter-spacing: -0.31px;
  color: #7a7a7a;
  font-weight: normal;
}
label[for="et_pb_contact_design_request_0"]:after {
  content: " (Provide link or Upload design files)";
  font-size: 12px;
  letter-spacing: -0.31px;
  color: #7a7a7a;
  font-weight: normal;
}
label[for="et_pb_contact_brand_file_request_0"].changed, label[for="et_pb_contact_brand_file_request_0"]:hover {
  background-color: #e3f2fd;
}
label[for="et_pb_contact_brand_file_request_0"] {
  cursor: pointer;
  transition: 400ms ease;
}
.file_names {
    display: block;
    position: absolute;
    color: black;
    left: 15px;
    bottom: -11px;
    font-size: 13px;
    font-weight: 300;
}
.writehere{
  text-align: right;
}
.or{
  text-align: center;
}
.or p{
      text-align: center;
    background: #f5f8ff;
    display: inline-block;
    padding: 10px;
    margin: 0px auto;
    border-radius: 100%;
    line-height: 16px;
}
.or::after{
  display: inline-block;
  content: "";
  border-top: 1px solid #B7B7B7;
  width: 30%;
  margin: 0 1rem;
  transform: translateY(-0.4rem);
}
.or::before{
    display: inline-block;
    content: "";
    border-top: 1px solid #B7B7B7;
    width: 30%;
    margin: 0 1rem;
    transform: translateY(-0.4rem);
}
.wizard > .actions > ul > li:last-child a {
    background-color: #141e42;
}
.submit-review h3{
  text-align: center;
}
.consent-review .consent-review2{
  display: flex;
  background: #f5f8ff;
  padding: 10px 10px;
  margin: 0px;
  border-bottom: 1px solid #B7B7B7;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}
.consent-review .consent-review2 h4{
   display: inline-block;
   margin-bottom: 0px;
   font-size: 17px;
}
.consent-review2 span{
  border: 1px solid #494949;
  border-radius: 8px;
}

.consent-review2 span button{
  padding: 5px 10px; 
}
.consent-review2 span button svg.feather{
  color: #777;
  width: 14px;
}
.consent-profile{
  padding: 30px 0px 15px;
}
.mentor-john{
  text-align: center;
  vertical-align: middle;
  display: block;
  background: #f5f8ff;
  width: 70%;
  height: auto;
  margin: 0px auto 15px;
  padding: 30px 0px 0px;
}
.mentor-john p {
    margin: 0px;
    background: #DBDFE8;
    color: #8e8e8e;
    padding: 10px;
    margin-top: 30px;
}
.consent-profile .uni-1{
  padding: 0px;
}
.consent-review {
  padding: 0px 20px;
}
.consent-profile .uni-1 ul li {
    padding-bottom: 15px;
    font-weight: 600;
}
.consent-review .spoken-eng li span {
    margin-left: 10px;
}
.consent-review .nav-pills .nav-link{
  font-size: 16px;
  color: #4c4c4c;
  padding-left: 0px;
}
.consent-review .nav-pills .nav-link.active {
    background-color: #e8edf800;
    border-bottom: 2px solid #a0a0a0;
    padding-left: 0px;
    
}
.consent-review .nav-pills {
  border-bottom: 1px solid #a0a0a0;
}
.consent-profile .uni-1 .spoken-eng li a{
    background: #f5f8ff;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}
.address {
  height: auto !important;
}





/*MENTOR CSS*/
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Upload";
    background: #141e42;
    color: #fff;
    border-radius: 0px 9px 9px 0px;
    padding-top: 10px;
}
.az-msg-wrapper{
      border-radius: 15px 15px 15px 0px;
}

.nav-item svg{
  font-size: 23px;
}
.az-profile-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494848;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 5px;
}
.az-profile-menu ul li span{
  font-weight: 700;
  color: #141e42;
}
/*.afm-mentor-student-details {
    display: flex;
    justify-content: center ;
    align-items: center;
}
*/
.country-flags svg.feather{
  width: 16px;
}
.pd-b-5 .d-md-block span{
  margin-right: 10px;
}
.tx-medium {
    margin-right: 5px;
    font-weight: 600;
}
.profile-share-via a svg{
      transform: rotate(360deg);
   
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #141e42;
    background: #e1eaff;

}
.profile-share-via a svg:hover{
    color: #ffffff;
    background: #141e42;
   transition:  0.5s ease-in;
}
.profile-bg{
  background: #E7EBFA;
}
.pro-name{
  margin: 0px auto;
}
.mentor-info{
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}
.mentor-info h5{
    padding: 20px;
    margin: 0px;
}
.mentor-info h5 span{
  margin-right: 15px;
}
.rdiobox span {
    padding-left: 13px;
    font-size: 14px;
}
.mentees-number h3{
      text-align: center;
    background: #f5f8ff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 100%;
    border: 1px solid #ddd;
    margin: 0px auto;
}
.line-3{
  padding: 15px;
  border-top: 1px solid #B9CCE0;
  text-align: center;
}
.line-3 p{
  margin: 0px;
  font-weight: 600;
}

.line-3 p span{
  margin-left: 10px;
  font-weight: 400;
}
.view-detail-btn{
  border: 1px solid #141e42;
}
.view-detail-btn:hover{
  background: #141e42;
  color: #fff;
  transition: 0.3s ease-in;
}
.view-detail-modal .modal-header {
  display: block;
    align-items: flex-start;
    padding:50px 0px 0px;
    border-radius: 8px;
    position: relative;
    border-bottom: none;
}
.view-detail-modal .modal-header .close {
    position: absolute;
    right: 15px;
    top: 15px;
}
.view-detail-modal .modal-header .modal-title{
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;

}
.modal-content {
    border-radius: 8px;
}
.view-detail-modal .modal-body{
  text-align: center;
  padding: 25px 0px 50px;
}
.custom-file-container__custom-file {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0;
    margin-top: 5px;
}
.upload-file .custom-file-label::after  {
    content: "Upload";
    background: #000;
    color: #fff;
    border-radius: 0px 20px 20px 0px;
}
.custom-file, .custom-file-input, .custom-file-label {
    height: 45px;
    padding-top: 10px;
}
.rdiobox2{
  display: inline-block;
}
.details .select2-container--default .select2-selection--single{
  background-color: #fff;
    border-color: #d6dcef;
    border-radius: 8px;
    height: 45px;
    outline: none;
    /* border-radius: 0; */
    box-shadow: none;
}
.file-custome{
  display: flex;
}
.logo-img{
      display: flex;
    align-items: center;
    margin: 0px auto;
}

.search-mentors input{
  border-radius: 50px 0px 0px 50px;
}
.search-mentors .input-group-text{
  background: #141e42;
}
.search-mentors svg.feather {
    color: #ffffff;
}
.message-search svg.feather{
    color: #144c9d;
}
.wizard > .steps .done a .title{
  display: block;
}
.search-mentor{
  position: relative;
}
.search-mentor .input-group > .form-control:not(:last-child){
    border-radius: 27px;
    border: none;
    height: 55px;
}
.search-mentor button {
    position: absolute;
    right: 10px;
    padding: 6px;
    top: 10px;
    border-radius: 50px;
    width: 9%;
    background: #141e42;
}



















@media only screen and (max-width: 1024px) {

.afm-header-menu .nav-item > .nav-link {
    font-size: 13px;
}
.afm-header-menu .nav-item + .nav-item {
    margin-top: 0;
    margin-left: 25px;
}
.uni-1 .spoken-eng {
    margin-right: 0px;
}

.about-me {
    text-align: center;
    padding: 0px 10px;
}
.about-me p {
    margin-bottom: 50px;
}
.hindi2{
  margin-left: 30px;
}
.uni-img-title h3{
  font-size: 18px;
}

.about-university {
    padding: 15px;
}
.spoken-eng li span {
    margin-left: 0px;
}
.spoken-eng li br{
  display: block;
}
.about-me .submit-btn {
    padding: 13px;
    font-size: 14px;
}
.wizard > .steps .done a .number {
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 16px;
}

.wizard > .steps {
    border-bottom: 20px solid #f5f8ff;
    padding: 12px 10px 5px;
}
.wizard > .steps > ul li + li {
    margin-left: 8px;
}
.wizard > .steps a .number{
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    width: 20px;
    height: 20px;
}
.wizard > .steps .current a .number {
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 19px;
    color: #ffffff;
}
.select2-container {
    margin-right: 15px;
    width: 100%;
}
.my-form .form-group .mbbs {
    height: 50px !important;
}
label[for="et_pb_contact_brand_file_request_0"] {
    background-position: top 37px left 35.5%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 43px;
}
.my-form .select2-selection {
    padding: 0px;
}
.add-institute {
    width: 30%;
}
.add-new-institute2 {
    width: 35%;
}





}



@media (max-width:425px) {


.search-mentor .col-12{
  padding: 0px;
}
.search-mentor button {
    position: absolute;
    right: 10px;
    padding: 6px;
    top: 10px;
    border-radius: 50px;
    width: 35%;
    background: #141e42;
}
.document {
    padding: 20px 20px 10px;
}
.work-content {
    padding: 30px;
}
.work-content p {
    width: 100%;
}
.consent p {
    font-size: 14px;
    margin: 5px 0px;
}
.faq-content .accordion .card .card-header a:before {
    font-family: "typicons";
    position: absolute;
    right: 0.3rem;
    top: 1rem;
    font-size: 18px;
    display: block;
}
.faq-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
}
.faq-content h3 {
    font-size: 18px;
    text-align: center;
}
.faq-content p{
	text-align: center;
}
.phone-contact {
    vertical-align: middle;
    padding: 30px;
}
.location-contact {
    border-top: 1px solid #B9CCE0;
     border-left: none;
}
.phone-contact{
	text-align: center;
}
.phone-contact p {
    font-size: 14px;
    margin-left: 0px;
    text-align: center;
}
.phone-contact p span {
    margin: 0px 1px;
}
.support-img {
    padding: 30px;
    overflow: hidden;
}
.support-img img {
    float: none;
    width: 100%;
    height: auto;
}
.support-section2 h3 {
    font-size: 20px;
    text-align: center;
    margin: 15px 0px 0px;
}
.support-form {
    padding: 15px 15px;
    vertical-align: middle;
    margin-top: 0px;
}
.donate-now {
    display: block;
}
.feedback-content{
	text-align: center;
}
.submit-btn{
	width: 100%;
}
.step10 h3 {
  font-size: 24px;
}
.step10 p {
  font-size: 16px;
   margin: 15px auto 25px;
}

.mentor-profile {
    padding-top: 0px;
}
.about-me {
    padding: 0px;
}
.about-me p {
    text-align: center;
    margin-bottom: 15px;
}
.about-tab .nav-pills .nav-link{
   padding: 10px 0;
}
.about-tab .nav-pills .nav-link.active {
    background-color: #141e4200 !important;
    border-bottom: 2px solid #141e42;
       border-radius: 0;
    color: #141e42;
    width: 100%;
}

.about-john .nav{
  flex-wrap: nowrap;
}
.about-university {
    padding: 15px;
}
.spoken-eng, .hindi{
  padding: 10px;
  font-size: 12px;
  vertical-align: middle;
  margin-right: 0px;
}
.uni-1 .spoken-eng {
    margin-bottom: 0px;
    margin-right: 0px;
}
.uni-img-title {
   padding-right: 0px;
}
.myskill {
    padding: 15px;
}
.mentor-photo .line {
    margin: 10px auto;
}
.spoken-eng{
  width: 100%;
  padding: 0px;
}
.spoken-eng li {
  font-weight: 600;
}
.spoken-eng li br{
  display: block;
}
.spoken-eng li span svg.feather{
   width: 16px;
}
.spoken-eng li span{
  font-weight: 400;
  margin-left: 0px;
}
.spoken-eng li span ul li{
  display: inline-block;
}
.spoken-eng li span ul li a{
    width: 30px;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
    border-radius: 100%;
    text-align: center;
    background: #EAF0FF;
    display: block;
}

.about-tab .tb li{
  width: 100%;
  justify-content: center;
  font-size: 14px;
}
.choose-categories {
    flex-wrap: wrap;
}

.afm-mentor-student-details .d-flex{
  justify-content: center;
}
.my-form .container {
  padding: 0px;
}
label[for="et_pb_contact_brand_file_request_0"]{
  background-image: none;
}

.add-institute {
    width: 50%;
}
.add-institute {
    margin: 15px auto;
    padding: 10px 0px;
    width: 85%;
    font-size: 14px;
}
.consent-profile {
    padding: 20px 0px 0px;
}
.wizard > .steps .done a{
  display: none;
}
.wizard > .steps > ul .first a{
  display: none;
}
.wizard > .steps > ul li + li {
    margin-left: 0px;
}

.search-mentor .col-12{
  padding: 0px;
}
.search-mentor button {
    position: absolute;
    right: 10px;
    padding: 6px;
    top: 10px;
    border-radius: 50px;
    width: 35%;
    background: #141e42;
}






}

@media (max-width:768px){

.search-mentor .col-12{
  padding: 0px;
}
.search-mentor button {
    position: absolute;
    right: 10px;
    padding: 6px;
    top: 10px;
    border-radius: 50px;
    width: 35%;
    background: #141e42;
}
}






ul{
  padding: 0px;
  margin: 0px;
}