{% load static %}
{% load administration_extras %}
{% include 'email/email_header.html' %}
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
                <div class="u-row"
                     style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                    <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                        <div class="u-col u-col-100"
                             style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
                            <div style="width: 100% !important;">
                                <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                                    <table style="font-family:'poppins',sans-serif;" role="presentation" cellpadding="0"
                                           cellspacing="0" width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td style="overflow-wrap:break-word;word-break:break-word;padding:33px 55px;font-family:'poppins',sans-serif;" align="left">
                                                <div style="color: #000000; line-height: 160%; text-align: left; word-wrap: break-word;">
                                                     <p style="font-size: 18px; line-height: 35.2px;">
                                                        Thank you for sending a message to the mentor below. A copy of
                                                         your message is given below.</p><br>
                                                     <p style="font-size: 18px; line-height: 35.2px;">
                                                        We will be in touch with you soon to arrange a Free Discovery
                                                        call.
                                                     </p><br>
<!--                                                    <p style="font-size: 14px; line-height: 160%;margin-bottom:10px">-->
                                                    <span style="font-size: 18px; line-height: 35.2px;">

                                                    Mentor Name :       <strong>{{mail_obj.mentor}} (ID : {{mail_obj.mentor.admin.slug}})</strong> <br>

                                                    Applicant Name :    <strong>{{mail_obj.first_name}}                 </strong><br>
                                                    Applicant is :      <strong>{{mail_obj.i_am}}                       </strong><br>
                                                    Applicant Mail :    <strong>{{mail_obj.email}}                      </strong><br>
                                                    Applicant age :     <strong>{{mail_obj.age_of_applicant}}           </strong><br>
                                                    Applicant Country : <strong>{{mail_obj.country.name}}               </strong><br>
                                                    Subject :           <strong>{{mail_obj.reasone_for_an_appointment}} </strong><br>
                                                    </span>
                                                    {% if mail_obj.message %}
                                                    <h3>Message :</h3>
                                                    <p style="font-size: 14px; line-height: 160%;">
                                                        {{mail_obj.message}}
                                                    </p>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% include 'email/email_footer.html' %}
